In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql.functions import substring, avg, sum
import pyspark.sql.functions as f

In [2]:
#CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
stadiums = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/FootballStadiums.db/deltalake_table/")
ballondor = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/deltalake_table/")

In [4]:
spark.table("FootballStadiums.deltalake_table").show()

+--------------------+-----------+--------------------+--------+-------+----------+-------------+
|             Stadium|       City|           Hometeams|Capacity|Country|Population|Confederation|
+--------------------+-----------+--------------------+--------+-------+----------+-------------+
| Stadiumi Besëlidhja|      Lezhë|          Besëlidhja|    7000|Albania|   2876591|         UEFA|
| Stadiumi Flamurtari|      Vlorë|    Flamurtari Vlorë|    8200|Albania|   2876591|         UEFA|
|       Stadiumi Laçi|       Laçi|             KF Laçi|    5000|Albania|   2876591|         UEFA|
|Stadiumi Niko Dovana|     Durrës|               Teuta|   12040|Albania|   2876591|         UEFA|
|Stadiumi Selman S...|     Tirana|KF Tirana, Dinamo...|    9500|Albania|   2876591|         UEFA|
| Stadiumi Skënderbeu|      Korçë|          Skënderbeu|    7500|Albania|   2876591|         UEFA|
|   Alashkert Stadion|    Yerevan|           Alashkert|    6850|Armenia|   2924816|         UEFA|
|     Banants Stadion|    Yerevan|             Banants|    4860|Armenia|   2924816|         UEFA|
|     Hrazdan Stadion|    Yerevan|     Ararat, Kilikia|   54208|Armenia|   2924816|         UEFA|
|  Republican Stadion|    Yerevan|       Pyunik, Uliss|   14403|Armenia|   2924816|         UEFA|
|     Allianz Stadion|     Vienna|               Rapid|   28345|Austria|   8857960|         UEFA|
|          BSFZ-Arena|     Vienna|       Admira Wacker|   12000|Austria|   8857960|         UEFA|
|     Cashpoint-Arena|     Altach|                 SCR|    8500|Austria|   8857960|         UEFA|
|      Casino-Stadion|    Bregenz|        Schwarz-Weiß|   11112|Austria|   8857960|         UEFA|
|Ernst-Happel-Stadion|     Vienna|                   -|   50865|Austria|   8857960|         UEFA|
|Fill Metallbau St...|       Ried|             SV Ried|    7600|Austria|   8857960|         UEFA|
|Franz-Fekete-Stadion| Kapfenberg|     Kapfenberger SV|   12000|Austria|   8857960|         UEFA|
|Fußballakademie B...|Mattersburg|      SV Mattersburg|    2500|Austria|   8857960|         UEFA|
|      Generali-Arena|     Vienna|             Austria|   13500|Austria|   8857960|         UEFA|
|Gernot Langes Sta...|    Wattens|         WSG Wattens|    5200|Austria|   8857960|         UEFA|
+--------------------+-----------+--------------------+--------+-------+----------+-------------+
only showing top 20 rows

In [5]:
spark.table("BallonDOr.deltalake_table").show()

+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
|Rank|              Player|             Club|     Nationality|Points| P1| P2| P3| P4| P5|Votes|Rankpts|Year|
+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
|   1|         Omar Sívori|         Juventus|           Italy|    46|  5|  3|  2|  1|  1|   12|   50.0|1961|
|   2|Luis Suárez Miram...|   Internazionale|           Spain|    40|  4|  3|  2|  1|  0|   10|   25.0|1961|
|   3|       Johnny Haynes|           Fulham|         England|    22|  2|  2|  1|  0|  1|    6|   16.7|1961|
|   4|          Lev Yashin|    Dynamo Moscow|          Russia|    21|  3|  0|  2|  0|  0|    5|   12.5|1961|
|   5|       Ferenc Puskás|   Real Madrid CF|         Hungary|    16|  1|  1|  1|  2|  0|    5|   10.0|1961|
|   6|  Alfredo Di Stéfano|   Real Madrid CF|           Spain|    13|  0|  1|  1|  2|  2|    6|    8.3|1961|
|   6|          Uwe Seeler|     Hamburger SV|         Germany|    13|  0|  1|  1|  2|  2|    6|    8.3|1961|
|   8|        John Charles|         Juventus|           Wales|    10|  1|  1|  0|  0|  1|    3|    6.3|1961|
|   9|     Francisco Gento|   Real Madrid CF|           Spain|     7|  0|  1|  1|  0|  0|    2|    5.6|1961|
|  10|      Bobby Charlton|Manchester United|         England|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|     Gerhard Hanappi|       Rapid Wien|         Austria|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|          José Águas|          Benfica|        Portugal|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|     José Santamaría|   Real Madrid CF|           Spain|     5|  0|  1|  0|  0|  1|    2|    5.0|1961|
|  10| Dragoslav Šekularac|Red Star Belgrade|      Yugoslavia|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  10|      Josef Masopust|      Dukla Praha|  Czechoslovakia|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  10|       Gyula Grosics|        Tatabánya|         Hungary|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  17|      Mikheil Meskhi|   Dinamo Tbilisi|          Russia|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|             Germano|          Benfica|        Portugal|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|  Danny Blanchflower|Tottenham Hotspur|Northern Ireland|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|         Kurt Hamrin|       Fiorentina|          Sweden|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
only showing top 20 rows

In [6]:
spark.sql(
    """
    DROP DATABASE IF EXISTS UC4_gl CASCADE
    """
)

DataFrame[]

In [7]:
#CREATE GOLD DATABASE
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS UC4_gl LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC4_gl.db/'
    """
)

#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS UC4_gl.ballon
    """
)

#CREATE THE TABLE IN GOLD
spark.sql(
    """
    CREATE EXTERNAL TABLE UC4_gl.ballon (
        Year INT,
        Player STRING,
        Club STRING,
        Nationality STRING,
        Population INT,
        Confederation STRING,
        Points INT,
        Points_avg DOUBLE, 
        PointsForN1 INT,
        PointsForN1_avg DOUBLE,
        PointsForN2 INT,
        PointsForN2_avg DOUBLE,
        PointsForN3 INT,
        PointsForN3_avg DOUBLE,
        PointsForN4 INT,
        PointsForN4_avg DOUBLE,
        PointsForN5 INT,
        PointsForN5_avg DOUBLE,
        Votes INT,
        Votes_avg DOUBLE,
        RankPoints DOUBLE,
        RankPoints_avg DOUBLE
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC4_gl.db/ballon/'
    """
)

DataFrame[]

In [8]:
from pyspark.sql.functions import substring, avg, sum
from pyspark.sql.functions import col, concat_ws, concat, lit, desc, asc

#JOIN THE TABLES
flat_balst_df = ballondor \
    .join(stadiums, ballondor.Nationality == stadiums.Country) \
    .withColumnRenamed("P1", "PointsForN1") \
    .withColumnRenamed("P2", "PointsForN2") \
    .withColumnRenamed("P3", "PointsForN3") \
    .withColumnRenamed("P4", "PointsForN4") \
    .withColumnRenamed("P5", "PointsForN5") \
    .withColumnRenamed("Rankpts", "RankPoints") \
    .select("Year", "Player", "Club", "Nationality", "Confederation", "Population", "Points", "PointsForN1", "PointsForN2", "PointsForN3", "PointsForN4", "PointsForN5", "Votes", "RankPoints")

#AGGREGATE DATA
balst_per_year_df = flat_balst_df \
    .orderBy(desc("RankPoints")) \
    .groupBy("Year", "Player", "Club", "Nationality", "Confederation", "Population") \
    .agg(
        sum(flat_balst_df.Points).cast('INT').alias("Points"),
        avg(flat_balst_df.Points).alias("Points_avg"),
        sum(flat_balst_df.PointsForN1).cast('INT').alias("PointsForN1"),
        avg(flat_balst_df.PointsForN1).alias("PointsForN1_avg"),
        sum(flat_balst_df.PointsForN2).cast('INT').alias("PointsForN2"),
        avg(flat_balst_df.PointsForN2).alias("PointsForN2_avg"),
        sum(flat_balst_df.PointsForN3).cast('INT').alias("PointsForN3"),
        avg(flat_balst_df.PointsForN3).alias("PointsForN3_avg"),
        sum(flat_balst_df.PointsForN4).cast('INT').alias("PointsForN4"),
        avg(flat_balst_df.PointsForN4).alias("PointsForN4_avg"),
        sum(flat_balst_df.PointsForN5).cast('INT').alias("PointsForN5"),
        avg(flat_balst_df.PointsForN5).alias("PointsForN5_avg"),
        sum(flat_balst_df.Votes).cast('INT').alias("Votes"),
        avg(flat_balst_df.Votes).alias("Votes_avg"),
        sum(flat_balst_df.RankPoints).alias("RankPoints"),
        avg(flat_balst_df.RankPoints).alias("RankPoints_avg"),
    )

#WRITE TO DELTA TABLE
balst_per_year_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/UC4_gl.db/ballon/")

balst_per_year_df.show()

#CHECK RESULTS
spark.table("UC4_gl.ballon").count()

+----+------------------+-------------------+-----------+-------------+----------+------+----------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----+---------+------------------+------------------+
|Year|            Player|               Club|Nationality|Confederation|Population|Points|Points_avg|PointsForN1|PointsForN1_avg|PointsForN2|PointsForN2_avg|PointsForN3|PointsForN3_avg|PointsForN4|PointsForN4_avg|PointsForN5|PointsForN5_avg|Votes|Votes_avg|        RankPoints|    RankPoints_avg|
+----+------------------+-------------------+-----------+-------------+----------+------+----------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----+---------+------------------+------------------+
|1972|       Piet Keizer|               Ajax|Netherlands|         UEFA|  17100715|   468|      13.0|          0|            0.0|         36|            1.0|         36|            1.0|          0|            0.0|        216|            6.0|  288|      8.0|             360.0|              10.0|
|2014|      Philipp Lahm|      Bayern Munich|    Germany|         UEFA|  82800000|  null|      null|       null|           null|       null|           null|       null|           null|       null|           null|       null|           null|    0|      0.0| 813.3999999999988| 8.299999999999988|
|1970|      Rinus Israël|          Feyenoord|Netherlands|         UEFA|  17100715|   252|       7.0|         36|            1.0|          0|            0.0|          0|            0.0|         36|            1.0|          0|            0.0|   72|      2.0|             180.0|               5.0|
|1962|       Omar Sívori|           Juventus|  Argentina|     CONMEBOL|  43847430|    72|       4.0|          0|            0.0|          0|            0.0|         18|            1.0|          0|            0.0|         18|            1.0|   36|      2.0|              81.0|               4.5|
|2015|Zlatan Ibrahimović|Paris Saint-Germain|     Sweden|         UEFA|  10215250|  1504|      47.0|       null|           null|       null|           null|       null|           null|       null|           null|       null|           null|    0|      0.0|             144.0|               4.5|
|1966|      Gordon Banks|     Leicester City|    England|         UEFA|  55619400|   232|       2.0|          0|            0.0|          0|            0.0|          0|            0.0|        116|            1.0|          0|            0.0|  116|      1.0| 417.6000000000007| 3.600000000000006|
|2009|     Nemanja Vidić|  Manchester United|     Serbia|         UEFA|   7001444|   192|       8.0|          0|            0.0|          0|            0.0|         24|            1.0|         24|            1.0|         72|            3.0|  120|      5.0|              74.4|               3.1|
|1963|     Ake Johansson|     IFK Norrköping|     Sweden|         UEFA|  10215250|    32|       1.0|          0|            0.0|          0|            0.0|          0|            0.0|          0|            0.0|         32|            1.0|   32|      1.0| 76.80000000000001|2.4000000000000004|
|1960| Antonio Angelillo|     Internazionale|      Italy|         UEFA|  60483973|    52|       1.0|          0|            0.0|          0|            0.0|          0|            0.0|          0|            0.0|         52|            1.0|   52|      1.0|114.40000000000009| 2.200000000000002|
|2004| Andriy Shevchenko|              Milan|    Ukraine|         UEFA|  42418235|  4725|     175.0|        729|           27.0|        135|            5.0|        135|            5.0|         54|            2.0|         27|            1.0| 1080|     40.0|            1350.0|              50.0|
|2006|        Ronaldinho|       FC Barcelona|     Brazil|     CONMEBOL| 210147125|  3066|      73.0|         84|            2.0|        210|            5.0|        252|            6.0|        420|           10.0|        210|            5.0| 1176|     28.0|             525.0|              12.5|
|1957|      John Charles|           Juventus|      Wales|         UEFA|   3125000|    98|      14.0|          7|            1.0|          7|            1.0|          7|            1.0|          7|            1.0|          0|            0.0|   28|      4.0|58.099999999999994| 8.299999999999999|
|1961|   Francisco Gento|     Real Madrid CF|      Spain|         UEFA|  46710000|   504|       7.0|          0|            0.0|         72|            1.0|         72|            1.0|          0|            0.0|          0|            0.0|  144|      2.0|403.20000000000044| 5.600000000000006|
|2004|      Rubén Baraja|           Valencia|      Spain|         UEFA|  46710000|   144|       2.0|          0|            0.0|          0|            0.0|          0|            0.0|         72|            1.0|          0|            0.0|   72|      1.0| 151.1999999999998| 2.099999999999997|
|2002|      Rubén Baraja|           Valencia|      Spain|         UEFA|  46710000|    72|       1.0|          0|            0.0|          0|            0.0|          0|            0.0|          0|            0.0|         72|            1.0|   72|      1.0| 151.1999999999998| 2.099999999999997|
|2000| Andriy Shevchenko|              Milan|    Ukraine|         UEFA|  42418235|  2295|      85.0|         81|            3.0|        216|            8.0|        189|            7.0|        216|            8.0|         27|            1.0|  729|     27.0| 450.8999999999998|16.699999999999992|
|1971|       Piet Keizer|               Ajax|Netherlands|         UEFA|  17100715|   324|       9.0|          0|            0.0|         36|            1.0|         36|            1.0|         36|            1.0|          0|            0.0|  108|      3.0|201.59999999999988| 5.599999999999997|
|1981|     David Kipiani|     Dinamo Tbilisi|     Russia|         UEFA| 144526636|   204|       6.0|         34|            1.0|          0|            0.0|          0|            0.0|          0|            0.0|         34|            1.0|   68|      2.0|             153.0|               4.5|
|1983|       Bruno Conti|               Roma|      Italy|         UEFA|  60483973|   208|       4.0|          0|            0.0|         52|            1.0|          0|            0.0|          0|            0.0|          0|            0.0|   52|      1.0|135.19999999999987|2.5999999999999974|
|1961|       Horst Nemec|       Austria Wien|    Austria|         UEFA|   8857960|    75|       3.0|          0|            0.0|          0|            0.0|         25|            1.0|          0|            0.0|          0|            0.0|   25|      1.0| 55.00000000000002| 2.200000000000001|
+----+------------------+-------------------+-----------+-------------+----------+------+----------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----------+---------------+-----+---------+------------------+------------------+
only showing top 20 rows

1696

In [9]:
balst_per_year_df.toPandas()

,Year,Player,Club,Nationality,Confederation,Population,Points,Points_avg,PointsForN1,PointsForN1_avg,...,PointsForN3,PointsForN3_avg,PointsForN4,PointsForN4_avg,PointsForN5,PointsForN5_avg,Votes,Votes_avg,RankPoints,RankPoints_avg
0,1972,Piet Keizer,Ajax,Netherlands,UEFA,17100715,468.0,13.0,0.0,0.0,...,36.0,1.0,0.0,0.0,216.0,6.0,288,8.0,360.0,10.0
1,2014,Philipp Lahm,Bayern Munich,Germany,UEFA,82800000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,813.4,8.3
2,1970,Rinus Israël,Feyenoord,Netherlands,UEFA,17100715,252.0,7.0,36.0,1.0,...,0.0,0.0,36.0,1.0,0.0,0.0,72,2.0,180.0,5.0
3,1962,Omar Sívori,Juventus,Argentina,CONMEBOL,43847430,72.0,4.0,0.0,0.0,...,18.0,1.0,0.0,0.0,18.0,1.0,36,2.0,81.0,4.5
4,2015,Zlatan Ibrahimović,Paris Saint-Germain,Sweden,UEFA,10215250,1504.0,47.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,144.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1691,1982,Marco Tardelli,Juventus,Italy,UEFA,60483973,52.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,52.0,1.0,52,1.0,171.6,3.3
1692,1994,Krassimir Balakov,Sporting CP,Bulgaria,UEFA,7050034,48.0,3.0,0.0,0.0,...,16.0,1.0,0.0,0.0,0.0,0.0,16,1.0,49.6,3.1
1693,1961,Viktor Ponedelnik,SKA Rostov-on-Don,Russia,UEFA,144526636,136.0,4.0,0.0,0.0,...,34.0,1.0,0.0,0.0,34.0,1.0,68,2.0,98.6,2.9
1694,1978,João Resende Alves,Benfica,Portugal,UEFA,10291027,38.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,38.0,1.0,38,1.0,91.2,2.4
1695,1976,Dieter Müller,1. FC Köln,Germany,UEFA,82800000,196.0,2.0,0.0,0.0,...,0.0,0.0,98.0,1.0,0.0,0.0,98,1.0,235.2,2.4

In [10]:
spark.sql(
    """
    GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/demo/gold/UC4_gl.db/ballon/`
    """
).show()

++
||
++
++

In [11]:
spark.sql("""
DROP TABLE IF EXISTS UC4_gl.ballon_presto
""").show()

spark.sql(
    """
    CREATE EXTERNAL TABLE IF NOT EXISTS UC4_gl.ballon_presto (
        Year INT,
        Player STRING,
        Club STRING,
        Nationality STRING,
        Population INT,
        Confederation STRING,
        Points INT,
        Points_avg DOUBLE, 
        PointsForN1 INT,
        PointsForN1_avg DOUBLE,
        PointsForN2 INT,
        PointsForN2_avg DOUBLE,
        PointsForN3 INT,
        PointsForN3_avg DOUBLE,
        PointsForN4 INT,
        PointsForN4_avg DOUBLE,
        PointsForN5 INT,
        PointsForN5_avg DOUBLE,
        Votes INT,
        Votes_avg DOUBLE,
        RankPoints DOUBLE,
        RankPoints_avg DOUBLE
    )
    ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
    STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
    OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC4_gl.db/ballon/_symlink_format_manifest/'
    """
).show()

++
||
++
++

++
||
++
++