In [2]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType, DateType
import pyspark.sql.functions as f

In [3]:
#SPARK CONFIG
warehouse_location = 'hdfs://hdfs-nn:9000/demo/'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
spark.sql(
    """
    DROP TABLE IF EXISTS UC3_LS
    """
)

DataFrame[]

In [4]:
#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS UC3_LS.stats
    """
)

DataFrame[]

In [5]:
# create gold database
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS UC3_LS LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC3_LS.db/'
    """
)


spark.sql(
    """
    CREATE EXTERNAL TABLE UC3_LS.stats (
    
        Div STRING,
        Team STRING,
        Date STRING,
        Media_golos DOUBLE,
        Media_remates DOUBLE,
        Media_remates_baliza DOUBLE,
        Media_cantos DOUBLE,
        Eficacia DOUBLE
        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC3_LS.db/stats/'
    """
)

DataFrame[]

In [6]:
from pyspark.sql.functions import substring, avg, sum, round
from pyspark.sql.functions import col, concat_ws, concat, lit, desc, asc

# read data from tables in projeto.db
tabela = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/league_stats.db/deltalake_table/")


silver_table = tabela \
    .withColumn("Date", concat(lit("20"), substring(col("Date"), 7, 8)))


silver_table.show()

+--------------+-----------+----+----+----+----+---+---+---+---+---+---+-------+
|      HomeTeam|   AwayTeam| FTR|Date|FTHG|FTAG| HS| AS|HST|AST| HC| AC|    Div|
+--------------+-----------+----+----+----+----+---+---+---+---+---+---+-------+
|     Liverpool|    Arsenal|Draw|2014|   2|   2| 27|  7| 10|  3| 10|  6|England|
|       Swansea|Aston Villa|Home|2014|   1|   0|  7| 11|  2|  3|  4|  0|England|
|     Liverpool|  Leicester|Draw|2015|   2|   2| 18| 16|  6|  3|  4|  5|England|
|      West Ham|  Newcastle|Home|2015|   2|   0| 17| 14|  3|  4|  6|  7|England|
|      Man City|  Newcastle|Home|2015|   6|   1| 23|  6| 11|  4|  6|  3|England|
|    Sunderland|Southampton|Away|2015|   0|   1|  9| 11|  3|  4| 10| 11|England|
|   Aston Villa|    Everton|Away|2016|   1|   3| 14| 10|  5|  7|  9|  8|England|
|    Man United|    Watford|Home|2016|   1|   0| 14| 13|  3|  3|  9|  7|England|
|       Norwich|   Man City|Draw|2016|   0|   0|  5| 15|  0|  3|  3|  8|England|
|      Man City|    Watford|Home|2016|   2|   0| 13|  5|  7|  2|  5|  2|England|
|Crystal Palace|    Chelsea|Away|2016|   0|   1|  6| 13|  2|  6|  5|  3|England|
|         Stoke|    Watford|Home|2017|   2|   0| 17|  9|  5|  2|  7|  6|England|
|     Tottenham|    Burnley|Draw|2017|   1|   1| 28| 13|  5|  3| 10|  7|England|
|     West Brom|      Stoke|Draw|2017|   1|   1| 10| 16|  2|  2| 10|  4|England|
|Crystal Palace|Southampton|Away|2017|   0|   1| 14| 13|  3|  4|  5|  5|England|
|     West Brom|   West Ham|Draw|2017|   0|   0|  6|  9|  1|  1|  2|  3|England|
|   Bournemouth|   West Ham|Draw|2017|   3|   3| 26| 10| 10|  5|  7|  4|England|
|     Liverpool|  Leicester|Draw|2019|   1|   1| 10|  5|  3|  2|  7|  1|England|
|     Tottenham|    Everton|Draw|2019|   2|   2| 11| 17|  3|  9|  7|  4|England|
|       Swansea|        QPR|Home|2014|   2|   0| 18|  5|  7|  1|  9|  2|England|
+--------------+-----------+----+----+----+----+---+---+---+---+---+---+-------+
only showing top 20 rows

In [7]:
homeTeam_table = silver_table \
    .groupBy("HomeTeam", "Date", "Div") \
    .agg(
        avg(silver_table.FTHG).alias("FTHG"),
        avg(silver_table.HS).alias("HSH"),
        avg(silver_table.HST).alias("HSTH"),
        avg(silver_table.HC).alias("HCH"),
        sum(silver_table.HS).alias("SHS"),
        sum(silver_table.FTHG).alias("SFTHG")
    
    ) \
    .withColumnRenamed("HomeTeam", "Team") 

homeTeam_table.show(n=30)
homeTeam_table.count()

+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
|          Team|Date|    Div|              FTHG|               HSH|              HSTH|               HCH|SHS|SFTHG|
+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
|           QPR|2014|England|               1.7|              17.2|               5.2|               6.6|172|   17|
|      Cagliari|2016|  Italy|2.2222222222222223| 16.77777777777778| 5.555555555555555| 6.666666666666667|151|   20|
|    Leverkusen|2014|Germany|               2.0| 6.777777777777778| 2.888888888888889|3.5555555555555554| 61|   18|
|    Man United|2016|England|              1.65|              17.0|              6.05|              7.45|340|   33|
|     Newcastle|2019|England|1.8888888888888888| 15.88888888888889| 5.666666666666667| 5.333333333333333|143|   17|
|Crystal Palace|2014|England|1.1111111111111112|              12.0| 3.888888888888889| 6.666666666666667|108|   10|
|         Genoa|2019|  Italy|0.7777777777777778| 7.444444444444445| 4.666666666666667| 4.555555555555555| 67|    7|
|      Freiburg|2015|Germany|1.4444444444444444| 15.88888888888889| 6.222222222222222| 5.555555555555555|143|   13|
|    Hoffenheim|2017|Germany|               2.0|11.823529411764707|               4.0| 4.411764705882353|201|   34|
|     Sampdoria|2017|  Italy|               2.0|13.421052631578947| 4.578947368421052| 5.315789473684211|255|   38|
|          Hull|2016|England|               1.1|               9.9|               3.3|               3.4| 99|   11|
|       Udinese|2015|  Italy|0.9473684210526315| 12.31578947368421| 4.631578947368421|3.8947368421052633|234|   18|
|    Leverkusen|2018|Germany|1.4705882352941178|10.117647058823529|4.0588235294117645|               4.0|172|   25|
|       Burnley|2019|England|1.3333333333333333|11.333333333333334|3.2222222222222223| 4.777777777777778|102|   12|
|         Milan|2016|  Italy|               1.5|              12.3|              3.95|              4.85|246|   30|
|    M'gladbach|2017|Germany| 1.588235294117647|13.058823529411764| 4.470588235294118| 4.764705882352941|222|   27|
|       Arsenal|2017|England|              2.25|              19.4|               7.3|              7.55|388|   45|
|     West Brom|2017|England|               1.0|11.714285714285714| 3.857142857142857| 5.095238095238095|246|   21|
| Bayern Munich|2016|Germany|2.6470588235294117| 6.647058823529412|2.6470588235294117| 2.411764705882353|113|   45|
|         Genoa|2018|  Italy|              1.35|             10.25|              4.55|               4.8|205|   27|
|    Hoffenheim|2018|Germany| 2.176470588235294|10.058823529411764| 3.588235294117647| 4.176470588235294|171|   37|
|       FC Koln|2014|Germany|               0.5|             13.75|              3.75|             5.625|110|    4|
|    Man United|2014|England|               2.2|              14.0|               5.2|               5.5|140|   22|
|        Fulham|2019|England|1.1111111111111112|12.333333333333334|3.3333333333333335| 5.555555555555555|111|   10|
|     Stuttgart|2017|Germany|             1.125|            12.625|              3.75|               4.0|101|    9|
|         Stoke|2016|England|1.2105263157894737|12.052631578947368| 3.736842105263158| 5.578947368421052|229|   23|
|       Palermo|2016|  Italy|0.8947368421052632|14.842105263157896| 6.052631578947368| 5.368421052631579|282|   17|
|          Roma|2016|  Italy|               2.6|              10.5|               3.6|              4.75|210|   52|
|       Burnley|2014|England|               0.7|              12.6|               2.8|               4.2|126|    7|
|          Hull|2014|England|0.8888888888888888|11.555555555555555| 3.111111111111111| 4.444444444444445|104|    8|
+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
only showing top 30 rows

380

In [8]:
awayTeam_table = silver_table \
    .groupBy("AwayTeam", "Date", "Div") \
    .agg(
        avg(silver_table.FTAG).alias("FTAG"),
        avg(silver_table.AS).alias("ASA"),
        avg(silver_table.AST).alias("ASTA"),
        avg(silver_table.AC).alias("ACA"),
        sum(silver_table.AS).alias("SAS"),
        sum(silver_table.FTAG).alias("SFTAG")
    ) \
    .withColumnRenamed("AwayTeam", "Team") 

awayTeam_table.show(n=30)
awayTeam_table.count()

+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
|          Team|Date|    Div|              FTAG|               ASA|              ASTA|               ACA|SAS|SFTAG|
+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
|           QPR|2014|England|0.4444444444444444|10.666666666666666|2.2222222222222223|               4.0| 96|    4|
|      Cagliari|2016|  Italy|0.7777777777777778| 6.666666666666667| 15.11111111111111|2.3333333333333335| 60|    7|
|    Leverkusen|2014|Germany|              1.25|              4.75|            16.125|             2.125| 38|   10|
|    Man United|2016|England|1.2777777777777777|11.444444444444445|3.7222222222222223| 4.888888888888889|206|   23|
|Crystal Palace|2014|England|               1.0|               9.4|               3.4|               5.0| 94|   10|
|     Newcastle|2019|England|1.1111111111111112| 10.11111111111111| 2.888888888888889| 3.888888888888889| 91|   10|
|         Genoa|2019|  Italy|               0.7|               5.6|              13.3|               1.9| 56|    7|
|    Hoffenheim|2017|Germany|1.6111111111111112| 4.666666666666667|              14.5|1.8333333333333333| 84|   29|
|      Freiburg|2015|Germany|              0.75|             5.875|            15.375|               1.5| 47|    6|
|     Sampdoria|2017|  Italy| 1.263157894736842|               6.0|              14.0|2.3684210526315788|114|   24|
|          Hull|2016|England|0.5555555555555556|10.333333333333334|3.6666666666666665| 5.111111111111111| 93|    5|
|       Udinese|2015|  Italy|               1.0|              4.75|              14.7|              2.25| 95|   20|
|    Leverkusen|2018|Germany|1.4705882352941178| 4.352941176470588|12.764705882352942|2.6470588235294117| 74|   25|
|       Burnley|2019|England|1.5555555555555556| 8.777777777777779|3.4444444444444446|3.6666666666666665| 79|   14|
|         Milan|2016|  Italy|1.2222222222222223| 4.722222222222222|14.777777777777779|2.2777777777777777| 85|   22|
|    M'gladbach|2017|Germany|1.6666666666666667| 5.555555555555555|              11.0|1.4444444444444444|100|   30|
|       Arsenal|2017|England|1.4761904761904763|              13.0| 4.571428571428571| 5.476190476190476|273|   31|
|     West Brom|2017|England| 0.631578947368421| 8.842105263157896| 2.473684210526316| 4.105263157894737|168|   12|
| Bayern Munich|2016|Germany|            1.6875|            2.6875|           14.1875|               1.5| 43|   27|
|         Genoa|2018|  Italy|0.8888888888888888|               6.0| 11.88888888888889|1.6666666666666667|108|   16|
|    Hoffenheim|2018|Germany|               2.0| 5.352941176470588|10.176470588235293|1.1176470588235294| 91|   34|
|       FC Koln|2014|Germany|1.4444444444444444| 5.222222222222222|12.222222222222221|0.8888888888888888| 47|   13|
|    Man United|2014|England|1.2222222222222223|11.555555555555555| 4.111111111111111| 5.555555555555555|104|   11|
|        Fulham|2019|England|0.6666666666666666|10.777777777777779|3.7777777777777777|3.4444444444444446| 97|    6|
|     Stuttgart|2017|Germany|0.4444444444444444| 4.888888888888889|12.777777777777779|1.1111111111111112| 44|    4|
|         Stoke|2016|England|1.0526315789473684|10.210526315789474| 3.263157894736842|3.8947368421052633|194|   20|
|       Palermo|2016|  Italy|               1.0|               5.0|              16.3|               2.2|100|   20|
|          Roma|2016|  Italy|               2.0| 4.631578947368421|13.526315789473685| 2.789473684210526| 88|   38|
|          Hull|2014|England|               1.0|               8.5|               2.6|               3.2| 85|   10|
|       Burnley|2014|England|0.7777777777777778|              10.0|               3.0|3.7777777777777777| 90|    7|
+--------------+----+-------+------------------+------------------+------------------+------------------+---+-----+
only showing top 30 rows

380

In [9]:
#join of the two dataFrames
join_table = homeTeam_table.join(awayTeam_table,['Team', 'Date', 'Div'], how='left') \
    .withColumnRenamed("Team", "Equipa") \
    .withColumnRenamed("Div", "Liga") \
    .withColumnRenamed("Date", "Data") \
    .orderBy("Date", "Liga") \
    .withColumn("Media_golos", round(((col("FTAG") + col("FTHG"))/2), 2)) \
    .withColumn("Media_remates", round(((col("HSH") + col("ASA"))/2), 2)) \
    .withColumn("Media_remates_baliza", round(((col("HSTH") + col("ASTA"))/2), 2)) \
    .withColumn("Media_cantos", round(((col("HCH") + col("ACA"))/2), 2)) \
    .withColumn("Eficacia", round(((col("SFTHG") + col("SFTAG")) / (col("SHS") + col("SAS")) * 100), 2)) \
    .select("Liga", "Equipa", "Data", "Media_golos", "Media_remates", "Media_remates_baliza", "Media_cantos", "Eficacia")


#WRITE TO DELTA TABLE
join_table \
    .write \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/UC3_LS.db/stats/")



join_table.show()
join_table.count()

+-------+--------------+----+-----------+-------------+--------------------+------------+--------+
|   Liga|        Equipa|Data|Media_golos|Media_remates|Media_remates_baliza|Media_cantos|Eficacia|
+-------+--------------+----+-----------+-------------+--------------------+------------+--------+
|England|       Chelsea|2014|       2.17|        16.34|                6.07|        6.38|   13.31|
|England|       Arsenal|2014|        1.8|        16.93|                5.77|        7.83|   10.66|
|England|       Swansea|2014|       1.25|        10.68|                3.53|        3.34|   11.76|
|England|     Newcastle|2014|       1.17|        12.57|                3.88|        6.07|    9.32|
|England|     Leicester|2014|       0.92|        11.25|                3.41|        5.48|    8.06|
|England|   Aston Villa|2014|       0.59|         9.91|                2.83|        3.53|    5.85|
|England|      Man City|2014|       2.14|        16.74|                5.58|        6.78|   12.89|
|England|      West Ham|2014|       1.58|        13.61|                4.33|        6.83|   11.63|
|England|     Tottenham|2014|       1.27|        13.16|                4.19|        6.19|     9.6|
|England|     Liverpool|2014|       1.37|        15.27|                4.97|        5.29|    8.87|
|England|       Burnley|2014|       0.74|         11.3|                 2.9|        3.99|    6.48|
|England|       Everton|2014|       1.54|        13.07|                4.59|        4.87|   11.74|
|England|         Stoke|2014|       1.11|        13.38|                3.32|        5.17|    8.37|
|England|           QPR|2014|       1.07|        13.93|                3.71|         5.3|    7.84|
|England|    Sunderland|2014|       0.83|        11.13|                3.29|        4.87|    7.58|
|England|    Man United|2014|       1.71|        12.78|                4.66|        5.53|   13.52|
|England|   Southampton|2014|       1.66|        13.09|                4.62|        5.57|    12.8|
|England|          Hull|2014|       0.94|        10.03|                2.86|        3.82|    9.52|
|England|Crystal Palace|2014|       1.06|         10.7|                3.64|        5.83|     9.9|
|England|     West Brom|2014|       0.93|        12.06|                3.46|        5.54|    7.79|
+-------+--------------+----+-----------+-------------+--------------------+------------+--------+
only showing top 20 rows

380

In [10]:
# check the results in the table
spark.table("UC3_LS.stats").toPandas()

,Liga,Equipa,Data,Media_golos,Media_remates,Media_remates_baliza,Media_cantos,Eficacia
0,England,Man United,2016,1.46,14.22,4.89,6.17,10.26
1,England,Hull,2016,0.83,10.12,3.48,4.26,8.33
2,England,Stoke,2016,1.13,11.13,3.50,4.74,10.17
3,England,Man City,2016,1.92,15.77,5.09,6.79,12.27
4,England,Leicester,2016,1.43,12.61,4.03,5.51,11.46
...,...,...,...,...,...,...,...,...
375,Italy,Inter,2019,1.39,5.39,9.35,3.19,25.00
376,Italy,Roma,2019,1.67,6.45,7.95,3.44,25.81
377,Italy,Udinese,2019,1.23,8.63,8.82,3.59,14.20
378,Italy,Chievo,2019,0.58,8.93,7.95,3.26,6.51
379,Italy,Lazio,2019,1.50,6.24,6.88,2.84,23.73

In [11]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta. `hdfs://hdfs-nn:9000/demo/gold/UC3_LS.db/stats/`
""").show()

++
||
++
++

In [4]:
spark.sql("""
DROP TABLE IF EXISTS UC3_LS.stats_presto
""").show()

spark.sql("""
CREATE EXTERNAL TABLE IF NOT EXISTS UC3_LS.stats_presto (
        Liga STRING,
        Equipa STRING,
        Data STRING,
        Media_golos DOUBLE,
        Media_remates DOUBLE,
        Media_remates_baliza DOUBLE,
        Media_cantos DOUBLE,
        Eficacia DOUBLE
        )
        
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/UC3_LS.db/stats/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++