In [16]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql.functions import substring, avg, sum
import pyspark.sql.functions as f

# GOLD

In [17]:
#CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [18]:
salary_df = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/deltalake_table/")

In [19]:
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gd_mls_salary LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gd_mls_salary.db/'
    """
)

spark.sql(
    """
    DROP TABLE IF EXISTS gd_mls_salary.mls_salary_per_season
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE gd_mls_salary.mls_salary_per_season (
        Season INT,
        Club CHAR(100),
        Position CHAR(5),
        Total_Salary INT,
        Average_Salary INT
        
    )
    USING DELTA
    
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gd_mls_salary.db/mls_salary_per_season/'
    """
)

DataFrame[]

In [20]:
from pyspark.sql.functions import substring, avg, sum
from pyspark.sql.functions import desc

flat_salary_df = salary_df \
    .select("Season","Club","Position","Base_Salary")
flat_salary_df.show()

salary_per_season_df = flat_salary_df \
    .groupBy("Season","Club","Position") \
    .agg(
        sum(flat_salary_df.Base_Salary).cast('INT').alias("Total_Salary"),
        avg(flat_salary_df.Base_Salary).cast('INT').alias("Average_Salary"),
    )

salary_per_season_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/projeto/gd_mls_salary.db/mls_salary_per_season/")

salary_per_season_df.orderBy(desc("Season")).show()
spark.sql(
    """
    Select *  FROM gd_mls_salary.mls_salary_per_season WHERE
    
    """
).show()

+------+-----+--------+-----------+
|Season| Club|Position|Base_Salary|
+------+-----+--------+-----------+
|  2018|  TOR|       F|    5600000|
|  2018|  TOR|       M|    6000000|
|  2018| LAFC|       F|    4500000|
|  2018|  CHI|       M|    6100000|
|  2018|   LA|       F|    4250000|
|  2018|NYCFC|       F|    5610000|
|  2018|  TOR|       F|    5000000|
|  2018|  MTL|       M|     500000|
|  2018|  COL|      GK|    2000000|
|  2018|  POR|       M|    2320000|
|  2018|  SEA|       M|    1800000|
|  2018|  ATL|       M|    1912500|
|  2018|  MLS|       F|    1850000|
|  2018|NYCFC|       M|    2000000|
|  2018|   LA|       M|    2000000|
|  2018|  POR|       F|    1275000|
|  2018|  CHI|       F|    1700000|
|  2018|   LA|       M|    1539996|
|  2018|  PHI|       M|    1714286|
|  2018|  COL|       F|    1575000|
+------+-----+--------+-----------+
only showing top 20 rows

+------+-----+--------+------------+--------------+
|Season| Club|Position|Total_Salary|Average_Salary|
+------+-----+--------+------------+--------------+
|  2018|  SEA|       F|     1727650|        431912|
|  2018|   NE|       D|     1952608|        278944|
|  2018|  VAN|       M|     1973500|        197350|
|  2018|  VAN|      GK|      407754|        101938|
|  2018|   DC|     M-F|      137000|        137000|
|  2018|  DAL|     F-M|      105000|        105000|
|  2018|  CLB|       F|     1066050|        213210|
|  2018|NYCFC|     D-M|      110154|         55077|
|  2018|  MTL|       M|     2903165|        263924|
|  2018|  CLB|       M|     3241023|        324102|
|  2018|  ATL|     F-M|      605000|        605000|
|  2018|MNUFC|       F|     2485000|        621250|
|  2018|  MLS|       F|     2348568|        782856|
|  2018|  CLB|      GK|      347256|         86814|
|  2018|   DC|       M|     2923360|        365420|
|  2018|  MLS|     F-M|       67500|         67500|
|  2018|  DAL|       D|     2249504|        249944|
|  2018|   DC|     F-M|      550000|        550000|
|  2018|  MTL|       D|     2374408|        296801|
|  2018|  ORL|      GK|      383250|         95812|
+------+-----+--------+------------+--------------+
only showing top 20 rows

+------+-----+--------+------------+--------------+
|Season| Club|Position|Total_Salary|Average_Salary|
+------+-----+--------+------------+--------------+
|  2018|   NE|       F|     2398828|        342689|
|  2017|  ORL|       M|     9607617|        873419|
|  2017|   DC|       D|     1158752|        165536|
|  2016|NYCFC|       M|    12792913|       1599114|
|  2016|   DC|       F|     1707750|        284625|
|  2016|  POR|     M/F|      500000|        500000|
|  2016|  PHI|     M-F|      480000|        240000|
|  2013|  COL|       M|      930250|         77520|
|  2014|  CHV|     D-M|      514000|        257000|
|  2014|  MTL|       D|     1097825|        137228|
|  2011|   DC|     M-F|      365000|        121666|
|  2010|  RSL|       M|      768700|        128116|
|  2018|  CHI|       F|     2814500|        469083|
|  2018|  RSL|       M|     3443266|        313024|
|  2018|  DAL|      GK|      375000|        125000|
|  2017|   SJ|       M|     3713171|        337561|
|  2017|  COL|       D|      602979|         86139|
|  2017|   KC|     D-M|      118004|         59002|
|  2016|   LA|       M|     6980000|        997142|
|  2016|   LA|       F|     7528000|        684363|
+------+-----+--------+------------+--------------+
only showing top 20 rows

In [21]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/demo/gold/projeto/gd_mls_salary.db/mls_salary_per_season/`
""").show()

++
||
++
++

In [22]:
spark.sql("""
DROP TABLE IF EXISTS gd_mls_salary.mls_salary_per_season_presto
""").show()

spark.sql("""
CREATE EXTERNAL TABLE IF NOT EXISTS gd_mls_salary.mls_salary_per_season_presto (
        Season Int,
        Club CHAR(100),
        Position CHAR(5),
        Total_Salary INT,
        Average_Salary INT
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gd_mls_salary.db/mls_salary_per_season/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++