In [ ]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

In [ ]:
# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/warehouse/project'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [ ]:
spark.sql("""
    DROP TABLE gold_salaries.salaries_per_season
""")

In [ ]:
spark.sql("""
 SHOW TABLES FROM gold_salaries 
""").show()

In [ ]:
spark.sql("""
    DROP DATABASE gold_salaries
""").show()

In [ ]:
# create gold database
spark.sql("""
    CREATE DATABASE IF NOT EXISTS gold_salaries LOCATION 'hdfs://hdfs-nn:9000/warehouse/project/gold_salaries.db/'
    """)

spark.sql("""
    DROP TABLE IF EXISTS gold_salaries.salaries_per_season
    """)

spark.sql("""
    CREATE EXTERNAL TABLE gold_salaries.salaries_per_season (
        Player CHAR(255),
        Weekly_Salary INT,
        Position CHAR(100),
        Age INT,
        Status CHAR(10),
        Length INT,
        Salary INT,
        Club CHAR(100),
        League CHAR(100),
        Season CHAR(10)
    )
    USING DELTA 
    LOCATION 'hdfs://hdfs-nn:9000/warehouse/project/gold_salaries.db/salaries_per_season/'
    """)

In [1]:
salaries = spark.table("silver_salaries.deltalake_table")
salaries.show()

NameError: name 'spark' is not defined

In [ ]:
salaries_18_19 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '18_19_Salary',
                                 'Club', 'League', 'Length')

salaries_18_19 = salaries_18_19.withColumn("Season", when(col("Length")>=1, "18/19"))

salaries_18_19 = salaries_18_19.withColumn('Salary', col('18_19_Salary'))

salaries_18_19 = salaries_18_19.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 
                                       'Club', 'League', 'Season')

salaries_18_19.select('Season').distinct().show()

In [ ]:
salaries_19_20 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '19_20_Salary','Club', 'League', 'Length')

# write to gold format
salaries_19_20 = salaries_19_20.withColumn("Season", when(col("Length")>=2, "19/20"))

salaries_19_20 = salaries_19_20.withColumn('Salary', col('19_20_Salary'))

salaries_19_20 = salaries_19_20.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_18_19.union(salaries_19_20)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_20_21 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '20_21_Salary','Club', 'League', 'Length')

# write to gold format
salaries_20_21 = salaries_20_21.withColumn("Season", when(col("Length")>=3, "20/21"))

salaries_20_21 = salaries_20_21.withColumn('Salary', col('20_21_Salary'))

salaries_20_21 = salaries_20_21.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_df.union(salaries_20_21)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_21_22 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '21_22_Salary','Club', 'League', 'Length')

# write to gold format
salaries_21_22 = salaries_21_22.withColumn("Season", when(col("Length")>=4, "21/22"))

salaries_21_22 = salaries_21_22.withColumn('Salary', col('21_22_Salary'))

salaries_21_22 = salaries_21_22.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_df.union(salaries_21_22)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_22_23 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '22_23_Salary','Club', 'League', 'Length')

# write to gold format
salaries_22_23 = salaries_22_23.withColumn("Season", when(col("Length")>=5, "22/23"))

salaries_22_23 = salaries_22_23.withColumn('Salary', col('22_23_Salary'))

salaries_22_23 = salaries_22_23.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_df.union(salaries_22_23)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_23_24 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '23_24_Salary','Club', 'League', 'Length')

# write to gold format
salaries_23_24 = salaries_23_24.withColumn("Season", when(col("Length")>=6, "23/24"))

salaries_23_24 = salaries_23_24.withColumn('Salary', col('23_24_Salary'))

salaries_23_24 = salaries_23_24.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_df.union(salaries_23_24)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_24_25 = salaries.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', '24_25_Salary','Club', 'League', 'Length')

# write to gold format
salaries_24_25 = salaries_24_25.withColumn("Season", when(col("Length")>=7, "24/25"))

salaries_24_25 = salaries_24_25.withColumn('Salary', col('24_25_Salary'))

salaries_24_25 = salaries_24_25.select('Player', 'Weekly_Salary', 'Position', 'Age', 'Status', 'Length', 'Salary', 'Club', 'League', 'Season')

salaries_df = salaries_df.union(salaries_24_25)

salaries_df.select('Season').distinct().show()

In [ ]:
salaries_df = salaries_df.filter("Season is NOT NULL")

In [ ]:
salaries_df.createOrReplaceTempView("salaries")

In [ ]:
spark.sql("""INSERT INTO gold_salaries.salaries_per_season
    SELECT * FROM salaries""")

In [ ]:
spark.sql("""SELECT DISTINCT Season FROM gold_salaries.salaries_per_season""").show()

# O AUMENTO DOS SALÁRIOS É IGUAL EM TODAS AS LIGAS?
# O AUMENTO DOS SALÁRIOS É IGUAL EM TODAS AS POSIÇÕES?
# O AUMENTO DOS SALÁRIOS É SEMELHANTE AO AUMENTO DOS SALÁRIOS SEMANAIS?

In [ ]:
spark.sql(
    """
    DROP TABLE IF EXISTS gold_salaries.salaries_league
    """
)

In [ ]:
# create salary_league table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS gold_salaries.salaries_league_position
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE gold_salaries.salaries_league_position (
        League CHAR(100),
        Season CHAR(10),
        Salary INT,
        Weekly_Salary INT,
        Position CHAR(100)
    )
    
    USING DELTA
    
    LOCATION 'hdfs://hdfs-nn:9000/warehouse/project/gold_salaries.db/salaries_league_position/'
    """
)

In [ ]:
spark.sql (
    """
    INSERT INTO gold_salaries.salaries_league_position
    SELECT League, Season, Salary, Weekly_Salary, Position
    FROM gold_salaries.salaries_per_season
    ORDER BY League, Season
    """
)

In [ ]:
spark.sql (
    """
     SELECT DISTINCT League, Season, Position FROM gold_salaries.salaries_league_position
    """
).show()