In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType, DateType
import pyspark.sql.functions as f

In [2]:
#SPARK CONFIG
warehouse_location = 'hdfs://hdfs-nn:9000/demo/'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

Warning: Ignoring non-Spark config property: hive.metastore.uris
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c6678bd5-f931-40e4-b1ef-729cb587a45d;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.0.0 in central
	found org.antlr#antlr4;4.7 in central
	found org.antlr#antlr4-runtime;4.7 in central
	found org.antlr#antlr-runtime;3.5.2 in central
	found org.antlr#ST4;4.0.8 in central
	found org.abego.treelayout#org.abego.treelayout.core;1.0.3 in central
	found org.glassfish#javax.json;1.0.4 in central
	found com.ibm.icu#icu4j;58.2 in central
:: resolution report :: resolve 654ms :: artifacts dl 29ms
	:: modules in use:
	com.ibm.icu#icu4j;58.2 from central in [default]
	io.delta#delta-core_2.12;1.0.0 from central in [default]
	org.abego.treelayout#org.abego.treelayout.core;1.0.3 from central in [default]
	org.antlr#ST4;4.0.8 from central in [default]
	org.antlr#antlr-runtime;3.5.2 from central in [default]
	org.antlr#antlr4;4.7 from central in [default]
	org.antlr#antlr4-runtime;4.7 from central in [default]
	org.glassfish#javax.json;1.0.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c6678bd5-f931-40e4-b1ef-729cb587a45d
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/44ms)
22/01/17 13:50:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/17 13:50:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark.sql(
    """
    DROP TABLE IF EXISTS gold_leagues
    """
)

ANTLR Tool version 4.7 used for code generation does not match the current runtime version 4.8ANTLR Tool version 4.7 used for code generation does not match the current runtime version 4.8

DataFrame[]

In [4]:
#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS gold_leagues.stats
    """
)

DataFrame[]

In [5]:
# create gold database
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold_leagues LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/'
    """
)


spark.sql(
    """
    CREATE EXTERNAL TABLE gold_leagues.stats (
    
        Div STRING,
        Team STRING,
        Date STRING,
        Media_golos DOUBLE,
        Media_remates DOUBLE,
        Media_remates_baliza DOUBLE,
        Media_cantos DOUBLE,
        Eficacia DOUBLE
        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/stats/'
    """
)

22/01/17 13:51:13 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider delta. Persisting data source table `gold_leagues`.`stats` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
22/01/17 13:51:13 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

DataFrame[]

In [6]:
from pyspark.sql.functions import substring, avg, sum, round
from pyspark.sql.functions import col, concat_ws, concat, lit, desc, asc

# read data from tables in projeto.db
tabela = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/F_SP_League.db/deltalake_table/")


silver_table = tabela \
    .withColumn("Date", concat(lit("20"), substring(col("Date"), 7, 8)))


silver_table.show()

+--------------------+--------------------+----+----+----+----+---+---+---+---+---+---+------+
|            HomeTeam|            AwayTeam| FTR|Date|FTHG|FTAG| HS| AS|HST|AST| HC| AC|   Div|
+--------------------+--------------------+----+----+----+----+---+---+---+---+---+---+------+
|               Reims|            Paris SG|Draw|2014|   2|   2|  9| 16|  3|  6|  1|  5|France|
|              Bastia|           Marseille|Draw|2014|   3|   3| 13|  9|  4|  4|  1|  4|France|
|Evian Thonon Gail...|                Caen|Away|2014|   0|   3| 10| 12|  2|  7|  5|  6|France|
|            Guingamp|          St Etienne|Away|2014|   0|   2|  6|  7|  3|  2|  4|  5|France|
|               Lille|                Metz|Draw|2014|   0|   0| 14|  2|  3|  1|  8|  3|France|
|         Montpellier|            Bordeaux|Away|2014|   0|   1| 15|  7|  3|  3|  5|  1|France|
|              Nantes|                Lens|Home|2014|   1|   0| 14|  5|  4|  2|  3|  2|France|
|                Nice|            Toulouse|Home|2014|   3|   2| 22| 11|  8|  3| 12|  7|France|
|                Lyon|              Rennes|Home|2014|   2|   0| 19|  7|  6|  1|  5|  1|France|
|              Monaco|             Lorient|Away|2014|   1|   2| 12|  9|  7|  3| 10|  4|France|
|                Caen|               Lille|Away|2014|   0|   1| 11|  8|  3|  1|  3|  9|France|
|                Lens|            Guingamp|Away|2014|   0|   1| 14| 10|  4|  4|  7|  2|France|
|             Lorient|                Nice|Draw|2014|   0|   0| 13|  9|  6|  2|  8|  2|France|
|                Metz|              Nantes|Draw|2014|   1|   1| 12|  6|  5|  2|  4|  7|France|
|            Paris SG|              Bastia|Home|2014|   2|   0| 15|  5|  5|  1|  4|  4|France|
|              Rennes|Evian Thonon Gail...|Home|2014|   6|   2|  9|  9|  7|  3|  6|  1|France|
|            Toulouse|                Lyon|Home|2014|   2|   1| 10| 18|  6|  3|  6|  4|France|
|            Bordeaux|              Monaco|Home|2014|   4|   1|  9|  9|  5|  3|  3|  4|France|
|           Marseille|         Montpellier|Away|2014|   0|   2| 22| 10|  5|  3|  6|  1|France|
|          St Etienne|               Reims|Home|2014|   3|   1| 19|  7|  9|  2|  6|  3|France|
+--------------------+--------------------+----+----+----+----+---+---+---+---+---+---+------+
only showing top 20 rows

In [7]:
homeTeam_table = silver_table \
    .groupBy("HomeTeam", "Date", "Div") \
    .agg(
        avg(silver_table.FTHG).alias("FTHG"),
        avg(silver_table.HS).alias("HSH"),
        avg(silver_table.HST).alias("HSTH"),
        avg(silver_table.HC).alias("HCH"),
        sum(silver_table.HS).alias("SHS"),
        sum(silver_table.FTHG).alias("SFTHG")
    ) \
    .withColumnRenamed("HomeTeam", "Team") 

homeTeam_table.show(n=30)
homeTeam_table.count()

+--------------------+----+------+------------------+------------------+------------------+------------------+---+-----+
|                Team|Date|   Div|              FTHG|               HSH|              HSTH|               HCH|SHS|SFTHG|
+--------------------+----+------+------------------+------------------+------------------+------------------+---+-----+
|            Bordeaux|2019|France|               1.0|11.222222222222221|               4.0| 5.555555555555555|101|    9|
|               Lille|2016|France|              1.25|             13.45|               4.4|               5.4|269|   25|
|             Sevilla|2014| Spain|               2.0|            13.625|             5.625|              7.25|109|   16|
|         Real Madrid|2016| Spain|3.3333333333333335| 19.38888888888889| 7.722222222222222| 6.611111111111111|349|   60|
|             Leganes|2017| Spain|1.1666666666666667|12.444444444444445| 4.222222222222222| 4.722222222222222|224|   21|
|               Betis|2018| Spain|1.5263157894736843| 12.68421052631579| 4.473684210526316| 4.842105263157895|241|   29|
|               Reims|2015|France| 1.105263157894737|14.105263157894736| 4.473684210526316| 5.157894736842105|268|   21|
|              Bastia|2016|France|0.8947368421052632|11.526315789473685|3.9473684210526314| 5.368421052631579|219|   17|
|            Bordeaux|2016|France|1.2105263157894737|12.105263157894736|3.9473684210526314| 5.368421052631579|230|   23|
|              Amiens|2019|France|0.7272727272727273|12.909090909090908|3.5454545454545454|3.3636363636363638|142|    8|
|          Villarreal|2016| Spain|1.5555555555555556| 11.88888888888889| 4.611111111111111| 5.388888888888889|214|   28|
|         Montpellier|2015|France|               1.6|              11.7|              4.75|              4.65|234|   32|
|          Las Palmas|2017| Spain|1.3157894736842106|13.842105263157896|5.7368421052631575| 5.631578947368421|263|   25|
|            Valencia|2017| Spain|1.9047619047619047|14.380952380952381| 5.476190476190476| 5.428571428571429|302|   40|
|              Girona|2017| Spain|1.1111111111111112|              13.0| 3.111111111111111|               5.0|117|   10|
|            Toulouse|2014|France|1.4444444444444444|              13.0| 4.555555555555555| 5.666666666666667|117|   13|
|                Caen|2016|France|1.3333333333333333|13.666666666666666| 4.722222222222222| 4.888888888888889|246|   24|
|             Cordoba|2015| Spain|0.7272727272727273|13.090909090909092| 3.272727272727273|4.7272727272727275|144|    8|
|              Getafe|2018| Spain|1.0555555555555556|11.777777777777779|3.7777777777777777| 5.388888888888889|212|   19|
|              Monaco|2016|France|               2.8|             13.85|               5.8|               5.8|277|   56|
|            Sociedad|2014| Spain|             1.625|              13.5|             4.375|             6.625|108|   13|
|             Granada|2017| Spain|               1.0|              12.0| 4.454545454545454| 4.181818181818182|132|   11|
|          Ath Bilbao|2015| Spain| 1.736842105263158|14.052631578947368| 4.894736842105263| 6.894736842105263|267|   33|
|            Valencia|2016| Spain|1.3333333333333333| 12.88888888888889| 4.444444444444445| 6.555555555555555|232|   24|
|          Ath Bilbao|2018| Spain|              1.15|             12.65|               4.3|              5.15|253|   23|
|              Huesca|2019| Spain|1.6363636363636365|12.909090909090908|               4.0|4.7272727272727275|142|   18|
|          Ath Madrid|2014| Spain|             2.375|            13.875|               6.0|               6.0|111|   19|
|            Sp Gijon|2015| Spain|1.1428571428571428|14.142857142857142| 5.857142857142857| 6.142857142857143| 99|    8|
|Evian Thonon Gail...|2015|France|               0.9|               9.6|               3.1|               5.1| 96|    9|
|          Ath Bilbao|2014| Spain|             1.125|             10.75|             3.375|             6.375| 86|    9|
+--------------------+----+------+------------------+------------------+------------------+------------------+---+-----+
only showing top 30 rows

263

In [8]:
awayTeam_table = silver_table \
    .groupBy("AwayTeam", "Date", "Div") \
    .agg(
        avg(silver_table.FTAG).alias("FTAG"),
        avg(silver_table.AS).alias("ASA"),
        avg(silver_table.AST).alias("ASTA"),
        avg(silver_table.AC).alias("ACA"),
        sum(silver_table.AS).alias("SAS"),
        sum(silver_table.FTAG).alias("SFTAG")
    ) \
    .withColumnRenamed("AwayTeam", "Team") 

awayTeam_table.show(n=30)
awayTeam_table.count()

+--------------------+----+------+-------------------+------------------+------------------+------------------+---+-----+
|                Team|Date|   Div|               FTAG|               ASA|              ASTA|               ACA|SAS|SFTAG|
+--------------------+----+------+-------------------+------------------+------------------+------------------+---+-----+
|            Bordeaux|2019|France| 0.4166666666666667| 8.833333333333334|              2.25|               4.0|106|    5|
|               Lille|2016|France| 0.9444444444444444| 10.61111111111111| 3.888888888888889| 3.388888888888889|191|   17|
|             Sevilla|2014| Spain| 1.2857142857142858| 8.428571428571429| 4.142857142857143| 4.571428571428571| 59|    9|
|         Real Madrid|2016| Spain|                2.5| 16.77777777777778| 6.722222222222222| 6.111111111111111|302|   45|
|             Leganes|2017| Spain|                0.7|             10.05|               3.2|               3.8|201|   14|
|               Betis|2018| Spain|  1.368421052631579|10.473684210526315| 4.526315789473684|3.0526315789473686|199|   26|
|               Reims|2015|France| 1.0526315789473684| 8.947368421052632|3.3157894736842106|4.2105263157894735|170|   20|
|              Bastia|2016|France| 0.8421052631578947|  9.31578947368421|3.0526315789473686|2.9473684210526314|177|   16|
|            Bordeaux|2016|France|  1.263157894736842|10.157894736842104| 3.736842105263158|3.6315789473684212|193|   24|
|              Amiens|2019|France| 0.6666666666666666| 6.777777777777778| 2.111111111111111|2.6666666666666665| 61|    6|
|          Villarreal|2016| Spain|                1.0| 8.157894736842104|3.3684210526315788|3.6315789473684212|155|   19|
|         Montpellier|2015|France| 0.8333333333333334| 9.166666666666666| 3.111111111111111| 4.722222222222222|165|   15|
|          Las Palmas|2017| Spain|               0.75|              10.0|              3.75|               3.6|200|   15|
|            Valencia|2017| Spain|  1.631578947368421| 9.526315789473685|3.8947368421052633| 4.052631578947368|181|   31|
|              Girona|2017| Spain|              1.375|            10.625|             4.625|             4.375| 85|   11|
|            Toulouse|2014|France|                0.9|               9.0|               2.0|               4.3| 90|    9|
|                Caen|2016|France| 0.7368421052631579|              11.0|3.6315789473684212|3.6842105263157894|209|   14|
|             Cordoba|2015| Spain| 0.2727272727272727|              10.0|3.5454545454545454|3.4545454545454546|110|    3|
|              Getafe|2018| Spain|               0.95|               8.0|               2.8|               3.3|160|   19|
|              Monaco|2016|France| 1.7777777777777777| 9.833333333333334| 4.333333333333333| 4.333333333333333|177|   32|
|            Sociedad|2014| Spain|                0.5|            12.375|               3.0|              4.75| 99|    4|
|             Granada|2017| Spain|0.45454545454545453| 7.545454545454546|2.3636363636363638|3.3636363636363638| 83|    5|
|          Ath Bilbao|2015| Spain|                1.0|              11.9|              3.75|               4.7|238|   20|
|            Valencia|2016| Spain| 1.2222222222222223| 9.555555555555555| 3.388888888888889| 4.333333333333333|172|   22|
|          Ath Bilbao|2018| Spain| 0.8888888888888888|  8.88888888888889|               3.5|3.5555555555555554|160|   16|
|              Huesca|2019| Spain|                1.0|              10.9|               3.0|               2.6|109|   10|
|          Ath Madrid|2014| Spain|                1.5|            10.125|              4.25|             4.375| 81|   12|
|            Sp Gijon|2015| Spain| 0.7777777777777778| 6.888888888888889|1.6666666666666667|3.2222222222222223| 62|    7|
|Evian Thonon Gail...|2015|France|                1.2|               7.7|               3.0|               3.6| 77|   12|
|          Ath Bilbao|2014| Spain|              0.625|             7.375|             3.125|               4.5| 59|    5|
+--------------------+----+------+-------------------+------------------+------------------+------------------+---+-----+
only showing top 30 rows

263

In [9]:
#join of the two dataFrames
join_table = homeTeam_table.join(awayTeam_table,['Team', 'Date', 'Div'], how='left') \
    .withColumnRenamed("Team", "Equipa") \
    .withColumnRenamed("Div", "Liga") \
    .withColumnRenamed("Date", "Data") \
    .orderBy("Date", "Liga") \
    .withColumn("Media_golos", round(((col("FTAG") + col("FTHG"))/2), 2)) \
    .withColumn("Media_remates", round(((col("HSH") + col("ASA"))/2), 2)) \
    .withColumn("Media_remates_baliza", round(((col("HSTH") + col("ASTA"))/2), 2)) \
    .withColumn("Media_cantos", round(((col("HCH") + col("ACA"))/2), 2)) \
    .withColumn("Eficacia", round(((col("SFTHG") + col("SFTAG")) / (col("SHS") + col("SAS")) * 100), 2)) \
    .select("Liga", "Equipa", "Data", "Media_golos", "Media_remates", "Media_remates_baliza", "Media_cantos", "Eficacia")


#WRITE TO DELTA TABLE
join_table \
    .write \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/stats/")



join_table.show()
join_table.count()

22/01/17 13:51:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

+------+--------------------+----+-----------+-------------+--------------------+------------+--------+
|  Liga|              Equipa|Data|Media_golos|Media_remates|Media_remates_baliza|Media_cantos|Eficacia|
+------+--------------------+----+-----------+-------------+--------------------+------------+--------+
|France|                Metz|2014|       0.93|        11.52|                3.82|        4.07|    7.83|
|France|            Bordeaux|2014|       1.39|        11.79|                3.55|        3.99|   11.71|
|France|              Monaco|2014|       1.21|        12.11|                4.74|        5.64|   10.04|
|France|                Lens|2014|       1.06|         10.6|                3.29|        3.76|    10.0|
|France|           Marseille|2014|       1.98|        15.66|                5.77|        6.44|   12.71|
|France|                Lyon|2014|       2.08|        14.91|                5.96|        4.76|   14.08|
|France|              Nantes|2014|        1.0|        11.77|                3.88|        4.93|    8.44|
|France|Evian Thonon Gail...|2014|       1.11|         8.61|                2.28|        3.61|    12.9|
|France|                Caen|2014|       1.14|        12.34|                3.86|        4.34|    9.44|
|France|          St Etienne|2014|       1.14|        12.33|                3.94|        6.26|    9.32|
|France|             Lorient|2014|       1.11|        12.54|                4.63|         4.7|    8.75|
|France|            Guingamp|2014|       1.05|         9.93|                 3.8|        4.28|   10.53|
|France|               Reims|2014|       1.31|        10.15|                3.45|        4.33|   12.89|
|France|            Toulouse|2014|       1.17|         11.0|                3.28|        4.98|   10.63|
|France|            Paris SG|2014|       1.69|        12.58|                5.39|        4.03|   13.39|
|France|                Nice|2014|       1.12|        10.41|                3.76|        5.81|   10.55|
|France|              Rennes|2014|       1.13|         9.47|                3.31|        3.57|   11.73|
|France|               Lille|2014|       0.83|        12.17|                3.94|        4.11|    6.85|
|France|         Montpellier|2014|       1.12|        10.06|                3.46|        4.27|   11.11|
|France|              Bastia|2014|       0.83|         8.53|                2.92|        3.47|    9.82|
+------+--------------------+----+-----------+-------------+--------------------+------------+--------+
only showing top 20 rows

263

In [10]:
# check the results in the table
spark.table("gold_leagues.stats").toPandas()

,Liga,Equipa,Data,Media_golos,Media_remates,Media_remates_baliza,Media_cantos,Eficacia
0,France,Lille,2016,1.10,12.03,4.14,4.39,9.13
1,France,Bastia,2016,0.87,10.42,3.50,4.16,8.33
2,France,Bordeaux,2016,1.24,11.13,3.84,4.50,11.11
3,France,Caen,2016,1.04,12.33,4.18,4.29,8.35
4,France,Monaco,2016,2.29,11.84,5.07,5.07,19.38
...,...,...,...,...,...,...,...,...
258,Spain,Levante,2014,0.75,10.94,2.63,4.19,6.86
259,Spain,Espanol,2014,1.25,9.38,3.56,5.31,13.33
260,Spain,Elche,2014,0.81,10.88,3.50,4.50,7.47
261,Spain,La Coruna,2014,0.81,8.69,2.94,3.81,9.35
262,Spain,Vallecano,2014,1.06,12.56,3.88,4.88,8.46

In [11]:
spark.sql(     """     GENERATE symlink_format_manifest FOR TABLE delta. `hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/stats/`     """ ).show()

++
||
++
++

In [12]:
spark.sql("""
DROP TABLE IF EXISTS gold_leagues.stats_presto
""").show()

spark.sql(
    """
    CREATE EXTERNAL TABLE gold_leagues.stats_presto (

        Liga STRING,
        Equipa STRING,
        Data STRING,
        Media_golos DOUBLE,
        Media_remates DOUBLE,
        Media_remates_baliza DOUBLE,
        Media_cantos DOUBLE,
        Eficacia DOUBLE
        )


ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/stats/_symlink_format_manifest/'
""").show()

22/01/17 13:51:50 WARN DataSource: All paths were ignored:
  hdfs://hdfs-nn:9000/demo/gold/projeto/gold_leagues.db/stats/_symlink_format_manifest

++
||
++
++

++
||
++
++