In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
import pyspark.sql.functions as f

In [2]:
# CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/' #guardar no demo, porque vamos trabalhar com o silver e com o gold

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
#buscar o silver para trabalhar no gold
transfers_df = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/projeto/transfers.db/deltalake_table/")

In [5]:
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold_transfers LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_transfers.db/'
    """
)

spark.sql(
    """
    DROP TABLE IF EXISTS gold_transfers.transfers_per_season
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE gold_transfers.transfers_per_season (
        Season CHAR(10),
        Position CHAR(100),
        Team_from CHAR(100),
        Team_to CHAR(100),
        League_from CHAR(100),
        League_to CHAR(100),
        Average_Transfer_fee INT
    
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_transfers.db/transfers_per_season/'
    """
)

DataFrame[]

In [6]:
from pyspark.sql.functions import substring, avg, sum
from pyspark.sql.functions import desc

flat_transfers_df = transfers_df \
    .select("Season","Name","Position","Age","Team_from","League_from", "Team_to","League_to", "Transfer_fee")
flat_transfers_df.show()

tranfers_per_season_df = flat_transfers_df \
    .groupBy("Season","Position","Team_from", "Team_to", "League_from", "League_to") \
    .agg(
        avg(flat_transfers_df.Transfer_fee).cast('INT').alias("Average_Transfer_fee"),
    )

tranfers_per_season_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/demo/gold/projeto/gold_transfers.db/transfers_per_season/")

tranfers_per_season_df.orderBy(desc("Season")).show()

+---------+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+
|   Season|                Name|          Position|Age|      Team_from|   League_from|       Team_to|     League_to|Transfer_fee|
+---------+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+
|2005-2006|      Michael Essien|Defensive Midfield| 22| Olympique Lyon|       Ligue 1|       Chelsea|Premier League|    45000000|
|2005-2006|Shaun Wright-Phil...|      Right Winger| 23|       Man City|Premier League|       Chelsea|Premier League|     9500000|
|2005-2006|        Sergio Ramos|       Centre-Back| 19|     Sevilla FC|        LaLiga|   Real Madrid|        LaLiga|    27000000|
|2005-2006|        Michael Owen|    Centre-Forward| 25|    Real Madrid|        LaLiga|     Newcastle|Premier League|    22000000|
|2005-2006|   Alberto Gilardino|    Centre-Forward| 23|          Parma|       Serie A|      AC Milan|       Serie A|    20000000|
|2005-2006|             Robinho|       Left Winger| 21|      Santos FC|       Série A|   Real Madrid|        LaLiga|    25000000|
|2005-2006|      Patrick Vieira|Defensive Midfield| 29|        Arsenal|Premier League|      Juventus|       Serie A|    35000000|
|2005-2006|      Júlio Baptista|Attacking Midfield| 23|     Sevilla FC|        LaLiga|   Real Madrid|        LaLiga|    25000000|
|2005-2006|        Albert Luque|       Left Winger| 27| Dep. La Coruña|        LaLiga|     Newcastle|Premier League|    20000000|
|2005-2006|             Maniche|  Central Midfield| 27|       FC Porto|      Liga NOS| Dinamo Moscow|  Premier Liga|    18000000|
|2005-2006|       Wálter Samuel|       Centre-Back| 27|    Real Madrid|        LaLiga|         Inter|       Serie A|    17000000|
|2005-2006|                Fred|    Centre-Forward| 21|       Cruzeiro|       Série A|Olympique Lyon|       Ligue 1|     7500000|
|2005-2006|      Jermaine Jenas|  Central Midfield| 22|      Newcastle|Premier League|         Spurs|Premier League|     9000000|
|2005-2006|      Aleksandr Hleb|Attacking Midfield| 24|  VfB Stuttgart|  1.Bundesliga|       Arsenal|Premier League|     8500000|
|2005-2006|     Asier del Horno|         Left-Back| 24|Athletic Bilbao|        LaLiga|       Chelsea|Premier League|    12000000|
|2005-2006|       David Pizarro|  Central Midfield| 25| Udinese Calcio|       Serie A|         Inter|       Serie A|    12000000|
|2005-2006|         David Villa|    Centre-Forward| 23|  Real Zaragoza|        LaLiga|   Valencia CF|        LaLiga|    12000000|
|2005-2006|     Mohamed Sissoko|Defensive Midfield| 20|    Valencia CF|        LaLiga|     Liverpool|Premier League|     4000000|
|2005-2006|   Javier Mascherano|Defensive Midfield| 21|    River Plate|  Torneo Final|   Corinthians|       Série A|    11800000|
|2005-2006|         Dean Ashton|    Centre-Forward| 22|        Norwich|  Championship|      West Ham|Premier League|     6500000|
+---------+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+
only showing top 20 rows

+---------+------------------+--------------+---------------+--------------+--------------+--------------------+
|   Season|          Position|     Team_from|        Team_to|   League_from|     League_to|Average_Transfer_fee|
+---------+------------------+--------------+---------------+--------------+--------------+--------------------+
|2018-2019|         Left-Back|      Man City|  PSV Eindhoven|Premier League|    Eredivisie|             3000000|
|2018-2019|       Centre-Back|1.FSV Mainz 05|  Bor. Dortmund|  1.Bundesliga|  1.Bundesliga|            12000000|
|2018-2019|Defensive Midfield|   Trabzonspor|  Celta de Vigo|     Süper Lig|        LaLiga|             7500000|
|2018-2019|    Centre-Forward| VfB Stuttgart|  VfL Wolfsburg|  1.Bundesliga|  1.Bundesliga|             3500000|
|2018-2019|        Goalkeeper|       AS Roma|        Bologna|       Serie A|       Serie A|             7000000|
|2018-2019|      Right Winger|        Monaco|       Paris SG|       Ligue 1|       Ligue 1|           120000000|
|2018-2019|       Centre-Back|   RB Salzburg|      Marseille|    Bundesliga|       Ligue 1|            10000000|
|2018-2019|    Centre-Forward|     JS Suning|  Villarreal CF|  Super League|        LaLiga|             2500000|
|2018-2019|  Central Midfield|    FC Lorient|        Arsenal|       Ligue 2|Premier League|             2500000|
|2018-2019|Attacking Midfield|  Bristol City|        Cardiff|  Championship|Premier League|             3000000|
|2018-2019|       Left Winger|       Watford|        Everton|Premier League|Premier League|            25000000|
|2018-2019|Attacking Midfield| Dinamo Zagreb|        AS Roma|         1.HNL|       Serie A|             7500000|
|2018-2019|       Centre-Back|      Sassuolo|          Lazio|       Serie A|       Serie A|            10000000|
|2018-2019|Defensive Midfield|     Sampdoria|        Arsenal|       Serie A|Premier League|            30000000|
|2018-2019|       Centre-Back|         Genoa|         Torino|       Serie A|       Serie A|             8500000|
|2018-2019|       Left Winger|     Vancouver| Bayern Munich |        Canada|  1.Bundesliga|              800000|
|2018-2019|        Right-Back|Udinese Calcio|       FC Basel|       Serie A|  Super League|             8500000|
|2018-2019|       Left Winger|        Monaco|Atlético Madrid|       Ligue 1|        LaLiga|            65000000|
|2018-2019|       Left Winger|Olympique Lyon|         Monaco|       Ligue 1|       Ligue 1|             6000000|
|2018-2019|    Centre-Forward|    Cittadella|          Genoa|       Serie B|       Serie A|             2800000|
+---------+------------------+--------------+---------------+--------------+--------------+--------------------+
only showing top 20 rows

In [7]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta. `hdfs://hdfs-nn:9000/demo/gold/projeto/gold_transfers.db/transfers_per_season/`
""").show()

++
||
++
++

In [8]:
spark.sql("""
DROP TABLE IF EXISTS gold_transfers.transfers_per_season_presto
""").show()

spark.sql("""
CREATE EXTERNAL TABLE IF NOT EXISTS gold_transfers.transfers_per_season_presto (
        Season CHAR(10),
        Position CHAR(100),
        Team_from CHAR(100),
        Team_to CHAR(100),
        League_from CHAR(100),
        League_to CHAR(100),
        Average_Transfer_fee INT
        )
        
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/demo/gold/projeto/gold_transfers.db/transfers_per_season/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++

In [ ]:
spark.stop()