In [3]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType

In [4]:
#Configuração do Spark
warehouse_location = 'hdfs://hdfs-nn:9000/demo/silver'
builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [5]:
#DROP DATABASE

spark.sql(
    """
    DROP DATABASE IF EXISTS league_stats CASCADE
    """
)

DataFrame[]

In [6]:
#CRIAR league_stats.db

spark.sql(
    """
    CREATE DATABASE league_stats LOCATION 'hdfs://hdfs-nn:9000/demo/silver/league_stats.db/'
    """
)

#(drop da deltalake table league_stats)

spark.sql(
    """
    DROP TABLE IF EXISTS league_stats.deltalake_table
    """
)

#CRIAR A DELTALAKE TABLE

spark.sql(
    """
    CREATE EXTERNAL TABLE league_stats.deltalake_table (
        HomeTeam STRING,
        AwayTeam STRING,
        FTR STRING,
        Date STRING,
        FTHG INT,
        FTAG INT,
        HS INT,
        AS INT,
        HST INT,
        AST INT,
        HC INT,
        AC INT
    )
    USING DELTA
    PARTITIONED BY (
         Div STRING
    )
    LOCATION 'hdfs://hdfs-nn:9000/demo/silver/league_stats.db/deltalake_table/'
    """
)

DataFrame[]

In [8]:
#LER O FICHEIRO .CSV NO HDFS E COLOCAR NUM DATAFRAME

hdfs_path = "hdfs://hdfs-nn:9000/demo/bronze/league_stats.csv"


#DEFINIR O ESQUEMA DO DATAFRAME

customSchema = StructType([
    StructField("Div", StringType(), True),
    StructField("Date", StringType(), True),
    StructField("HomeTeam", StringType(), True),        
    StructField("AwayTeam", StringType(), True),
    StructField("FTHG", IntegerType(), True),
    StructField("FTAG", IntegerType(), True),
    StructField("FTR", StringType(), True),
    StructField("HTHG", IntegerType(), True),
    StructField("HTAG", IntegerType(), True),
    StructField("HTR", StringType(), True),
    StructField("Referee", StringType(), True),
    StructField("HS", IntegerType(), True),
    StructField("AS", IntegerType(), True),
    StructField("HST", IntegerType(), True),
    StructField("AST", IntegerType(), True),
    StructField("HF", IntegerType(), True),
    StructField("AF", IntegerType(), True),
    StructField("HC", IntegerType(), True),
    StructField("AC", IntegerType(), True),
    StructField("HY", IntegerType(), True),
    StructField("AY", IntegerType(), True),
    StructField("HR", IntegerType(), True),
    StructField("AR", IntegerType(), True),
    StructField("B365H", FloatType(), True),
    StructField("B365D", FloatType(), True),
    StructField("B365A", FloatType(), True),
    StructField("BWH", FloatType(), True),
    StructField("BWD", FloatType(), True),
    StructField("BWA", FloatType(), True),
    StructField("IWH", FloatType(), True),
    StructField("IWD", FloatType(), True),
    StructField("IWA", FloatType(), True),
    StructField("PSH", FloatType(), True),
    StructField("PSD", FloatType(), True),
    StructField("PSA", FloatType(), True),
    StructField("WHH", FloatType(), True),
    StructField("WHD", FloatType(), True),
    StructField("WHA", FloatType(), True),
    StructField("VCH", FloatType(), True),
    StructField("VCD", FloatType(), True),
    StructField("VCA", FloatType(), True),
    StructField("Bb1X2", IntegerType(), True),
    StructField("BbMxH", FloatType(), True),
    StructField("BbAvH", FloatType(), True),
    StructField("BbMxD", FloatType(), True),
    StructField("BbAvD", FloatType(), True),
    StructField("BbMxA", FloatType(), True),
    StructField("BbAvA", FloatType(), True),
    StructField("BbOU", IntegerType(), True),
    StructField("BbMx>2.5", FloatType(), True),
    StructField("BbAv>2.5", FloatType(), True),
    StructField("BbMx<2.5", FloatType(), True),
    StructField("BbAv<2.5", FloatType(), True),
    StructField("BbAH", IntegerType(), True),
    StructField("BbAHh", FloatType(), True),
    StructField("BbMxAHH", FloatType(), True),
    StructField("BbAvAHH", FloatType(), True),
    StructField("BbMxAHA", FloatType(), True),
    StructField("BbAvAHA", FloatType(), True),
    StructField("PSCH", FloatType(), True),
    StructField("PSCD", FloatType(), True),
    StructField("PSCA", FloatType(), True)
])

sales_df = spark \
           .read\
           .option("delimiter",",")\
           .option("header","true")\
           .schema(customSchema) \
           .csv(hdfs_path) \
           .drop_duplicates()

sales_df.show()
sales_df.printSchema()

+---+--------+--------------+-----------+----+----+---+----+----+---+----------+---+---+---+---+---+---+---+---+---+---+---+----+-----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+-----+-----+-----+-----+-----+-----+----+--------+--------+--------+--------+----+-----+-------+-------+-------+-------+----+-----+-----+
|Div|    Date|      HomeTeam|   AwayTeam|FTHG|FTAG|FTR|HTHG|HTAG|HTR|   Referee| HS| AS|HST|AST| HF| AF| HC| AC| HY| AY| HR|  AR|B365H|B365D|B365A| BWH| BWD| BWA| IWH| IWD| IWA| PSH| PSD| PSA| WHH| WHD|  WHA| VCH| VCD| VCA|Bb1X2|BbMxH|BbAvH|BbMxD|BbAvD|BbMxA|BbAvA|BbOU|BbMx>2.5|BbAv>2.5|BbMx<2.5|BbAv<2.5|BbAH|BbAHh|BbMxAHH|BbAvAHH|BbMxAHA|BbAvAHA|PSCH| PSCD| PSCA|
+---+--------+--------------+-----------+----+----+---+----+----+---+----------+---+---+---+---+---+---+---+---+---+---+---+----+-----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+-----+-----+-----+-----+-----+-----+----+--------+--------+--------+--------+----+-----+-------+-------+-------+-------+----+-----+-----+
| D1|09/11/14|      Dortmund| M'gladbach|   1|   0|  H|   0|   0|  D|        22|  1|  6|  0|  7| 11|  7|  0|  3|  2|  0|  0|null| 4.33|  5.0| 1.65|3.75| 5.0|1.65| 3.7| 4.9|1.57| 4.0| 5.5|1.61|4.44|5.75| 1.62|3.75| 5.5|null| null| null| 1.62|  4.3|  5.4| 42.0|  1.7|null|    4.45|    4.19|     5.8|     5.3|  34| 1.61|   1.55|   2.55|    2.4|   26.0|-1.0| 2.07| 2.01|
| D1|11/04/15|     Paderborn|   Augsburg|   2|   1|  H|   0|   0|  D|        14| 16|  4|  5| 14| 21|  6|  7|  1|  2|  0|  0|null|  3.4|  2.3| 2.95| 3.3|2.35| 2.9| 3.3| 2.3| 3.1| 3.3|2.38|3.38|3.39|2.34|  3.2| 3.1|2.38|null| null| null| 3.25|  3.4| 2.38| 49.0| 3.38|null|     3.5|     3.3|     2.4|    2.31|  47|  2.1|   1.99|   1.91|    1.8|   29.0|0.25| 1.94| 1.87|
| I1|29/11/14|      Sassuolo|     Verona|   2|   1|  H|   0|   1|  A|        17| 11|  4|  1| 18| 18|  9|  5|  4|  3|  0|  0|   2|  3.5|  3.6|  2.1| 3.2| 3.6| 2.1| 3.2| 3.4| 2.1| 3.4| 3.5|2.08|3.54| 3.9|  2.1| 3.2| 3.6|null| null| null|  2.1|  3.4|  3.8| 47.0| 2.15|null|     3.6|    3.41|     3.9|    3.64|  46| 1.95|   1.84|   2.02|   1.95|   26.0|-0.5|  2.1| 2.04|
| E0|16/08/14|           QPR|       Hull|   0|   1|  A|   0|   0|  D|  C Pawson| 19| 11|  6|  4| 10| 10|  8|  9|  1|  2|  0|   0|  2.5|  3.3|  3.1| 2.5| 3.1|2.85| 2.3| 3.3| 2.9| 2.4|3.25| 3.1|2.48|3.26| 3.22| 2.6| 3.0| 2.9| null| 3.25| 2.88| 2.55|  3.2| 3.12| 50.0|null|    2.47|     3.4|    3.18|     3.2|null| 46.0|   2.52|   2.36|   1.65|   1.58|24.0|  0.0|  1.8|
| E0|27/09/14|Crystal Palace|  Leicester|   2|   0|  H|   0|   0|  D|  K Stroud| 16|  7|  6|  1| 14|  9|  6|  6|  0|  2|  0|   0| 2.63|  3.4| 2.88|2.65| 3.1| 2.7| 2.5| 3.2|2.75| 2.5| 3.4|2.87|2.64|3.37|  2.9| 2.7| 3.1| 2.7| null| null| null|  2.6|  3.4|  2.9| 47.0|null|     2.6|     3.4|    3.27|    2.94|null| 45.0|   2.14|   2.03|   1.85|   1.77|28.0|  0.0| 1.92|
| E0|05/10/14|       Chelsea|    Arsenal|   2|   0|  H|   1|   0|  H|M Atkinson|  5| 10|  3|  0| 14| 10|  2|  2|  4|  3|  0|   0| 1.67|  4.2| 5.25|1.72|3.75|5.25|1.67| 3.6| 5.0|1.66| 4.0| 5.0|1.67| 4.1| 5.64|1.67| 3.6| 5.5| null| null| null| 1.67|  4.1|  5.5| 44.0|null|    1.66|     4.2|    3.83|     6.0|null| 41.0|   1.83|   1.75|   2.15|   2.06|25.0| -1.0| 2.22|
| E0|29/11/14|     Liverpool|      Stoke|   1|   0|  H|   0|   0|  D|  C Pawson| 16| 13|  3|  4| 11|  9|  5|  5|  0|  3|  0|   0| 1.73|  4.0|  5.0|1.75| 4.0|4.75| 1.7| 3.6| 4.7|1.66| 4.0| 5.0|1.74|3.91| 5.31|1.73| 3.5| 5.0| null| null| null|  1.7|  3.9|  5.5| 44.0|null|    1.69|     4.0|    3.77|     5.5|null| 45.0|   1.96|   1.86|    2.0|   1.94|26.0|-0.75| 1.97|
| D1|02/10/15|     Darmstadt|      Mainz|   2|   3|  A|   1|   2|  A|        14| 14|  4|  7| 12| 20|  2|  6|  1|  2|  0|  0|null| 3.25|  2.4|  3.0| 3.1|2.45| 2.6| 3.2| 2.6| 3.0|3.25| 2.3|3.21|3.39|2.42|  2.9|3.25|2.45| 3.1| null| 2.38| 42.0| 3.21| 3.05|  3.4| 3.24|null|     2.4|    36.0|    2.25|    2.13|null|  1.7|   24.0|   0.25|   1.88|   1.83|2.09| 2.04| 3.14|
| D1|21/11/15|     Stuttgart|   Augsburg|   0|   4|  A|   0|   3|  A|        18| 13|  5|  6|  8| 16|  6|  4|  2|  1|  0|  0|null|  3.8|  3.6| 1.95| 3.5|3.75| 2.0| 3.3| 3.6|1.91| 3.8| 3.6|1.96|3.95|3.89| 1.95| 3.5| 3.8|1.93|    4|  3.7| 43.0| 2.01| 1.93|  4.0| 3.74|   4|    3.74|    31.0|    1.58|    1.52|null| 2.47|   25.0|   -0.5|   1.97|   1.92|1.98| 1.94| 2.08|
| I1|16/04/16|       Bologna|     Torino|   0|   1|  A|   0|   0|  D|         8|  6|  1|  3| 14| 16|  4|  3|  4|  1|  0|  0|null|  3.1|  2.7| 2.75|2.95|2.75|2.75| 3.0|2.65| 2.8| 3.0| 2.7|2.98|3.09|2.77|  2.8| 2.9| 2.8| 2.9|    3| 2.75| 48.0| 2.98| 2.83| 3.15| 3.03|null|    2.69|    40.0|    2.47|    2.34|null| 1.58|   28.0|    0.0|   2.03|   1.97|1.93| 1.87| 3.06|
| I1|30/04/16|        Chievo| Fiorentina|   0|   0|  D|   0|   0|  D|         9| 21|  4|  5| 20| 13|  2|  6|  4|  4|  0|  0|null|  3.3| 2.05| 3.75| 3.4|2.05| 3.1| 3.3| 2.2| 3.6| 3.4|2.05| 3.9|3.59|2.06| 3.75| 3.3| 2.0| 4.1| null| 2.05| 46.0| 4.33| 3.75| 3.59| 3.39|null|    2.03|    40.0|    2.07|    1.99|null|  1.8|   28.0|    0.5|   1.88|   1.84|2.06| 2.03|  4.4|
| I1|01/05/16|         Lazio|      Inter|   2|   0|  H|   1|   0|  H|         9| 15|  4|  4| 17| 11|  1|  5|  5|  0|  0|  1|null|  3.3|  2.9|  2.5| 3.3| 2.9| 2.5| 3.3|2.65| 2.4| 3.3| 2.9|2.54|3.37|3.03| 2.62|3.25|2.62| 2.5| null|  3.0| 46.0| 2.62| 2.46|  3.4|  3.3|null|    2.87|    40.0|    1.92|    1.86|   2| 1.93|   27.0|    0.0|   1.87|   1.78|2.16| 2.08| 2.21|
| E0|30/08/15|       Swansea| Man United|   2|   1|  H|   0|   0|  D|M Atkinson|  9| 11|  4|  4|  6| 15|  0|  1|  2|  2|  0|   0|  3.6|  3.3| 2.25| 3.2| 3.2|2.25| 3.2| 3.2| 2.2| 3.4| 3.3|2.25|3.55|3.45| 2.23| 3.5| 3.0|2.25| null|  3.4|  2.2| 40.0|  3.7| 3.42|  3.5|null|    2.27|    2.19|    38.0|     2.2|null| 1.83|   1.74|   25.0|   0.25|   2.03|1.98| 1.93| 1.88|
| E0|25/02/17|       Everton| Sunderland|   2|   0|  H|   1|   0|  H| S Attwell| 20| 10|  8|  1| 10| 16| 10|  6|  0|  2|  0|   0|  1.4| 5.25|  8.5| 1.4| 4.6| 8.5|1.45| 4.4| 7.2| 1.4|4.75| 7.5|1.43|5.18| 7.91| 1.4| 4.8| 8.5| null| 5.25|  8.5| 47.0| 1.45|  1.4| 5.25|null|    8.92|    7.87|    42.0|    1.68|null| 2.34|   2.27|   23.0|  -1.25|   1.91|1.86| 2.05|  2.0|
| E0|04/03/17|    Man United|Bournemouth|   1|   1|  D|   1|   1|  D|  K Friend| 20|  3|  7|  1|  9| 11| 15|  2|  3|  2|  0|   1| 1.25|  6.5| 15.0|1.25| 6.0|12.0| 1.2| 6.5|15.0|1.25| 6.0|12.0|1.27|6.55|12.75|1.25| 6.0|13.0| null|  6.0| 13.0| 47.0| 1.28| 1.25| 6.55|null|   17.35|   12.85|    43.0|    1.63|null|  2.5|    2.4|   22.0|  -1.75|   1.98|1.93| 1.99| 1.93|
| I1|26/11/17|       Udinese|     Napoli|   0|   1|  A|   0|   1|  A|        10|  9|  2|  4| 14|  7|  3|  7|  5|  1|  0|  0|null|  5.5| 1.36| 8.75|5.25|1.34| 7.5| 4.8| 1.4| 8.0| 4.8|1.36|9.08|5.51|1.37|  7.5| 4.5| 1.4| 8.0| null| 1.36| 36.0| 9.08| 7.94| 5.51| 5.07|null|    1.37|    31.0|    1.57|    1.51|null| 2.48|   18.0|   1.25|   2.11|   2.07|1.85| 1.81|10.69|
| I1|23/04/18|         Genoa|     Verona|   3|   1|  H|   1|   0|  H|        18| 13|  8|  3| 13| 10|  8|  2|  2|  3|  0|  0|null|  4.2|  8.5| 1.45|4.25|7.75|1.45| 4.5| 7.0|1.44| 4.0| 7.5|1.48|4.34|8.48| 1.44| 4.2| 8.0|1.44| null|  9.0| 40.0| 1.51| 1.47| 4.53| 4.21|   9|    7.47|    38.0|    2.07|    1.99|null| 1.81|   21.0|   -1.0|   1.85|    1.8|2.13| 2.06| 1.42|
| I1|29/04/18|        Torino|      Lazio|   0|   1|  A|   0|   0|  D|         8| 16|  2|  6| 13| 14|  3|  6|  2|  3|  0|  0|null|  4.0| 1.64| 4.75| 3.9|1.72| 4.5| 3.8|1.75| 4.6| 3.9|1.66|4.99| 4.2| 1.7| 4.75| 4.0|1.67|5.25|    4| 1.67| 43.0| 5.25| 4.75| 4.24| 4.01|null|    1.69|    39.0|    1.66|    1.61|null|  2.3|   20.0|   0.75|   2.03|   1.98|1.91| 1.87| 5.31|
| E0|16/09/17|     Newcastle|      Stoke|   2|   1|  H|   1|   0|  H| S Attwell| 14| 13|  3|  4| 13| 11|  7|  5|  3|  1|  0|   0| 2.38| 3.25|  3.4|2.35|3.25| 3.2| 2.3| 3.3|3.15| 2.3| 3.1| 3.2|2.37|3.23| 3.46| 2.3| 3.1| 3.3| null| 3.25|  3.4| 36.0| 2.43| 2.34|  3.3|null|     3.5|    3.28|    35.0|    2.26|null| 1.75|   1.69|   16.0|  -0.25|   2.04|1.99| 1.92| 1.88|
| E0|23/04/18|       Everton|  Newcastle|   1|   0|  H|   0|   0|  D|  R Madley|  9|  9|  1|  2| 10| 11|  4|  6|  2|  1|  0|   0| 2.29| 3.39| 3.39|2.25| 3.2| 3.4| 2.4| 3.2|3.05|2.25| 3.1| 3.3|2.31|3.35| 3.46| 2.3| 3.2| 3.2| null| 3.25|  3.5| 40.0|  2.4| 2.29|  3.4|null|     3.6|    3.32|    38.0|     2.3|null|  1.7|   1.65|   19.0|  -0.25|   2.01|1.94| 1.97| 1.91|
+---+--------+--------------+-----------+----+----+---+----+----+---+----------+---+---+---+---+---+---+---+---+---+---+---+----+-----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+----+-----+-----+-----+-----+-----+-----+-----+----+--------+--------+--------+--------+----+-----+-------+-------+-------+-------+----+-----+-----+
only showing top 20 rows

root
 |-- Div: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- HomeTeam: string (nullable = true)
 |-- AwayTeam: string (nullable = true)
 |-- FTHG: integer (nullable = true)
 |-- FTAG: integer (nullable = true)
 |-- FTR: string (nullable = true)
 |-- HTHG: integer (nullable = true)
 |-- HTAG: integer (nullable = true)
 |-- HTR: string (nullable = true)
 |-- Referee: string (nullable = true)
 |-- HS: integer (nullable = true)
 |-- AS: integer (nullable = true)
 |-- HST: integer (nullable = true)
 |-- AST: integer (nullable = true)
 |-- HF: integer (nullable = true)
 |-- AF: integer (nullable = true)
 |-- HC: integer (nullable = true)
 |-- AC: integer (nullable = true)
 |-- HY: integer (nullable = true)
 |-- AY: integer (nullable = true)
 |-- HR: integer (nullable = true)
 |-- AR: integer (nullable = true)
 |-- B365H: float (nullable = true)
 |-- B365D: float (nullable = true)
 |-- B365A: float (nullable = true)
 |-- BWH: float (nullable = true)
 |-- BWD: float (nullable = true)
 |-- BWA: float (nullable = true)
 |-- IWH: float (nullable = true)
 |-- IWD: float (nullable = true)
 |-- IWA: float (nullable = true)
 |-- PSH: float (nullable = true)
 |-- PSD: float (nullable = true)
 |-- PSA: float (nullable = true)
 |-- WHH: float (nullable = true)
 |-- WHD: float (nullable = true)
 |-- WHA: float (nullable = true)
 |-- VCH: float (nullable = true)
 |-- VCD: float (nullable = true)
 |-- VCA: float (nullable = true)
 |-- Bb1X2: integer (nullable = true)
 |-- BbMxH: float (nullable = true)
 |-- BbAvH: float (nullable = true)
 |-- BbMxD: float (nullable = true)
 |-- BbAvD: float (nullable = true)
 |-- BbMxA: float (nullable = true)
 |-- BbAvA: float (nullable = true)
 |-- BbOU: integer (nullable = true)
 |-- BbMx>2.5: float (nullable = true)
 |-- BbAv>2.5: float (nullable = true)
 |-- BbMx<2.5: float (nullable = true)
 |-- BbAv<2.5: float (nullable = true)
 |-- BbAH: integer (nullable = true)
 |-- BbAHh: float (nullable = true)
 |-- BbMxAHH: float (nullable = true)
 |-- BbAvAHH: float (nullable = true)
 |-- BbMxAHA: float (nullable = true)
 |-- BbAvAHA: float (nullable = true)
 |-- PSCH: float (nullable = true)
 |-- PSCD: float (nullable = true)
 |-- PSCA: float (nullable = true)

In [9]:
#ESCREVER A TABELA ANTERIOR NO DELTALAKE

sales_df \
          .select("HomeTeam","AwayTeam", "FTR", "Date", "HS", "AS", "FTHG", "FTAG", "HST", "AST", "HC", "AC", "Div") \
          .write \
          .mode("overwrite") \
          .partitionBy("Div") \
          .format("delta") \
          .save("hdfs://hdfs-nn:9000/demo/silver/league_stats.db/deltalake_table/")

In [10]:
#MOSTRAR A DELTALAKE TABLE

spark.sql(
    """
    SELECT *
    FROM league_stats.deltalake_table
    """
).show()

+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|      HomeTeam|   AwayTeam|FTR|    Date|FTHG|FTAG| HS| AS|HST|AST| HC| AC|Div|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|     Liverpool|    Arsenal|  D|21/12/14|   2|   2| 27|  7| 10|  3| 10|  6| E0|
|       Swansea|Aston Villa|  H|26/12/14|   1|   0|  7| 11|  2|  3|  4|  0| E0|
|     Liverpool|  Leicester|  D|01/01/15|   2|   2| 18| 16|  6|  3|  4|  5| E0|
|      West Ham|  Newcastle|  H|14/09/15|   2|   0| 17| 14|  3|  4|  6|  7| E0|
|      Man City|  Newcastle|  H|03/10/15|   6|   1| 23|  6| 11|  4|  6|  3| E0|
|    Sunderland|Southampton|  A|07/11/15|   0|   1|  9| 11|  3|  4| 10| 11| E0|
|   Aston Villa|    Everton|  A|01/03/16|   1|   3| 14| 10|  5|  7|  9|  8| E0|
|    Man United|    Watford|  H|02/03/16|   1|   0| 14| 13|  3|  3|  9|  7| E0|
|       Norwich|   Man City|  D|12/03/16|   0|   0|  5| 15|  0|  3|  3|  8| E0|
|      Man City|    Watford|  H|14/12/16|   2|   0| 13|  5|  7|  2|  5|  2| E0|
|Crystal Palace|    Chelsea|  A|17/12/16|   0|   1|  6| 13|  2|  6|  5|  3| E0|
|         Stoke|    Watford|  H|03/01/17|   2|   0| 17|  9|  5|  2|  7|  6| E0|
|     Tottenham|    Burnley|  D|27/08/17|   1|   1| 28| 13|  5|  3| 10|  7| E0|
|     West Brom|      Stoke|  D|27/08/17|   1|   1| 10| 16|  2|  2| 10|  4| E0|
|Crystal Palace|Southampton|  A|16/09/17|   0|   1| 14| 13|  3|  4|  5|  5| E0|
|     West Brom|   West Ham|  D|16/09/17|   0|   0|  6|  9|  1|  1|  2|  3| E0|
|   Bournemouth|   West Ham|  D|26/12/17|   3|   3| 26| 10| 10|  5|  7|  4| E0|
|     Liverpool|  Leicester|  D|30/01/19|   1|   1| 10|  5|  3|  2|  7|  1| E0|
|     Tottenham|    Everton|  D|12/05/19|   2|   2| 11| 17|  3|  9|  7|  4| E0|
|       Swansea|        QPR|  H|02/12/14|   2|   0| 18|  5|  7|  1|  9|  2| E0|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
only showing top 20 rows

In [8]:
#TRANSFORMATIONS

In [11]:
#MOSTRAR A DELTALAKE TABLE

spark.sql(
    """
    SELECT *
    FROM league_stats.deltalake_table
    """
).show()

+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|      HomeTeam|   AwayTeam|FTR|    Date|FTHG|FTAG| HS| AS|HST|AST| HC| AC|Div|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|     Liverpool|    Arsenal|  D|21/12/14|   2|   2| 27|  7| 10|  3| 10|  6| E0|
|       Swansea|Aston Villa|  H|26/12/14|   1|   0|  7| 11|  2|  3|  4|  0| E0|
|     Liverpool|  Leicester|  D|01/01/15|   2|   2| 18| 16|  6|  3|  4|  5| E0|
|      West Ham|  Newcastle|  H|14/09/15|   2|   0| 17| 14|  3|  4|  6|  7| E0|
|      Man City|  Newcastle|  H|03/10/15|   6|   1| 23|  6| 11|  4|  6|  3| E0|
|    Sunderland|Southampton|  A|07/11/15|   0|   1|  9| 11|  3|  4| 10| 11| E0|
|   Aston Villa|    Everton|  A|01/03/16|   1|   3| 14| 10|  5|  7|  9|  8| E0|
|    Man United|    Watford|  H|02/03/16|   1|   0| 14| 13|  3|  3|  9|  7| E0|
|       Norwich|   Man City|  D|12/03/16|   0|   0|  5| 15|  0|  3|  3|  8| E0|
|      Man City|    Watford|  H|14/12/16|   2|   0| 13|  5|  7|  2|  5|  2| E0|
|Crystal Palace|    Chelsea|  A|17/12/16|   0|   1|  6| 13|  2|  6|  5|  3| E0|
|         Stoke|    Watford|  H|03/01/17|   2|   0| 17|  9|  5|  2|  7|  6| E0|
|     Tottenham|    Burnley|  D|27/08/17|   1|   1| 28| 13|  5|  3| 10|  7| E0|
|     West Brom|      Stoke|  D|27/08/17|   1|   1| 10| 16|  2|  2| 10|  4| E0|
|Crystal Palace|Southampton|  A|16/09/17|   0|   1| 14| 13|  3|  4|  5|  5| E0|
|     West Brom|   West Ham|  D|16/09/17|   0|   0|  6|  9|  1|  1|  2|  3| E0|
|   Bournemouth|   West Ham|  D|26/12/17|   3|   3| 26| 10| 10|  5|  7|  4| E0|
|     Liverpool|  Leicester|  D|30/01/19|   1|   1| 10|  5|  3|  2|  7|  1| E0|
|     Tottenham|    Everton|  D|12/05/19|   2|   2| 11| 17|  3|  9|  7|  4| E0|
|       Swansea|        QPR|  H|02/12/14|   2|   0| 18|  5|  7|  1|  9|  2| E0|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
only showing top 20 rows

In [10]:
#ALTERAR A COLUNA DIVISION

#(D1 para Bundesliga)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET Div = REPLACE(Div, 'D1', 'Germany')
    """
)

#(I1 para Serie A)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET Div = REPLACE(Div, 'I1', 'Italy')
    """
)

#(E0 para Premier League)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET Div = REPLACE(Div, 'E0', 'England')
    """
)

DataFrame[]

In [11]:
#ALTERAR A COLUNA FTR

#(H para Home)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET FTR = REPLACE(FTR, 'H', 'Home')
    """
)

#(A para Away)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET FTR = REPLACE(FTR, 'A', 'Away')
    """
)

#(D para Draw)

spark.sql(
    """    
    UPDATE league_stats.deltalake_table
    SET FTR = REPLACE(FTR, 'D', 'Draw')
    """
)

DataFrame[]

In [12]:
#MOSTRAR A DELTALAKE TABLE (já com as alterações)

spark.sql(
    """
    SELECT *
    FROM league_stats.deltalake_table
    """
).show()

+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|      HomeTeam|   AwayTeam|FTR|    Date|FTHG|FTAG| HS| AS|HST|AST| HC| AC|Div|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
|     Liverpool|    Arsenal|  D|21/12/14|   2|   2| 27|  7| 10|  3| 10|  6| E0|
|       Swansea|Aston Villa|  H|26/12/14|   1|   0|  7| 11|  2|  3|  4|  0| E0|
|     Liverpool|  Leicester|  D|01/01/15|   2|   2| 18| 16|  6|  3|  4|  5| E0|
|      West Ham|  Newcastle|  H|14/09/15|   2|   0| 17| 14|  3|  4|  6|  7| E0|
|      Man City|  Newcastle|  H|03/10/15|   6|   1| 23|  6| 11|  4|  6|  3| E0|
|    Sunderland|Southampton|  A|07/11/15|   0|   1|  9| 11|  3|  4| 10| 11| E0|
|   Aston Villa|    Everton|  A|01/03/16|   1|   3| 14| 10|  5|  7|  9|  8| E0|
|    Man United|    Watford|  H|02/03/16|   1|   0| 14| 13|  3|  3|  9|  7| E0|
|       Norwich|   Man City|  D|12/03/16|   0|   0|  5| 15|  0|  3|  3|  8| E0|
|      Man City|    Watford|  H|14/12/16|   2|   0| 13|  5|  7|  2|  5|  2| E0|
|Crystal Palace|    Chelsea|  A|17/12/16|   0|   1|  6| 13|  2|  6|  5|  3| E0|
|         Stoke|    Watford|  H|03/01/17|   2|   0| 17|  9|  5|  2|  7|  6| E0|
|     Tottenham|    Burnley|  D|27/08/17|   1|   1| 28| 13|  5|  3| 10|  7| E0|
|     West Brom|      Stoke|  D|27/08/17|   1|   1| 10| 16|  2|  2| 10|  4| E0|
|Crystal Palace|Southampton|  A|16/09/17|   0|   1| 14| 13|  3|  4|  5|  5| E0|
|     West Brom|   West Ham|  D|16/09/17|   0|   0|  6|  9|  1|  1|  2|  3| E0|
|   Bournemouth|   West Ham|  D|26/12/17|   3|   3| 26| 10| 10|  5|  7|  4| E0|
|     Liverpool|  Leicester|  D|30/01/19|   1|   1| 10|  5|  3|  2|  7|  1| E0|
|     Tottenham|    Everton|  D|12/05/19|   2|   2| 11| 17|  3|  9|  7|  4| E0|
|       Swansea|        QPR|  H|02/12/14|   2|   0| 18|  5|  7|  1|  9|  2| E0|
+--------------+-----------+---+--------+----+----+---+---+---+---+---+---+---+
only showing top 20 rows

In [13]:
#FAZER VERIFICAÇÕES

spark.sql(
    """
    Select COUNT(*) FROM league_stats.deltalake_table
    """
).show()

+--------+
|count(1)|
+--------+
|    5330|
+--------+

In [14]:
spark.sql(
    """
    SELECT HomeTeam, AwayTeam
    FROM league_stats.deltalake_table
    """
).show()

+--------------+-----------+
|      HomeTeam|   AwayTeam|
+--------------+-----------+
|     Liverpool|    Arsenal|
|       Swansea|Aston Villa|
|     Liverpool|  Leicester|
|      West Ham|  Newcastle|
|      Man City|  Newcastle|
|    Sunderland|Southampton|
|   Aston Villa|    Everton|
|    Man United|    Watford|
|       Norwich|   Man City|
|      Man City|    Watford|
|Crystal Palace|    Chelsea|
|         Stoke|    Watford|
|     Tottenham|    Burnley|
|     West Brom|      Stoke|
|Crystal Palace|Southampton|
|     West Brom|   West Ham|
|   Bournemouth|   West Ham|
|     Liverpool|  Leicester|
|     Tottenham|    Everton|
|       Swansea|        QPR|
+--------------+-----------+
only showing top 20 rows

In [15]:
#DATA QUALITY TREATMENT

#LER O DATAFRAME

sales_df = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/league_stats.db/deltalake_table/")

In [ ]:
#IDENTIFICAR LINHAS DUPLICADAS NO DELTALAKE 

import pyspark.sql.functions as f
sales_df.join(
    sales_df.groupBy(sales_df.columns).agg((f.count("*")>1).cast("int").alias("Duplicate_indicator")),
    on=sales_df.columns,
    how="inner"
).show()

In [21]:
#IDENTIFICAR VALORES DISTINTOS 
#(por exemplo, da coluna HomeTeam)

sales_df.select('HomeTeam').distinct().collect()

[Row(HomeTeam='Palermo'),
 Row(HomeTeam='Mainz'),
 Row(HomeTeam='Carpi'),
 Row(HomeTeam='Tottenham'),
 Row(HomeTeam='Brighton'),
 Row(HomeTeam='Schalke 04'),
 Row(HomeTeam='Nurnberg'),
 Row(HomeTeam='Sunderland'),
 Row(HomeTeam='Hull'),
 Row(HomeTeam='Bologna'),
 Row(HomeTeam='Man City'),
 Row(HomeTeam='Arsenal'),
 Row(HomeTeam='Cardiff'),
 Row(HomeTeam='Hoffenheim'),
 Row(HomeTeam='Lazio'),
 Row(HomeTeam='Darmstadt'),
 Row(HomeTeam='RB Leipzig'),
 Row(HomeTeam='Norwich'),
 Row(HomeTeam='Spal'),
 Row(HomeTeam='Werder Bremen'),
 Row(HomeTeam='Verona'),
 Row(HomeTeam='Hertha'),
 Row(HomeTeam='Crystal Palace'),
 Row(HomeTeam='Burnley'),
 Row(HomeTeam='Leicester'),
 Row(HomeTeam='Aston Villa'),
 Row(HomeTeam='Leverkusen'),
 Row(HomeTeam='FC Koln'),
 Row(HomeTeam='Freiburg'),
 Row(HomeTeam='Bournemouth'),
 Row(HomeTeam='QPR'),
 Row(HomeTeam='Ein Frankfurt'),
 Row(HomeTeam='Hamburg'),
 Row(HomeTeam='Hannover'),
 Row(HomeTeam='Genoa'),
 Row(HomeTeam='Sassuolo'),
 Row(HomeTeam='Roma'),
 Row(HomeTeam='Cesena'),
 Row(HomeTeam='Milan'),
 Row(HomeTeam='Paderborn'),
 Row(HomeTeam='Fulham'),
 Row(HomeTeam='Fiorentina'),
 Row(HomeTeam='West Ham'),
 Row(HomeTeam='Inter'),
 Row(HomeTeam='Man United'),
 Row(HomeTeam='Wolfsburg'),
 Row(HomeTeam='Cagliari'),
 Row(HomeTeam='Stoke'),
 Row(HomeTeam='Ingolstadt'),
 Row(HomeTeam='Wolves'),
 Row(HomeTeam='West Brom'),
 Row(HomeTeam='Southampton'),
 Row(HomeTeam='Stuttgart'),
 Row(HomeTeam='Swansea'),
 Row(HomeTeam='Chievo'),
 Row(HomeTeam='Napoli'),
 Row(HomeTeam="M'gladbach"),
 Row(HomeTeam='Parma'),
 Row(HomeTeam='Crotone'),
 Row(HomeTeam='Huddersfield'),
 Row(HomeTeam='Bayern Munich'),
 Row(HomeTeam='Fortuna Dusseldorf'),
 Row(HomeTeam='Liverpool'),
 Row(HomeTeam='Frosinone'),
 Row(HomeTeam='Pescara'),
 Row(HomeTeam='Augsburg'),
 Row(HomeTeam='Torino'),
 Row(HomeTeam='Chelsea'),
 Row(HomeTeam='Empoli'),
 Row(HomeTeam='Newcastle'),
 Row(HomeTeam='Atalanta'),
 Row(HomeTeam='Watford'),
 Row(HomeTeam='Everton'),
 Row(HomeTeam='Sampdoria'),
 Row(HomeTeam='Benevento'),
 Row(HomeTeam='Dortmund'),
 Row(HomeTeam='Juventus'),
 Row(HomeTeam='Udinese'),
 Row(HomeTeam='Middlesbrough')]

In [22]:
#IDENTIFICAR VALORES DISTINTOS 
sales_df.select('Div').distinct().collect()

[Row(Div='Germany'), Row(Div='Italy'), Row(Div='England')]

In [23]:
#IDENTIFICAR VALORES NULOS
#(por exemplo, da coluna HST)

sales_df.filter(sales_df.HS.isNull()).show()

+--------------+-----------+----+--------+----+----+----+---+---+---+---+---+-------+
|      HomeTeam|   AwayTeam| FTR|    Date|FTHG|FTAG|  HS| AS|HST|AST| HC| AC|    Div|
+--------------+-----------+----+--------+----+----+----+---+---+---+---+---+-------+
|    Sunderland|  Liverpool|Away|10/01/15|   0|   1|null|  5| 21|  1| 11|  6|England|
|Crystal Palace| Sunderland|Away|23/11/15|   0|   1|null| 19| 12|  7| 11| 11|England|
|     West Brom|Aston Villa|Draw|23/01/16|   0|   0|null|  4| 15|  0| 13|  2|England|
|       Chelsea|  Leicester|Home|15/10/16|   3|   0|null| 16|  5|  6| 12|  8|England|
|       Burnley|   Man City|Away|26/11/16|   1|   2|null| 10| 21|  5| 15|  5|England|
|   Southampton|   West Ham|Away|04/02/17|   1|   3|null| 21|  6|  7| 15|  3|England|
|     Leicester| Sunderland|Home|04/04/17|   2|   0|null| 19| 15|  8| 13|  5|England|
|     Tottenham| Man United|Home|14/05/17|   2|   1|null| 14|  8|  7| 15|  8|England|
|       Swansea|    Arsenal|Home|30/01/18|   3|   1|null| 12|  9|  4|  8|  4|England|
|  Huddersfield|    Watford|Home|14/04/18|   1|   0|null|  9|  4|  1|  8|  9|England|
|      Brighton|  Leicester|Draw|24/11/18|   1|   1|null| 14|  8|  3|  7|  6|England|
|Crystal Palace|    Burnley|Home|01/12/18|   2|   0|null| 29|  4|  9| 10| 10|England|
|       Chelsea|     Fulham|Home|02/12/18|   2|   0|null| 16|  9|  9| 17|  4|England|
|       Chelsea|    Watford|Home|05/05/19|   3|   0|null| 19| 15|  9| 12|  6|England|
|      Man City|      Stoke|Away|30/08/14|   0|   1|null| 16|  7|  2|  5| 11|England|
|       Arsenal|  Tottenham|Draw|27/09/14|   1|   1|null| 16|  6|  6| 16| 15|England|
|      Man City| Man United|Home|02/11/14|   1|   0|null| 16|  9|  6|  9|  7|England|
|      Man City|Southampton|Home|28/11/15|   3|   1|null| 16| 12|  9| 11|  6|England|
|Crystal Palace|      Stoke|Home|07/05/16|   2|   1|null| 17| 12|  4| 18|  4|England|
|     Leicester|    Arsenal|Draw|20/08/16|   0|   0|null|  8| 13|  1|  7|  2|England|
+--------------+-----------+----+--------+----+----+----+---+---+---+---+---+-------+
only showing top 20 rows

In [24]:
sales_df \
    .write \
    .mode("overwrite") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/league_stats.db/deltalake_table/")