In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
import pyspark.sql.functions as f

In [2]:
# CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/silver/projeto'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
#DROP DO DB
spark.sql(
    """
    DROP DATABASE IF EXISTS transfers CASCADE
    """
)
# CRIAR A DATABASE - transfers.db
spark.sql(
    """
    CREATE DATABASE transfers LOCATION 'hdfs://hdfs-nn:9000/demo/silver/projeto/transfers.db/'
    """
)
#DROP DO DELTALAKE TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS transfers.deltalake_table 
    """
)
# CRIAR O DELTALAKE TABLE
spark.sql(
    """
    CREATE EXTERNAL TABLE transfers.deltalake_table (
        Name CHAR(100),
        Position CHAR(100),
        Age INT,       
        Team_from CHAR(100),
        League_from CHAR(100),
        Team_to CHAR(100),
        League_to CHAR(100),
        Transfer_fee INT
        
    )
    USING DELTA
    PARTITIONED BY (Season CHAR(100)
    )
    LOCATION 'hdfs://hdfs-nn:9000/demo/silver/projeto/transfers.db/deltalake_table/'
    """
)

DataFrame[]

In [4]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+--------------+
|     namespace|
+--------------+
|       default|
|          demo|
|gold_transfers|
|    mls_salary|
|      products|
|         sales|
|     transfers|
+--------------+

In [5]:
spark.sql(
    """
    SHOW TABLES FROM transfers
    """
).show()

+---------+---------------+-----------+
| database|      tableName|isTemporary|
+---------+---------------+-----------+
|transfers|deltalake_table|      false|
+---------+---------------+-----------+

In [6]:
# VER O DELTALAKE TABLE
spark.sql(
    """
    SELECT *
    FROM transfers.deltalake_table
    """
).show()

+----+--------+---+---------+-----------+-------+---------+------------+------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Transfer_fee|Season|
+----+--------+---+---------+-----------+-------+---------+------------+------+
+----+--------+---+---------+-----------+-------+---------+------------+------+

In [7]:
spark.sql(
    """
    DESCRIBE FORMATTED transfers.deltalake_table
    """
).toPandas()

,col_name,data_type,comment
0,Name,string,
1,Position,string,
2,Age,int,
3,Team_from,string,
4,League_from,string,
5,Team_to,string,
6,League_to,string,
7,Transfer_fee,int,
8,Season,string,
9,,,
10,# Partitioning,,
11,Part 0,Season,
12,,,
13,# Detailed Table Information,,
14,Name,transfers.deltalake_table,
15,Location,hdfs://hdfs-nn:9000/demo/silver/projeto/transf...,
16,Provider,delta,
17,Table Properties,"[Type=EXTERNAL,delta.minReaderVersion=1,delta....",

In [8]:
# LER O FICHEIRO CSV NO HDFS E COLOCAR NUM DATAFRAME
hdfs_path = "hdfs://hdfs-nn:9000/demo/bronze/projeto/top250-00-19.csv"
# DEFINIR OS ESQUEMA DO DATAFRAME

customSchema = StructType([
    StructField("Name", StringType(), True),        
    StructField("Position", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Team_from", StringType(), True),
    StructField("League_from", StringType(), True),
    StructField("Team_to", StringType(), True),
    StructField("League_to", StringType(), True),
    StructField("Season", StringType(), True),
    StructField("Transfer_fee", IntegerType(), True),  
])

transfers_df = spark \
            .read\
            .option("delimiter",",")\
            .option("header","true")\
            .schema(customSchema) \
            .csv(hdfs_path)
transfers_df.show()
transfers_df.printSchema()

+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|                Name|          Position|Age|      Team_from|   League_from|      Team_to|     League_to|   Season|Transfer_fee|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|           Luís Figo|      Right Winger| 27|   FC Barcelona|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|       Hernán Crespo|    Centre-Forward| 25|          Parma|       Serie A|        Lazio|       Serie A|2000-2001|        null|
|       Marc Overmars|       Left Winger| 27|        Arsenal|Premier League| FC Barcelona|        LaLiga|2000-2001|        null|
|   Gabriel Batistuta|    Centre-Forward| 31|     Fiorentina|       Serie A|      AS Roma|       Serie A|2000-2001|        null|
|      Nicolas Anelka|    Centre-Forward| 21|    Real Madrid|        LaLiga|     Paris SG|       Ligue 1|2000-2001|        null|
|       Rio Ferdinand|       Centre-Back| 22|       West Ham|Premier League|        Leeds|Premier League|2000-2001|        null|
|    Flávio Conceicao|  Central Midfield| 26| Dep. La Coruña|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|      Savo Milosevic|    Centre-Forward| 26|  Real Zaragoza|        LaLiga|        Parma|       Serie A|2000-2001|        null|
|     David Trézéguet|    Centre-Forward| 22|         Monaco|       Ligue 1|     Juventus|       Serie A|2000-2001|        null|
|       Claudio López|    Centre-Forward| 25|    Valencia CF|        LaLiga|        Lazio|       Serie A|2000-2001|        null|
|Jimmy Floyd Hasse...|    Centre-Forward| 28|Atlético Madrid|       LaLiga2|      Chelsea|Premier League|2000-2001|        null|
|        Gerard López|  Central Midfield| 21|    Valencia CF|        LaLiga| FC Barcelona|        LaLiga|2000-2001|        null|
|               Lucas|    Centre-Forward| 21|    Atlético-PR|        Brazil|Stade Rennais|       Ligue 1|2000-2001|        null|
|         Pablo Aimar|Attacking Midfield| 21|    River Plate|     Argentina|  Valencia CF|        LaLiga|2000-2001|        null|
|       Wálter Samuel|       Centre-Back| 22|   Boca Juniors|     Argentina|      AS Roma|       Serie A|2000-2001|        null|
|       Shabani Nonda|    Centre-Forward| 23|  Stade Rennais|       Ligue 1|       Monaco|       Ligue 1|2000-2001|        null|
|        Robbie Keane|    Centre-Forward| 19|  Coventry City|Premier League|        Inter|       Serie A|2000-2001|        null|
|           José Mari|    Centre-Forward| 21|Atlético Madrid|       LaLiga2|     AC Milan|       Serie A|2000-2001|        null|
|     Jonathan Zebina|       Centre-Back| 21|Cagliari Calcio|       Serie B|      AS Roma|       Serie A|2000-2001|        null|
|             Émerson|Defensive Midfield| 24|Bay. Leverkusen|  1.Bundesliga|      AS Roma|       Serie A|2000-2001|        null|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
only showing top 20 rows

root
 |-- Name: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Team_from: string (nullable = true)
 |-- League_from: string (nullable = true)
 |-- Team_to: string (nullable = true)
 |-- League_to: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- Transfer_fee: integer (nullable = true)

In [9]:
#VIEW
transfers_df.createOrReplaceTempView ("TransfersTemp")

In [10]:
spark.sql(
    """
    SELECT *
    FROM TransfersTemp
    """
).show()

+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|                Name|          Position|Age|      Team_from|   League_from|      Team_to|     League_to|   Season|Transfer_fee|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|           Luís Figo|      Right Winger| 27|   FC Barcelona|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|       Hernán Crespo|    Centre-Forward| 25|          Parma|       Serie A|        Lazio|       Serie A|2000-2001|        null|
|       Marc Overmars|       Left Winger| 27|        Arsenal|Premier League| FC Barcelona|        LaLiga|2000-2001|        null|
|   Gabriel Batistuta|    Centre-Forward| 31|     Fiorentina|       Serie A|      AS Roma|       Serie A|2000-2001|        null|
|      Nicolas Anelka|    Centre-Forward| 21|    Real Madrid|        LaLiga|     Paris SG|       Ligue 1|2000-2001|        null|
|       Rio Ferdinand|       Centre-Back| 22|       West Ham|Premier League|        Leeds|Premier League|2000-2001|        null|
|    Flávio Conceicao|  Central Midfield| 26| Dep. La Coruña|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|      Savo Milosevic|    Centre-Forward| 26|  Real Zaragoza|        LaLiga|        Parma|       Serie A|2000-2001|        null|
|     David Trézéguet|    Centre-Forward| 22|         Monaco|       Ligue 1|     Juventus|       Serie A|2000-2001|        null|
|       Claudio López|    Centre-Forward| 25|    Valencia CF|        LaLiga|        Lazio|       Serie A|2000-2001|        null|
|Jimmy Floyd Hasse...|    Centre-Forward| 28|Atlético Madrid|       LaLiga2|      Chelsea|Premier League|2000-2001|        null|
|        Gerard López|  Central Midfield| 21|    Valencia CF|        LaLiga| FC Barcelona|        LaLiga|2000-2001|        null|
|               Lucas|    Centre-Forward| 21|    Atlético-PR|        Brazil|Stade Rennais|       Ligue 1|2000-2001|        null|
|         Pablo Aimar|Attacking Midfield| 21|    River Plate|     Argentina|  Valencia CF|        LaLiga|2000-2001|        null|
|       Wálter Samuel|       Centre-Back| 22|   Boca Juniors|     Argentina|      AS Roma|       Serie A|2000-2001|        null|
|       Shabani Nonda|    Centre-Forward| 23|  Stade Rennais|       Ligue 1|       Monaco|       Ligue 1|2000-2001|        null|
|        Robbie Keane|    Centre-Forward| 19|  Coventry City|Premier League|        Inter|       Serie A|2000-2001|        null|
|           José Mari|    Centre-Forward| 21|Atlético Madrid|       LaLiga2|     AC Milan|       Serie A|2000-2001|        null|
|     Jonathan Zebina|       Centre-Back| 21|Cagliari Calcio|       Serie B|      AS Roma|       Serie A|2000-2001|        null|
|             Émerson|Defensive Midfield| 24|Bay. Leverkusen|  1.Bundesliga|      AS Roma|       Serie A|2000-2001|        null|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
only showing top 20 rows

In [11]:
# ESCREVER A TABELA ANTERIOR NO DELTALAKE
transfers_df
transfers_df \
    .select("Name","Position","Age","Team_from","League_from", "Team_to","League_to", "Transfer_fee", "Season") \
    .write \
    .mode("overwrite") \
    .option("overwriteSchema", "true") \
    .partitionBy("Season") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/projeto/transfers.db/deltalake_table/")

In [12]:
spark.sql(
    """
    SELECT * FROM transfers.deltalake_table
    """
).show()

+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+---------+
|                Name|          Position|Age|      Team_from|   League_from|       Team_to|     League_to|Transfer_fee|   Season|
+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+---------+
|      Michael Essien|Defensive Midfield| 22| Olympique Lyon|       Ligue 1|       Chelsea|Premier League|    45000000|2005-2006|
|Shaun Wright-Phil...|      Right Winger| 23|       Man City|Premier League|       Chelsea|Premier League|     9500000|2005-2006|
|        Sergio Ramos|       Centre-Back| 19|     Sevilla FC|        LaLiga|   Real Madrid|        LaLiga|    27000000|2005-2006|
|        Michael Owen|    Centre-Forward| 25|    Real Madrid|        LaLiga|     Newcastle|Premier League|    22000000|2005-2006|
|   Alberto Gilardino|    Centre-Forward| 23|          Parma|       Serie A|      AC Milan|       Serie A|    20000000|2005-2006|
|             Robinho|       Left Winger| 21|      Santos FC|       Série A|   Real Madrid|        LaLiga|    25000000|2005-2006|
|      Patrick Vieira|Defensive Midfield| 29|        Arsenal|Premier League|      Juventus|       Serie A|    35000000|2005-2006|
|      Júlio Baptista|Attacking Midfield| 23|     Sevilla FC|        LaLiga|   Real Madrid|        LaLiga|    25000000|2005-2006|
|        Albert Luque|       Left Winger| 27| Dep. La Coruña|        LaLiga|     Newcastle|Premier League|    20000000|2005-2006|
|             Maniche|  Central Midfield| 27|       FC Porto|      Liga NOS| Dinamo Moscow|  Premier Liga|    18000000|2005-2006|
|       Wálter Samuel|       Centre-Back| 27|    Real Madrid|        LaLiga|         Inter|       Serie A|    17000000|2005-2006|
|                Fred|    Centre-Forward| 21|       Cruzeiro|       Série A|Olympique Lyon|       Ligue 1|     7500000|2005-2006|
|      Jermaine Jenas|  Central Midfield| 22|      Newcastle|Premier League|         Spurs|Premier League|     9000000|2005-2006|
|      Aleksandr Hleb|Attacking Midfield| 24|  VfB Stuttgart|  1.Bundesliga|       Arsenal|Premier League|     8500000|2005-2006|
|     Asier del Horno|         Left-Back| 24|Athletic Bilbao|        LaLiga|       Chelsea|Premier League|    12000000|2005-2006|
|       David Pizarro|  Central Midfield| 25| Udinese Calcio|       Serie A|         Inter|       Serie A|    12000000|2005-2006|
|         David Villa|    Centre-Forward| 23|  Real Zaragoza|        LaLiga|   Valencia CF|        LaLiga|    12000000|2005-2006|
|     Mohamed Sissoko|Defensive Midfield| 20|    Valencia CF|        LaLiga|     Liverpool|Premier League|     4000000|2005-2006|
|   Javier Mascherano|Defensive Midfield| 21|    River Plate|  Torneo Final|   Corinthians|       Série A|    11800000|2005-2006|
|         Dean Ashton|    Centre-Forward| 22|        Norwich|  Championship|      West Ham|Premier League|     6500000|2005-2006|
+--------------------+------------------+---+---------------+--------------+--------------+--------------+------------+---------+
only showing top 20 rows

In [13]:
# FAZER VERIFICAÇÕES
spark.sql(
    """
    Select COUNT(*) FROM transfers.deltalake_table
    """
).show()

+--------+
|count(1)|
+--------+
|    4700|
+--------+

In [14]:
#ELIMINAR AS LINHAS ONDE O VALOR DA TRANSFERÊNCIA NÃO ESTÁ DEFINIDO
#Isto só está a eliminar no dataframe - não pode estar no deltalake
spark.sql(
"""
DELETE FROM transfers.deltalake_table
WHERE Transfer_fee is null
"""
).show()

++
||
++
++

In [15]:
# VERIFICAR QUANTAS LINHAS FORAM ELIMINADAS
spark.sql(
    """
    Select COUNT(*) FROM transfers.deltalake_table
    """
).show()

+--------+
|count(1)|
+--------+
|    3440|
+--------+

In [16]:
# IDENTIFICAR AS LINHAS DUPLICADAS
import pyspark.sql.functions as f
transfers_df.join(
  transfers_df.groupBy(transfers_df.columns).agg((f.count("*")>1).cast("int").alias("Duplicate_indicator")),
    on=transfers_df.columns,
    how="inner"
).show()

+------------------+------------------+---+---------------+------------------+--------------+--------------+---------+------------+-------------------+
|              Name|          Position|Age|      Team_from|       League_from|       Team_to|     League_to|   Season|Transfer_fee|Duplicate_indicator|
+------------------+------------------+---+---------------+------------------+--------------+--------------+---------+------------+-------------------+
|Cristian Silvestri|       Centre-Back| 29|          Lecce|           Serie A|       Catania|       Serie B|2004-2005|     1250000|                  0|
|      Sergey Semak|  Central Midfield| 29|       Paris SG|           Ligue 1|     FK Moskau|  Premier Liga|2005-2006|     2500000|                  0|
|    Ricardo Osorio|        Right-Back| 26|   CD Cruz Azul|  Liga MX Clausura| VfB Stuttgart|  1.Bundesliga|2006-2007|     3000000|                  0|
|   Nenad Kovacevic|Defensive Midfield| 25|       Red Star|         SuperLiga|          Lens|       Ligue 1|2006-2007|     2000000|                  0|
|      Ebi Smolarek|    Centre-Forward| 26|  Bor. Dortmund|      1.Bundesliga|        Racing|        LaLiga|2007-2008|     4500000|                  0|
|           Ramires|  Central Midfield| 22|       Cruzeiro|           Série A|       Benfica|      Liga NOS|2009-2010|     8000000|                  0|
| Laurent Koscielny|       Centre-Back| 24|     FC Lorient|           Ligue 1|       Arsenal|Premier League|2010-2011|     5000000|                  0|
|       Darío Conca|Attacking Midfield| 28|     Fluminense|           Série A| GZ Evergrande|  Super League|2011-2012|     6000000|                  0|
|  Diego Buonanotte|Attacking Midfield| 23|    River Plate|Primera B Nacional|     Málaga CF|        LaLiga|2011-2012|     2700000|                  0|
|    Leandro Damião|    Centre-Forward| 24|  Internacional|           Série A|     Santos FC|       Série A|2013-2014|    22000000|                  0|
|        Tino Costa|  Central Midfield| 28|    Valencia CF|            LaLiga|Spartak Moscow|  Premier Liga|2013-2014|     7000000|                  0|
|       Pape Souaré|         Left-Back| 24|     LOSC Lille|           Ligue 1|Crystal Palace|Premier League|2014-2015|     3500000|                  0|
|    Álvaro Negredo|    Centre-Forward| 29|       Man City|    Premier League|   Valencia CF|        LaLiga|2015-2016|    18000000|                  0|
|    Angelo Ogbonna|       Centre-Back| 27|       Juventus|           Serie A|      West Ham|Premier League|2015-2016|     9000000|                  0|
|      Ivelin Popov|Attacking Midfield| 27|Kuban Krasnodar|      Premier Liga|Spartak Moscow|  Premier Liga|2015-2016|     9500000|                  0|
|        João Mário|Attacking Midfield| 23|    Sporting CP|          Liga NOS|         Inter|       Serie A|2016-2017|    30000000|                  0|
|Benjamin Stambouli|       Centre-Back| 26|       Paris SG|           Ligue 1| FC Schalke 04|  1.Bundesliga|2016-2017|     7000000|                  0|
|       Daniel Wass|  Central Midfield| 29|  Celta de Vigo|            LaLiga|   Valencia CF|        LaLiga|2018-2019|    15000000|                  0|
|           Maniche|  Central Midfield| 27|       FC Porto|          Liga NOS| Dinamo Moscow|  Premier Liga|2005-2006|    18000000|                  0|
|  Frédéric Kanouté|    Centre-Forward| 27|          Spurs|    Premier League|    Sevilla FC|        LaLiga|2005-2006|     7500000|                  0|
+------------------+------------------+---+---------------+------------------+--------------+--------------+---------+------------+-------------------+
only showing top 20 rows

In [17]:
#VER TODOS OS VALORES DISTINCTOS DE CADA COLUNA 
transfers_df.select('Name').distinct().collect()

[Row(Name='Robert Pirès'),
 Row(Name="Patrick M'Boma"),
 Row(Name='John Curtis'),
 Row(Name='Claudio Pizarro'),
 Row(Name='Robert Kovac'),
 Row(Name='Matthew Upson'),
 Row(Name='Marco Storari'),
 Row(Name='Bosingwa'),
 Row(Name='Damian Gorawski'),
 Row(Name='John Welsh'),
 Row(Name='Welliton'),
 Row(Name='Heurelho Gomes'),
 Row(Name='Mauro Formica'),
 Row(Name='Anwar El Ghazi'),
 Row(Name='Lucas Castro'),
 Row(Name='Fábio Rochemback'),
 Row(Name='Fabio Cannavaro'),
 Row(Name='Christian Timm'),
 Row(Name='David Dunn'),
 Row(Name='Sören Larsen'),
 Row(Name='David Odonkor'),
 Row(Name='Arturo Vidal'),
 Row(Name='Ismail Aissati'),
 Row(Name='Andrea Rispoli'),
 Row(Name='Antonio Candreva'),
 Row(Name='Raúl Jiménez'),
 Row(Name='Isaac Brizuela'),
 Row(Name='Yuhao Zhao'),
 Row(Name='Lorenzo Pellegrini'),
 Row(Name='Raúl Ruidíaz'),
 Row(Name='Craig Hignett'),
 Row(Name='Dean Richards'),
 Row(Name='Ianis Zicu'),
 Row(Name='Denis Kolodin'),
 Row(Name='Luton Shelton'),
 Row(Name='Wellington'),
 Row(Name='Kyle Walker'),
 Row(Name='Gylfi Sigurdsson'),
 Row(Name='Romain Alessandrini'),
 Row(Name='Yanic Wildschut'),
 Row(Name='Mahamadou Diarra'),
 Row(Name='Nicola Legrottaglie'),
 Row(Name='Matt Holland'),
 Row(Name='Duccio Innocenti'),
 Row(Name='Aílton'),
 Row(Name='Edinson Cavani'),
 Row(Name='Massimo Gobbi'),
 Row(Name='David Nugent'),
 Row(Name='Thiago Neves'),
 Row(Name='José Salomón Rondón'),
 Row(Name='Axel Witsel'),
 Row(Name='Zé Luís'),
 Row(Name='Sven Kums'),
 Row(Name='Milan Skriniar'),
 Row(Name='Sandro Wagner'),
 Row(Name='Raphinha'),
 Row(Name='Lucas'),
 Row(Name='Bernt Haas'),
 Row(Name='Mikel Arteta'),
 Row(Name='Ali Lukunku'),
 Row(Name='Rade Prica'),
 Row(Name='Zisis Vryzas'),
 Row(Name='Pascal Feindouno'),
 Row(Name='Salvador Cabañas'),
 Row(Name='Henrique'),
 Row(Name='Zoran Tosic'),
 Row(Name='Marvin Emnes'),
 Row(Name='Keirrison'),
 Row(Name='Mevlüt Erdinc'),
 Row(Name='Matteo Ardemagni'),
 Row(Name='Rodrigo Moledo'),
 Row(Name='Wenzhao Zhang'),
 Row(Name='Ademola Lookman'),
 Row(Name='Gerónimo Rulli'),
 Row(Name='Yuri Berchiche'),
 Row(Name='Louis Saha'),
 Row(Name='Jon Harley'),
 Row(Name='Jurgen Cavens'),
 Row(Name='Gheorghe Popescu'),
 Row(Name='Júlio Baptista'),
 Row(Name='Clemente Rodríguez'),
 Row(Name='Lassana Diarra'),
 Row(Name='Cristiano Lucarelli'),
 Row(Name='Dimitri Payet'),
 Row(Name='Aly Cissokho'),
 Row(Name='Michael Turner'),
 Row(Name='Moussa Sow'),
 Row(Name='Daley Blind'),
 Row(Name='Jinhao Bi'),
 Row(Name='Robbie Brady'),
 Row(Name='Moubarak Boussoufa'),
 Row(Name='Servet Cetin'),
 Row(Name='Djibril Cissé'),
 Row(Name='Pierre-Alain Frau'),
 Row(Name='Daniel Niculae'),
 Row(Name='Alan Hutton'),
 Row(Name='Joffre Guerrón'),
 Row(Name='César Azpilicueta'),
 Row(Name='Jean Beausejour'),
 Row(Name='Mohamed Salah'),
 Row(Name='Leonardo Pavoletti'),
 Row(Name='Bremer'),
 Row(Name='Jardel'),
 Row(Name='Nick Barmby'),
 Row(Name='Javier Saviola'),
 Row(Name='Juan Fernández'),
 Row(Name='Mbulelo Mabizela'),
 Row(Name='Lima'),
 Row(Name='Santos'),
 Row(Name='Julio dos Santos'),
 Row(Name='Balázs Dzsudzsák'),
 Row(Name='Timm Klose'),
 Row(Name='Chancel Mbemba'),
 Row(Name='Cédric Soares'),
 Row(Name='Vratislav Gresko'),
 Row(Name='Marco Materazzi'),
 Row(Name='Brahim Hemdani'),
 Row(Name='Mark Wilson'),
 Row(Name='Darren Ambrose'),
 Row(Name='Guillermo Pereyra'),
 Row(Name='Vikash Dhorasoo'),
 Row(Name='Raúl García'),
 Row(Name='Cléber Santana'),
 Row(Name='Benoît Cheyrou'),
 Row(Name='Victor Ramos'),
 Row(Name='André'),
 Row(Name='Ezequiel Schelotto'),
 Row(Name='Marquinho'),
 Row(Name='Panagiotis Kone'),
 Row(Name='Allan'),
 Row(Name='Fabinho'),
 Row(Name='Guido Pizarro'),
 Row(Name='Sébastien Haller'),
 Row(Name='Emmanuel Adebayor'),
 Row(Name='Carlos Alberto'),
 Row(Name='Josip Skoko'),
 Row(Name='Branislav Ivanovic'),
 Row(Name='Edin Dzeko'),
 Row(Name='Nicolás Pareja'),
 Row(Name='Maicosuel'),
 Row(Name='Esteban Granero'),
 Row(Name='Mauricio Isla'),
 Row(Name='Andrea Rossi'),
 Row(Name='Wellington Nem'),
 Row(Name='Mattia Caldara'),
 Row(Name='Zé Roberto'),
 Row(Name='Giannis Skopelitis'),
 Row(Name='Samir Nasri'),
 Row(Name='Sidnei'),
 Row(Name='Érik Lamela'),
 Row(Name='Nolan Roux'),
 Row(Name='Ju-yeong Park'),
 Row(Name='Bruno Ecuele Manga'),
 Row(Name='Corentin Tolisso'),
 Row(Name='Ümit Bozkurt'),
 Row(Name='Roy Makaay'),
 Row(Name='James McFadden'),
 Row(Name='Claudiu Raducanu'),
 Row(Name='Ricardo Oliveira'),
 Row(Name='Fitz Hall'),
 Row(Name='Mirel Radoi'),
 Row(Name='Mauro Boselli'),
 Row(Name='Fabián Orellana'),
 Row(Name='Geoffrey Kondogbia'),
 Row(Name='Vitinho'),
 Row(Name='Rick Karsdorp'),
 Row(Name='Diogo Dalot'),
 Row(Name='Nordi Mukiele'),
 Row(Name='Moussa Niakhaté'),
 Row(Name='Claude Makélélé'),
 Row(Name='Nils-Eric Johansson'),
 Row(Name='Samuele Dalla Bona'),
 Row(Name='Simon Jentzsch'),
 Row(Name='Selcuk Sahin'),
 Row(Name='César Delgado'),
 Row(Name='Jimmy Bullard'),
 Row(Name='Carlos Eduardo'),
 Row(Name='Achille Emaná'),
 Row(Name='Túlio de Melo'),
 Row(Name='Karim Benzema'),
 Row(Name='Raúl Bobadilla'),
 Row(Name='Anthony Modeste'),
 Row(Name='Michal Kadlec'),
 Row(Name='Ignacio Scocco'),
 Row(Name='Callum McManaman'),
 Row(Name='Nicolai Müller'),
 Row(Name='Johannes Geis'),
 Row(Name='Matej Vydra'),
 Row(Name='Leandro Paredes'),
 Row(Name='Jonatan Soriano'),
 Row(Name='Sylvain Distin'),
 Row(Name='Sasa Bjelanovic'),
 Row(Name='Pablo Thiam'),
 Row(Name='Hamit Altintop'),
 Row(Name='Matteo Ferrari'),
 Row(Name='Robert Lewandowski'),
 Row(Name='Steven Pienaar'),
 Row(Name='Jordan Henderson'),
 Row(Name='Gabriel Silva'),
 Row(Name='Leandro Castán'),
 Row(Name='Malick Evouna'),
 Row(Name='Álvaro Odriozola'),
 Row(Name='Santiago Cáseres'),
 Row(Name='Lomana LuaLua'),
 Row(Name='Timmy Simons'),
 Row(Name='Eldin Jakupovic'),
 Row(Name='Júan'),
 Row(Name='Paulo André'),
 Row(Name='Andreas Hinkel'),
 Row(Name='Pablo Barrientos'),
 Row(Name='Giovanni Moreno'),
 Row(Name='Ante Rebic'),
 Row(Name='Giacomo Bonaventura'),
 Row(Name='João Cancelo'),
 Row(Name='Thiago Mendes'),
 Row(Name='Jesper Christiansen'),
 Row(Name='Hervé Tum'),
 Row(Name='Juninho Paulista'),
 Row(Name='Jaime Gavilán'),
 Row(Name='José Sand'),
 Row(Name='Marc Janko'),
 Row(Name='Aristide Bancé'),
 Row(Name='Jonathan Cristaldo'),
 Row(Name='Kevin De Bruyne'),
 Row(Name='Bruma'),
 Row(Name='Kiko Casilla'),
 Row(Name='Kevin Wimmer'),
 Row(Name='Giovanni Simeone'),
 Row(Name='Angus Gunn'),
 Row(Name='Steve Watson'),
 Row(Name='Alexander Manninger'),
 Row(Name='Ricardo Quaresma'),
 Row(Name='Neil McCann'),
 Row(Name='Mathieu Bodmer'),
 Row(Name='Daniele Mannini'),
 Row(Name='Pavel Mamaev'),
 Row(Name='Grzegorz Krychowiak'),
 Row(Name='Marko Grujic'),
 Row(Name='Ning Jiang'),
 Row(Name='Giovani Lo Celso'),
 Row(Name='Davinson Sánchez'),
 Row(Name='Abdou Diallo'),
 Row(Name='Danny Higginbotham'),
 Row(Name='Michael Ball'),
 Row(Name='Victor Agali'),
 Row(Name='França'),
 Row(Name='David Sommeil'),
 Row(Name='Diego Crosa'),
 Row(Name='Emmanuel Eboué'),
 Row(Name='Fred'),
 Row(Name='Mario Santana'),
 Row(Name='Maxi Moralez'),
 Row(Name='Piotr Zielinski'),
 Row(Name='Antonio Rüdiger'),
 Row(Name='Harry Maguire'),
 Row(Name='Olof Mellberg'),
 Row(Name='Adékambi Olufadé'),
 Row(Name="Karel D'Haene"),
 Row(Name='Dean Ashton'),
 Row(Name='Naldo'),
 Row(Name='Paul Konchesky'),
 Row(Name='Shefki Kuqi'),
 Row(Name='Craig Gordon'),
 Row(Name='Ari'),
 Row(Name='Dave Kitson'),
 Row(Name='Marco Amelia'),
 Row(Name='Eljero Elia'),
 Row(Name='Franco Jara'),
 Row(Name='Alper Potuk'),
 Row(Name='Wahbi Khazri'),
 Row(Name='Marcelo Saracchi'),
 Row(Name='Haim Revivo'),
 Row(Name='Christian Negouai'),
 Row(Name='Alex Yi'),
 Row(Name='Emanuel Centurión'),
 Row(Name='Luís Loureiro'),
 Row(Name='Emre Belözoglu'),
 Row(Name='Darren Bent'),
 Row(Name='Ashley Cole'),
 Row(Name='David Bentley'),
 Row(Name='Giovani dos Santos'),
 Row(Name='Alberto Zapater'),
 Row(Name='Juan Jesus'),
 Row(Name='Domagoj Vida'),
 Row(Name='Angelo Ogbonna'),
 Row(Name='Bastian Schweinsteiger'),
 Row(Name='Iago Falque'),
 Row(Name='Valentino Lazaro'),
 Row(Name='Nelson Vivas'),
 Row(Name='Jan Simak'),
 Row(Name='Jon Dahl Tomasson'),
 Row(Name='Simon Vukcevic'),
 Row(Name='Corrêa'),
 Row(Name='Danny Guthrie'),
 Row(Name='Danilinho'),
 Row(Name='Aurélien Chedjou'),
 Row(Name='Gianluca Lapadula'),
 Row(Name='Miha Mevlja'),
 Row(Name='Lúcio'),
 Row(Name='Ben Thatcher'),
 Row(Name='Alex Nyarko'),
 Row(Name='François Grenet'),
 Row(Name='André Luiz'),
 Row(Name='Gabriel Tamas'),
 Row(Name='Yaya Touré'),
 Row(Name='Jérémy Mathieu'),
 Row(Name='Alexandre Pato'),
 Row(Name='Kevin-Prince Boateng'),
 Row(Name='Ángel López'),
 Row(Name='Kevin Nolan'),
 Row(Name='Gareth Barry'),
 Row(Name='Gonzalo Bergessio'),
 Row(Name='Federico Peluso'),
 Row(Name='Adama Traoré'),
 Row(Name='Yangyang Jin'),
 Row(Name='Robert Beric'),
 Row(Name='Juan Foyth'),
 Row(Name='João Carvalho'),
 Row(Name='Geoff Horsfield'),
 Row(Name='Didier Martel'),
 Row(Name='Antonio Cassano'),
 Row(Name='Christian'),
 Row(Name='Vaclav Sverkos'),
 Row(Name='Juliano Belletti'),
 Row(Name='Aleksey Bugaev'),
 Row(Name='Davide Possanzini'),
 Row(Name='Önder Turaci'),
 Row(Name='Chris Baird'),
 Row(Name='Danilo Silva'),
 Row(Name='Steven Defour'),
 Row(Name='Juan Cuadrado'),
 Row(Name='Cristian Ansaldi'),
 Row(Name='Adam Maher'),
 Row(Name='Libor Kozak'),
 Row(Name='Vadis Odjidja-Ofoe'),
 Row(Name='Gaël Kakuta'),
 Row(Name='Sam Clucas'),
 Row(Name='Yoshikatsu Kawaguchi'),
 Row(Name='Petri Pasanen'),
 Row(Name='Mark Bresciano'),
 Row(Name='Rubén Olivera'),
 Row(Name='Rafael Márquez'),
 Row(Name='Deco'),
 Row(Name='Jô'),
 Row(Name='José Manuel Jurado'),
 Row(Name='Mirko Vucinic'),
 Row(Name='Óscar Ustari'),
 Row(Name='Daniele Galloppa'),
 Row(Name='Édgar Barreto'),
 Row(Name='Chico'),
 Row(Name='Lucas Digne'),
 Row(Name='Naby Keïta'),
 Row(Name='Óscar Romero'),
 Row(Name='Soualiho Meïté'),
 Row(Name='Riyad Mahrez'),
 Row(Name='Borja Iglesias'),
 Row(Name='Florin Andone'),
 Row(Name='Milton Caraglio'),
 Row(Name='Paddy McNair'),
 Row(Name='Chris Barker'),
 Row(Name='Kléberson'),
 Row(Name='Aritz Aduriz'),
 Row(Name='Lucas Biglia'),
 Row(Name='Manuel da Costa'),
 Row(Name='Germán Denis'),
 Row(Name='Cristian Sapunaru'),
 Row(Name='Fábio Coentrão'),
 Row(Name='Luc Castaignos'),
 Row(Name='Toby Alderweireld'),
 Row(Name='Andrea Belotti'),
 Row(Name='André Gomes'),
 Row(Name='Brett Emerton'),
 Row(Name='Flavio Roma'),
 Row(Name='Gabriel Milito'),
 Row(Name='Nicola Pozzi'),
 Row(Name='Florin Bratu'),
 Row(Name='César Carignano'),
 Row(Name='Cristian Rodríguez'),
 Row(Name='Guilherme'),
 Row(Name='Tino Costa'),
 Row(Name='Diego Capel'),
 Row(Name='Admir Mehmedi'),
 Row(Name='Olcan Adin'),
 Row(Name='Taiyan Jin'),
 Row(Name='Miguel Almirón'),
 Row(Name='Richarlison'),
 Row(Name='Roberto Inglese'),
 Row(Name='Gerard Moreno'),
 Row(Name='Karl Toko Ekambi'),
 Row(Name='Martin Djetou'),
 Row(Name='John Arne Riise'),
 Row(Name='Benoît Pedretti'),
 Row(Name='Mariano González'),
 Row(Name='Paul Scharner'),
 Row(Name='Koen Daerden'),
 Row(Name='Christian Maggio'),
 Row(Name='Felipe Caicedo'),
 Row(Name='Juan Arango'),
 Row(Name='Lucas Piazón'),
 Row(Name='Joe Allen'),
 Row(Name='Hasan Ali Kaldirim'),
 Row(Name='Beñat Etxebarria'),
 Row(Name='Aloísio'),
 Row(Name='Serge Aurier'),
 Row(Name='Roger'),
 Row(Name='Andy van der Meyde'),
 Row(Name='Ilan'),
 Row(Name='Habib Bamogo'),
 Row(Name='Wilfred Bouma'),
 Row(Name='Fábio Simplício'),
 Row(Name='Salomon Kalou'),
 Row(Name='Yoan Gouffran'),
 Row(Name='Éverton'),
 Row(Name='Daniel Carvajal'),
 Row(Name='Marten de Roon'),
 Row(Name='Theo Hernández'),
 Row(Name='Jesper Blomqvist'),
 Row(Name='Nicolás Medina'),
 Row(Name='Diego Klimowicz'),
 Row(Name='Jorge Andrade'),
 Row(Name='Hugo Viana'),
 Row(Name='Luis Jiménez'),
 Row(Name='Álvaro Santos'),
 Row(Name='Fábio Júnior'),
 Row(Name='Franck Ribéry'),
 Row(Name='Peter Luccin'),
 Row(Name='Jorge Luís'),
 Row(Name='Adam Virgo'),
 Row(Name='Maksym Koval'),
 Row(Name='Vieirinha'),
 Row(Name='Kieran Gibbs'),
 Row(Name='Santiago Arias'),
 Row(Name='Antonio Barreca'),
 Row(Name='Steve Marlet'),
 Row(Name='Christian Nerlinger'),
 Row(Name='Jérémie Bréchet'),
 Row(Name='Valeri Bojinov'),
 Row(Name='Gary McSheffrey'),
 Row(Name="Gary O'Neil"),
 Row(Name='David López'),
 Row(Name='Maxi Pereira'),
 Row(Name='Fernando Baiano'),
 Row(Name='John Mensah'),
 Row(Name='Aaron Ramsey'),
 Row(Name='Sebastián Prediger'),
 Row(Name='Scott Sinclair'),
 Row(Name='Daniel Amartey'),
 Row(Name='Bruno Cirillo'),
 Row(Name='Serkan Aykut'),
 Row(Name='Remco van der Schaaf'),
 Row(Name='Mazhar Abdelrahman'),
 Row(Name="Samuel Eto'o"),
 Row(Name='Sylvain Monsoreau'),
 Row(Name='Alípio'),
 Row(Name='Michel Vorm'),
 Row(Name='Miguel Borja'),
 Row(Name='Silvan Widmer'),
 Row(Name='Flávio Conceicao'),
 Row(Name='Bob Peeters'),
 Row(Name='Marius Niculae'),
 Row(Name='Kemal Aslan'),
 Row(Name='Diego'),
 Row(Name='Mikhail Ashvetia'),
 Row(Name='Xabi Alonso'),
 Row(Name='Simone Perrotta'),
 Row(Name='Fabricio Coloccini'),
 Row(Name='Ashley Young'),
 Row(Name='Giuseppe Rossi'),
 Row(Name='Juan Manuel Vargas'),
 Row(Name='Andrea Lazzari'),
 Row(Name='Bruno Alves'),
 Row(Name='Jérôme Boateng'),
 Row(Name='Oleksandr Gladky'),
 Row(Name='Ahmed Musa'),
 Row(Name='Andrea Poli'),
 Row(Name='Long Zheng'),
 Row(Name='Jonathan Calleri'),
 Row(Name='Abdoulaye Doucouré'),
 Row(Name='Ignacio Camacho'),
 Row(Name='Andrew Robertson'),
 Row(Name='Jean-Eudes Aholou'),
 Row(Name='Jonathan Zebina'),
 Row(Name='Peter Crouch'),
 Row(Name='Bart Goor'),
 Row(Name='Ezequiel González'),
 Row(Name='Olivier Thomert'),
 Row(Name='Maciel'),
 Row(Name='Elvis Abbruscato'),
 Row(Name='Álvaro Arbeloa'),
 Row(Name='Dean Whitehead'),
 Row(Name='Jonathan'),
 Row(Name="N'Golo Kanté"),
 Row(Name='Wanderson'),
 Row(Name='Andriy Lunin'),
 Row(Name='Sérgio Conceição'),
 Row(Name='Éder Gaúcho'),
 Row(Name='Amauri'),
 Row(Name='Fabiano Rossato'),
 Row(Name='Cris'),
 Row(Name='Sonny Anderson'),
 Row(Name='David Connolly'),
 Row(Name='Kevin Thomson'),
 Row(Name='Rod Fanni'),
 Row(Name='Raphaël Varane'),
 Row(Name='Bernard'),
 Row(Name='Rodney Strasser'),
 Row(Name='Dani Ceballos'),
 Row(Name='Rolan Gusev'),
 Row(Name='Ulrich Le Pen'),
 Row(Name='Zied Jaziri'),
 Row(Name='Aleksandr Belozerov'),
 Row(Name='Francisco Fonseca'),
 Row(Name='Ronnie Stam'),
 Row(Name='Umut Bulut'),
 Row(Name="Clinton N'Jie"),
 Row(Name='Leon Bailey'),
 Row(Name='Felipe Vizeu'),
 Row(Name='Fernando Meira'),
 Row(Name='Jiri Jarosik'),
 Row(Name='Christoph Preuß'),
 Row(Name='Azar Karadas'),
 Row(Name='Bolívar'),
 Row(Name='Pedro Geromel'),
 Row(Name='Philippe Coutinho'),
 Row(Name='Dieumerci Mbokani'),
 Row(Name='Jimmy Briand'),
 Row(Name='Wellington Silva'),
 Row(Name='Arouca'),
 Row(Name='Eduardo Vargas'),
 Row(Name='André Schürrle'),
 Row(Name='Ismaily'),
 Row(Name='Younès Belhanda'),
 Row(Name='Éverton Ribeiro'),
 Row(Name='Kevin Kampl'),
 Row(Name="Georges-Kevin N'Koudou"),
 Row(Name='Andy Delort'),
 Row(Name='Craig Bellamy'),
 Row(Name='Márcio Amoroso'),
 Row(Name='Clemens Fritz'),
 Row(Name='Chun-soo Lee'),
 Row(Name='Elpídio Silva'),
 Row(Name='Rodrigo'),
 Row(Name="Charles N'Zogbia"),
 Row(Name='Marco Parolo'),
 Row(Name='Giovanni Sio'),
 Row(Name='Leroy Fer'),
 Row(Name='Oriol Romeu'),
 Row(Name='Marlos'),
 Row(Name='Kevin Mirallas'),
 Row(Name='Roberto Pereyra'),
 Row(Name='Santiago Solari'),
 Row(Name='Paul Robinson'),
 Row(Name='Gustavo Munúa'),
 Row(Name='Moisés Moura'),
 Row(Name='Dorin Goian'),
 Row(Name='Rafael van der Vaart'),
 Row(Name='Ryan Babel'),
 Row(Name='James McCarthy'),
 Row(Name='Marco Torsiglieri'),
 Row(Name='Isco'),
 Row(Name='Eden Hazard'),
 Row(Name='Christian Benteke'),
 Row(Name='Luís Neto'),
 Row(Name='Wálter Montillo'),
 Row(Name='Junior Fernandes'),
 Row(Name='Jorginho'),
 Row(Name='Jamaal Lascelles'),
 Row(Name='Breel Embolo'),
 Row(Name='Gerson'),
 Row(Name='Cenk Tosun'),
 Row(Name='José Izquierdo'),
 Row(Name='Pedro Rocha'),
 Row(Name='Mattéo Guendouzi'),
 Row(Name='Sergi Gómez'),
 Row(Name='Pietro Iemmello'),
 Row(Name='Tomás Rosicky'),
 Row(Name='João Alves'),
 Row(Name='Pape Diakhaté'),
 Row(Name='Marco Marchionni'),
 Row(Name='Dudu'),
 Row(Name='Shkodran Mustafi'),
 Row(Name='Douglas Santos'),
 Row(Name='Nélson Semedo'),
 Row(Name='Samuel Gigot'),
 Row(Name='Fran Beltrán'),
 Row(Name='Diego Placente'),
 Row(Name='Zinédine Zidane'),
 Row(Name='Adriano'),
 Row(Name='Luís Boa Morte'),
 Row(Name="Andrés D'Alessandro"),
 Row(Name='Andreas Görlitz'),
 Row(Name='Riccardo Meggiorini'),
 Row(Name='Xherdan Shaqiri'),
 Row(Name='Paul-Georges Ntep'),
 Row(Name='Shinji Okazaki'),
 Row(Name='Vincent Janssen'),
 Row(Name='Emre Mor'),
 Row(Name='Ismaïla Sarr'),
 Row(Name='Aleksandr Golovin'),
 Row(Name='Alpay Özalan'),
 Row(Name='Tomás Galásek'),
 Row(Name='Tugay Kerimoglu'),
 Row(Name='Javier Arizmendi'),
 Row(Name='Éver Banega'),
 Row(Name='Vincenzo Iaquinta'),
 Row(Name='Wesley'),
 Row(Name='Eliaquim Mangala'),
 Row(Name='Ishak Belfodil'),
 Row(Name='Gabriel Batistuta'),
 Row(Name='Igor Duljaj'),
 Row(Name='Thiago Silva'),
 Row(Name='Martin Stranzl'),
 Row(Name='Wayne Routledge'),
 Row(Name='Rabiu Afolabi'),
 Row(Name='Francesco Tavano'),
 Row(Name='Denílson'),
 Row(Name='Luca Cigarini'),
 Row(Name='Alex Silva'),
 Row(Name='Rubén de la Red'),
 Row(Name='Réver'),
 Row(Name='Elkeson'),
 Row(Name='Carlos Bacca'),
 Row(Name='Myeong-ju Lee'),
 Row(Name='Ricardo Goulart'),
 Row(Name='Raheem Sterling'),
 Row(Name='Lewis Cook'),
 Row(Name='Alexandre Lacazette'),
 Row(Name='Davy Klaassen'),
 Row(Name='Mattia De Sciglio'),
 Row(Name='Marco Tumminello'),
 Row(Name='Sabri Lamouchi'),
 Row(Name='Slavisa Jokanovic'),
 Row(Name='Mate Bilic'),
 Row(Name='Cristian Silvestri'),
 Row(Name='Riccardo Saponara'),
 Row(Name='Anthony Ujah'),
 Row(Name='Alban Lafont'),
 Row(Name='Sergej Barbarez'),
 Row(Name='Ian Pearce'),
 Row(Name='Pablo Ibáñez'),
 Row(Name='Ki-hyeon Seol'),
 Row(Name='Edixon Perea'),
 Row(Name='Boško Jankovic'),
 Row(Name='Peter Odemwingie'),
 Row(Name='Mario Gómez'),
 Row(Name='Mame Diouf'),
 Row(Name='Lu Zhang'),
 Row(Name='Ezequiel Barco'),
 Row(Name='Djaniny'),
 Row(Name='Sylvain Wiltord'),
 Row(Name='Giorgi Demetradze'),
 Row(Name='Rui Costa'),
 Row(Name='Luca Toni'),
 Row(Name='Juan Carlos Valerón'),
 Row(Name='Gilberto Silva'),
 Row(Name='Faryd Mondragón'),
 Row(Name='Boris Smiljanic'),
 Row(Name='Cristian Chivu'),
 Row(Name='Jerko Leko'),
 Row(Name='Georgios Seitaridis'),
 Row(Name='Curtis Davies'),
 Row(Name='Tomasz Frankowski'),
 Row(Name='Sulley Muntari'),
 Row(Name='Simon Kjær'),
 Row(Name='Aiden McGeady'),
 Row(Name='Rômulo'),
 Row(Name='Sadio Mané'),
 Row(Name='William Vainqueur'),
 Row(Name='Henri Saivet'),
 Row(Name='Thiago Maia'),
 Row(Name='Rio Ferdinand'),
 Row(Name='Willy Sagnol'),
 Row(Name='Alain Goma'),
 Row(Name='Gareth Southgate'),
 Row(Name='Joachim Björklund'),
 Row(Name='Thomas Christiansen'),
 Row(Name='Mathieu Berson'),
 Row(Name='Adamu Mohammed'),
 Row(Name='Alberto Aquilani'),
 Row(Name='Gervinho'),
 Row(Name='Davide Santon'),
 Row(Name='Matt Mills'),
 Row(Name='Jay Rodríguez'),
 Row(Name='Pierre-Michel Lasogga'),
 Row(Name='Eric Dier'),
 Row(Name='Aaron Cresswell'),
 Row(Name='Odsonne Edouard'),
 Row(Name='David Johnson'),
 Row(Name='Marc Wilmots'),
 Row(Name='Aleksandr Panov'),
 Row(Name='Juanfran'),
 Row(Name='Alou Diarra'),
 Row(Name='Pascal Chimbonda'),
 Row(Name='Ilsinho'),
 Row(Name='Marko Basa'),
 Row(Name='Leonardo Bonucci'),
 Row(Name='Tuncay Sanli'),
 Row(Name='Nabil Dirar'),
 Row(Name='Federico Fazio'),
 Row(Name='Jannik Vestergaard'),
 Row(Name='Samu Castillejo'),
 Row(Name='Paul Pogba'),
 Row(Name='Colin Cameron'),
 Row(Name='Heriberto Morales'),
 Row(Name='Lee Marshall'),
 Row(Name='Moumouni Dagano'),
 Row(Name='Kevin Hofland'),
 Row(Name='Adel Taarabt'),
 Row(Name='Sergio García'),
 Row(Name='Razak Boukari'),
 Row(Name='Ezequiel Muñoz'),
 Row(Name='Bernd Leno'),
 Row(Name='Ante Vukusic'),
 Row(Name='Emre Can'),
 Row(Name='Cristian Espinoza'),
 Row(Name='Kingsley Coman'),

In [18]:
transfers_df.select('Position').distinct().collect()

[Row(Position='Centre-Back'),
 Row(Position='Right-Back'),
 Row(Position='Sweeper'),
 Row(Position='Central Midfield'),
 Row(Position='Defender'),
 Row(Position='Attacking Midfield'),
 Row(Position='Defensive Midfield'),
 Row(Position='Right Winger'),
 Row(Position='Left Midfield'),
 Row(Position='Centre-Forward'),
 Row(Position='Right Midfield'),
 Row(Position='Second Striker'),
 Row(Position='Goalkeeper'),
 Row(Position='Forward'),
 Row(Position='Left Winger'),
 Row(Position='Left-Back'),
 Row(Position='Midfielder')]

In [19]:
transfers_df.select('Age').distinct().collect()

[Row(Age=31),
 Row(Age=34),
 Row(Age=28),
 Row(Age=27),
 Row(Age=26),
 Row(Age=22),
 Row(Age=16),
 Row(Age=20),
 Row(Age=19),
 Row(Age=15),
 Row(Age=17),
 Row(Age=35),
 Row(Age=23),
 Row(Age=25),
 Row(Age=24),
 Row(Age=29),
 Row(Age=21),
 Row(Age=32),
 Row(Age=33),
 Row(Age=30),
 Row(Age=0),
 Row(Age=18)]

In [20]:
transfers_df.select('Team_from').distinct().collect()

[Row(Team_from='Morelia'),
 Row(Team_from='Coritiba FC'),
 Row(Team_from='Beerschot AC'),
 Row(Team_from='Espanyol'),
 Row(Team_from='Karlsruher SC'),
 Row(Team_from='FC Basel'),
 Row(Team_from='Bröndby IF'),
 Row(Team_from='Inter U19'),
 Row(Team_from='Tigres UANL'),
 Row(Team_from='SC Freiburg'),
 Row(Team_from='Asante Kotoko'),
 Row(Team_from='Samsunspor'),
 Row(Team_from='Brighton'),
 Row(Team_from='QD Jonoon'),
 Row(Team_from='SSV Reutlingen'),
 Row(Team_from='Bolton'),
 Row(Team_from='Nordsjaelland'),
 Row(Team_from='Toronto FC'),
 Row(Team_from='Metalurh Z.'),
 Row(Team_from='FC St. Gallen'),
 Row(Team_from='Independiente'),
 Row(Team_from='Inter Bratislava'),
 Row(Team_from='Racing Club'),
 Row(Team_from='BJ Sinobo Guoan'),
 Row(Team_from='Liaoning FC'),
 Row(Team_from='Pol. Warsaw'),
 Row(Team_from='Hellas Verona'),
 Row(Team_from='Avaí FC'),
 Row(Team_from='Besiktas'),
 Row(Team_from='Revolution'),
 Row(Team_from='Lada Togliatti'),
 Row(Team_from='Chicago Fire'),
 Row(Team_from='Huracán'),
 Row(Team_from='EC Bahia'),
 Row(Team_from='G. Bordeaux'),
 Row(Team_from='SD Compostela'),
 Row(Team_from='Sunderland'),
 Row(Team_from='Botafogo'),
 Row(Team_from='Ternana'),
 Row(Team_from='Goiás EC'),
 Row(Team_from='Braga'),
 Row(Team_from='Nottm Forest'),
 Row(Team_from='Ajax U19'),
 Row(Team_from='SH Shenhua'),
 Row(Team_from='FC Barcelona B'),
 Row(Team_from='Pohang Steelers'),
 Row(Team_from='Montpellier'),
 Row(Team_from='Flamengo'),
 Row(Team_from='Ulsan'),
 Row(Team_from='Dijon'),
 Row(Team_from='Rio Ave FC'),
 Row(Team_from='Dep. La Coruña'),
 Row(Team_from='JEF Utd. Chiba'),
 Row(Team_from='Nacional'),
 Row(Team_from='Iraklis'),
 Row(Team_from='Limón FC'),
 Row(Team_from='Reggina'),
 Row(Team_from='Atlético-MG'),
 Row(Team_from='Leiria'),
 Row(Team_from='Rapid Vienna'),
 Row(Team_from='Junior FC'),
 Row(Team_from='Bradford City'),
 Row(Team_from='Persepolis'),
 Row(Team_from='KS Samara'),
 Row(Team_from='Antalyaspor'),
 Row(Team_from='Saturn'),
 Row(Team_from='Djurgarden'),
 Row(Team_from='Olymp. Lyon B'),
 Row(Team_from='RKC Waalwijk'),
 Row(Team_from='De Graafschap'),
 Row(Team_from='Millwall'),
 Row(Team_from='AFC Ajax'),
 Row(Team_from='Aris Saloniki'),
 Row(Team_from='Motherwell FC'),
 Row(Team_from='Ahly'),
 Row(Team_from='SC Bastia'),
 Row(Team_from='Toluca'),
 Row(Team_from='Modena'),
 Row(Team_from='Yokohama F. M.'),
 Row(Team_from='Lausanne-Sport'),
 Row(Team_from='AS Livorno'),
 Row(Team_from='FC Augsburg'),
 Row(Team_from='Arsenal'),
 Row(Team_from='Bologna'),
 Row(Team_from='Man City'),
 Row(Team_from='AO Xanthi'),
 Row(Team_from='Metalurh D.'),
 Row(Team_from='FC Bayern II'),
 Row(Team_from='Brentford'),
 Row(Team_from='DL Shide'),
 Row(Team_from='Sheriff'),
 Row(Team_from='FC Schalke 04'),
 Row(Team_from='Willem II'),
 Row(Team_from='Siena'),
 Row(Team_from='Alianza Lima'),
 Row(Team_from='Panathinaikos'),
 Row(Team_from='CD Godoy Cruz'),
 Row(Team_from='Austria Vienna'),
 Row(Team_from='Blackburn'),
 Row(Team_from='Sydney Olympic'),
 Row(Team_from='OFK Beograd'),
 Row(Team_from='Cardiff'),
 Row(Team_from='Internacional'),
 Row(Team_from='Hannover 96'),
 Row(Team_from='Ituano'),
 Row(Team_from='Rentistas'),
 Row(Team_from='Marseille'),
 Row(Team_from='Udinese Calcio'),
 Row(Team_from='UD Las Palmas'),
 Row(Team_from='Al Sadd'),
 Row(Team_from='Rotherham Utd.'),
 Row(Team_from='Al Rayyan'),
 Row(Team_from='Lazio'),
 Row(Team_from='Fluminense'),
 Row(Team_from='AZ Alkmaar'),
 Row(Team_from='RSC Charleroi'),
 Row(Team_from='Real Valladolid'),
 Row(Team_from='Tombense'),
 Row(Team_from='RB Leipzig'),
 Row(Team_from='Wanderers'),
 Row(Team_from='Krasnodar'),
 Row(Team_from='FC Ingolstadt'),
 Row(Team_from='Norwich'),
 Row(Team_from='Stoke City'),
 Row(Team_from='Olimpia'),
 Row(Team_from='SK Brann'),
 Row(Team_from='Novara'),
 Row(Team_from='FC Empoli'),
 Row(Team_from='1860 Munich'),
 Row(Team_from='Tranmere Rovers'),
 Row(Team_from='FK Teplice'),
 Row(Team_from='Enppi'),
 Row(Team_from='RNK Split'),
 Row(Team_from='FC Utrecht'),
 Row(Team_from='FC Lorient'),
 Row(Team_from='Once Caldas'),
 Row(Team_from='Vélez Sarsfield'),
 Row(Team_from='Werder Bremen'),
 Row(Team_from='Gamba Osaka'),
 Row(Team_from='Barnsley FC'),
 Row(Team_from='Livingston FC'),
 Row(Team_from='Al-Jazira'),
 Row(Team_from='Chievo Verona'),
 Row(Team_from='Heerenveen'),
 Row(Team_from='Palmeiras'),
 Row(Team_from='CA Banfield'),
 Row(Team_from='Istanbulspor'),
 Row(Team_from='Deportivo Cali'),
 Row(Team_from='Recr. Huelva'),
 Row(Team_from='GZ Evergrande'),
 Row(Team_from='Ludogorets'),
 Row(Team_from='FC Zürich'),
 Row(Team_from='Stabaek IF'),
 Row(Team_from='Crystal Palace'),
 Row(Team_from='Real Madrid'),
 Row(Team_from='Boca Juniors'),
 Row(Team_from='Birmingham'),
 Row(Team_from='Ferencváros'),
 Row(Team_from='Östers IF'),
 Row(Team_from='LDU Quito'),
 Row(Team_from='Instituto'),
 Row(Team_from='EC Vitória'),
 Row(Team_from='Burnley'),
 Row(Team_from='Portuguesa'),
 Row(Team_from='Hilal'),
 Row(Team_from='Leicester'),
 Row(Team_from='Derby'),
 Row(Team_from='Danubio FC'),
 Row(Team_from='Cruzeiro'),
 Row(Team_from='FC Copenhagen'),
 Row(Team_from='Al-Ahli (UAE)'),
 Row(Team_from='Grasshoppers'),
 Row(Team_from='Al Qadisiyah'),
 Row(Team_from='Valenciennes FC'),
 Row(Team_from='Grosseto'),
 Row(Team_from='Litex Lovetch'),
 Row(Team_from='Olympique Lyon'),
 Row(Team_from='Suwon Bluewings'),
 Row(Team_from='Rostov'),
 Row(Team_from='Aston Villa'),
 Row(Team_from='Levante UD'),
 Row(Team_from='Monterrey'),
 Row(Team_from='Racing'),
 Row(Team_from='Paraná'),
 Row(Team_from='Maldonado'),
 Row(Team_from="1.FC K'lautern"),
 Row(Team_from='Bayern Munich '),
 Row(Team_from='CD Tenerife'),
 Row(Team_from='Trujillanos'),
 Row(Team_from='Bristol Rovers'),
 Row(Team_from='KAA Gent'),
 Row(Team_from='Servette FC'),
 Row(Team_from='1.FC Nuremberg'),
 Row(Team_from='Granada CF'),
 Row(Team_from='Paços Ferreira'),
 Row(Team_from='R. Strasbourg'),
 Row(Team_from='Hammarby'),
 Row(Team_from='Crewe Alexandra'),
 Row(Team_from='Figueirense FC'),
 Row(Team_from='Exc. Mouscron'),
 Row(Team_from='Stade Brest 29'),
 Row(Team_from='Catania'),
 Row(Team_from='Energie Cottbus'),
 Row(Team_from='SM Caen'),
 Row(Team_from='Aalesund'),
 Row(Team_from='Barcelona SC'),
 Row(Team_from='Lens'),
 Row(Team_from='Vit. Guimarães'),
 Row(Team_from='Monza'),
 Row(Team_from='QPR'),
 Row(Team_from='Slovan Liberec'),
 Row(Team_from='Valerenga'),
 Row(Team_from='Lok. Plovdiv'),
 Row(Team_from='Bournemouth'),
 Row(Team_from='Athletic Bilbao'),
 Row(Team_from='RCD Mallorca'),
 Row(Team_from='U. de Chile'),
 Row(Team_from='Portimonense'),
 Row(Team_from='Vicenza'),
 Row(Team_from='Al Arabi'),
 Row(Team_from='Zbrojovka Brno'),
 Row(Team_from='Celtic'),
 Row(Team_from='Sparta R.'),
 Row(Team_from='Heart of Midl.'),
 Row(Team_from='Le Havre U19'),
 Row(Team_from='Corinthians'),
 Row(Team_from='Juventude'),
 Row(Team_from='Genoa'),
 Row(Team_from='Sassuolo'),
 Row(Team_from='Rubin Kazan'),
 Row(Team_from='UD Almería'),
 Row(Team_from='Hibernian FC'),
 Row(Team_from='Lecce'),
 Row(Team_from='KVC Westerlo'),
 Row(Team_from='Gillingham FC'),
 Row(Team_from='Rapid Bucharest'),
 Row(Team_from='IFK Göteborg'),
 Row(Team_from='FC Sion'),
 Row(Team_from='Coimbra-MG'),
 Row(Team_from='Dynamo Kyiv'),
 Row(Team_from='Vojvodina'),
 Row(Team_from='Chiapas FC'),
 Row(Team_from='Alverca'),
 Row(Team_from='Argentinos'),
 Row(Team_from='Lilleström SK'),
 Row(Team_from='Viking FK'),
 Row(Team_from='Legia Warszawa'),
 Row(Team_from='Denizlispor'),
 Row(Team_from='1. FC Köln'),
 Row(Team_from='Necaxa'),
 Row(Team_from='Depor Jugend'),
 Row(Team_from='AJ Auxerre'),
 Row(Team_from='Venezia'),
 Row(Team_from='FC Groningen'),
 Row(Team_from='KSK Beveren'),
 Row(Team_from='Torpedo Moscow'),
 Row(Team_from='Arezzo'),
 Row(Team_from='Panionios'),
 Row(Team_from='Hajduk Split'),
 Row(Team_from='San Lorenzo'),
 Row(Team_from='Fulham'),
 Row(Team_from='Zenit S-Pb'),
 Row(Team_from='Fiorentina'),
 Row(Team_from='Monaco'),
 Row(Team_from='Atlético Madrid'),
 Row(Team_from='CD Cruz Azul'),
 Row(Team_from='Saint-Étienne'),
 Row(Team_from='Helsingborg'),
 Row(Team_from='AC Le Havre'),
 Row(Team_from='FC Barcelona'),
 Row(Team_from='West Ham'),
 Row(Team_from='1.FSV Mainz 05'),
 Row(Team_from='Malatyaspor'),
 Row(Team_from='Basaksehir'),
 Row(Team_from='Inter'),
 Row(Team_from='CD Palestino'),
 Row(Team_from='Estudiantes'),
 Row(Team_from='Albacete'),
 Row(Team_from='Boavista'),
 Row(Team_from='Valencia B'),
 Row(Team_from='MK Dons'),
 Row(Team_from='FC Twente'),
 Row(Team_from='Elche CF'),
 Row(Team_from='Vancouver'),
 Row(Team_from='PAOK Saloniki'),
 Row(Team_from='Hertha BSC'),
 Row(Team_from='Rotor Volgograd'),
 Row(Team_from='PSV Eindhoven'),
 Row(Team_from='Defensor'),
 Row(Team_from='VfL Wolfsburg'),
 Row(Team_from='Neuchâtel Xamax'),
 Row(Team_from='Olympiacos'),
 Row(Team_from='Cambridge Utd.'),
 Row(Team_from='Spartak Moscow'),
 Row(Team_from='Sporting CP'),
 Row(Team_from='VfB Stuttgart'),
 Row(Team_from='Al Gharafa'),
 Row(Team_from='KV Oostende'),
 Row(Team_from='Man Utd'),
 Row(Team_from='NEC Nijmegen'),
 Row(Team_from='R. Madrid Youth'),
 Row(Team_from='Feyenoord'),
 Row(Team_from='Grêmio'),
 Row(Team_from='NK Varazdin'),
 Row(Team_from='Santos FC'),
 Row(Team_from='River Plate'),
 Row(Team_from='Real Sociedad'),
 Row(Team_from='FC Sochaux'),
 Row(Team_from='Royal Antwerp'),
 Row(Team_from='Hércules CF'),
 Row(Team_from='Dnipro'),
 Row(Team_from='Hamburger SV'),
 Row(Team_from='Shakhtar D.'),
 Row(Team_from='Maccabi Haifa'),
 Row(Team_from='Uralan'),
 Row(Team_from='FCM Bacau'),
 Row(Team_from='América'),
 Row(Team_from='FK Moskau'),
 Row(Team_from='Club Tijuana'),
 Row(Team_from='Sturm Graz'),
 Row(Team_from='OGC Nice'),
 Row(Team_from='CA Osasuna'),
 Row(Team_from='Troyes'),
 Row(Team_from='Vitória Setúbal'),
 Row(Team_from='Villarreal CF'),
 Row(Team_from='Chivas'),
 Row(Team_from='Real Zaragoza'),
 Row(Team_from='Skonto Riga'),
 Row(Team_from='Lok. Sofia'),
 Row(Team_from='Aalborg BK'),
 Row(Team_from='Wattenscheid 09'),
 Row(Team_from='Wolves'),
 Row(Team_from='Anzhi'),
 Row(Team_from='São Paulo'),
 Row(Team_from='Club Brugge'),
 Row(Team_from='FC Lugano'),
 Row(Team_from='Elfsborg'),
 Row(Team_from='HNK Rijeka'),
 Row(Team_from='Fenerbahce'),
 Row(Team_from='Southampton'),
 Row(Team_from='West Brom'),
 Row(Team_from='ES Sahel'),
 Row(Team_from='Viktoria Plzen'),
 Row(Team_from='Belenenses'),
 Row(Team_from='RC Cesena'),
 Row(Team_from='BATE Borisov'),
 Row(Team_from='Kalmar FF'),
 Row(Team_from='Iraty SC'),
 Row(Team_from='Guingamp'),
 Row(Team_from='Colón'),
 Row(Team_from='Toulouse'),
 Row(Team_from='Cittadella'),
 Row(Team_from='Sparta Praha'),
 Row(Team_from='Odense BK'),
 Row(Team_from='Barça Juvenil A'),
 Row(Team_from='Slavia Prag'),
 Row(Team_from='Reading'),
 Row(Team_from='Swansea'),
 Row(Team_from='Al-Ettifaq'),
 Row(Team_from='Akhisarspor'),
 Row(Team_from='Siirtspor'),
 Row(Team_from='Shabab'),
 Row(Team_from='Peterborough'),
 Row(Team_from='Reims'),
 Row(Team_from='SD Eibar'),
 Row(Team_from='Red Star'),
 Row(Team_from='Vasco U17'),
 Row(Team_from='YB Funde'),
 Row(Team_from='Valencia CF'),
 Row(Team_from='Dundee FC'),
 Row(Team_from='Molde FK'),
 Row(Team_from='Zorya Lugansk'),
 Row(Team_from='FC Nantes'),
 Row(Team_from='Karabükspor'),
 Row(Team_from='Málaga CF'),
 Row(Team_from='FK Obilic'),
 Row(Team_from='RM Castilla'),
 Row(Team_from='FC Midtjylland'),
 Row(Team_from='NY Red Bulls'),
 Row(Team_from='FC São Paulo B'),
 Row(Team_from='NK Zagreb'),
 Row(Team_from='Bari'),
 Row(Team_from='Arm. Bielefeld'),
 Row(Team_from='E. Frankfurt'),
 Row(Team_from='Spartak V.'),
 Row(Team_from='Karpaty'),
 Row(Team_from='Parma'),
 Row(Team_from='Paris SG'),
 Row(Team_from='Santos Laguna'),
 Row(Team_from='CD Leganés'),
 Row(Team_from='Preston NE'),
 Row(Team_from='Huddersfield'),
 Row(Team_from='Rimini'),
 Row(Team_from='KRC Genk'),
 Row(Team_from='Audax Italiano'),
 Row(Team_from='AIK Solna'),
 Row(Team_from='Sevilla FC'),
 Row(Team_from='León'),
 Row(Team_from='Sheffield Utd.'),
 Row(Team_from='Loko Moscow'),
 Row(Team_from="Bor. M'gladbach"),
 Row(Team_from='Akademisk BK'),
 Row(Team_from='Bor. Dortmund'),
 Row(Team_from='TSG Hoffenheim'),
 Row(Team_from='AS Roma'),
 Row(Team_from='Dinamo Minsk'),
 Row(Team_from='Feirense'),
 Row(Team_from='Colchester Utd.'),
 Row(Team_from='Dinamo Moscow'),
 Row(Team_from='Chacarita Jrs'),
 Row(Team_from='Rayo Vallecano'),
 Row(Team_from='Stade Rennais'),
 Row(Team_from='Ipswich'),
 Row(Team_from='Desp. Brasil'),
 Row(Team_from='ZJ Greentown'),
 Row(Team_from='FC Porto'),
 Row(Team_from='Perugia'),
 Row(Team_from='Kyoto Sanga'),
 Row(Team_from='MK Dons U18'),
 Row(Team_from='Coimbra'),
 Row(Team_from='Esperance'),
 Row(Team_from='Liverpool'),
 Row(Team_from='Anconitana'),
 Row(Team_from='CSKA Moscow'),
 Row(Team_from='Tom Tomsk'),
 Row(Team_from='SD Luneng'),
 Row(Team_from='Pescara'),
 Row(Team_from='Kashiwa Reysol'),
 Row(Team_from='Getafe CF'),
 Row(Team_from='Metalist'),
 Row(Team_from='SCO Angers'),
 Row(Team_from='Ponte Preta'),
 Row(Team_from='São Caetano'),
 Row(Team_from='CA Osasuna B'),
 Row(Team_from='Dinamo Zagreb'),
 Row(Team_from='LOSC Lille'),
 Row(Team_from='Istres FC'),
 Row(Team_from='Lanús'),
 Row(Team_from='Hamilton Acad.'),
 Row(Team_from='Colo Colo'),
 Row(Team_from='Tigre'),
 Row(Team_from='Sigma Olomouc'),
 Row(Team_from='Celta de Vigo'),
 Row(Team_from='Galatasaray'),
 Row(Team_from='CA Rosario'),
 Row(Team_from='AS Nancy'),
 Row(Team_from='Lech Poznan'),
 Row(Team_from='Sporting Gijón'),
 Row(Team_from='Hansa Rostock'),
 Row(Team_from='Indep. Medellín'),
 Row(Team_from='Vasco da Gama'),
 Row(Team_from='Atlas'),
 Row(Team_from='Wisla Kraków'),
 Row(Team_from='Roda JC'),
 Row(Team_from='Guarani'),
 Row(Team_from='Portsmouth'),
 Row(Team_from='Kashima Antlers'),
 Row(Team_from='Peñarol'),
 Row(Team_from='Gimnasia'),
 Row(Team_from='FK Lyn'),
 Row(Team_from='Kuban Krasnodar'),
 Row(Team_from='Zulte Waregem'),
 Row(Team_from='Spurs'),
 Row(Team_from='Kayserispor'),
 Row(Team_from='UNAM Pumas'),
 Row(Team_from='Torino'),
 Row(Team_from='CFR Cluj'),
 Row(Team_from='Chelsea'),
 Row(Team_from='Rosenborg BK'),
 Row(Team_from='Treviso'),
 Row(Team_from='DL Yifang'),
 Row(Team_from='Real Betis'),
 Row(Team_from='FC Lahti'),
 Row(Team_from='CSKA Sofia'),
 Row(Team_from='Standard Liège'),
 Row(Team_from='Cukaricki'),
 Row(Team_from='RSC Anderlecht'),
 Row(Team_from='CDUC'),
 Row(Team_from='UCLA Bruins'),
 Row(Team_from='Arsenal U23'),
 Row(Team_from='Bay. Leverkusen'),
 Row(Team_from='Vitesse'),
 Row(Team_from='Sheff Wed'),
 Row(Team_from='Newcastle'),
 Row(Team_from='AC Milan'),
 Row(Team_from='El Masry'),
 Row(Team_from='Charlton'),
 Row(Team_from='Luton Town'),
 Row(Team_from='Kasimpasa'),
 Row(Team_from='HN Jianye'),
 Row(Team_from='Cagliari Calcio'),
 Row(Team_from='Grodzisk'),
 Row(Team_from='Partizan'),
 Row(Team_from='VVV-Venlo'),
 Row(Team_from='Alavés'),
 Row(Team_from='Atalanta'),
 Row(Team_from='Malmö FF'),
 Row(Team_from='Quilmes'),
 Row(Team_from='Busan IPark'),
 Row(Team_from='AEK Athens'),
 Row(Team_from='Cobreloa'),
 Row(Team_from='KV Mechelen'),
 Row(Team_from='BSC Young Boys'),
 Row(Team_from='Trabzonspor'),
 Row(Team_from='Hull City'),
 Row(Team_from='Nagoya Grampus'),
 Row(Team_from='Watford'),
 Row(Team_from='Everton'),
 Row(Team_from='Levski Sofia'),
 Row(Team_from='Tokyo Verdy'),
 Row(Team_from='Sampdoria'),
 Row(Team_from='FCS Bucharest'),
 Row(Team_from='Atl. Nacional'),
 Row(Team_from='UD Salamanca'),
 Row(Team_from='CF Pachuca'),
 Row(Team_from='Manisaspor'),
 Row(Team_from='Belgrano'),
 Row(Team_from='Ascoli'),
 Row(Team_from="Newell's"),
 Row(Team_from='Leeds'),
 Row(Team_from='FC Metz'),
 Row(Team_from='Lierse SK'),
 Row(Team_from='Blackpool'),
 Row(Team_from='Cerro Porteño'),
 Row(Team_from='SC Amiens'),
 Row(Team_from='RB Salzburg'),
 Row(Team_from='SH Shenxin'),
 Row(Team_from='Atlético-PR'),
 Row(Team_from='JS Suning'),
 Row(Team_from='Örgryte'),
 Row(Team_from='Banik Ostrava'),
 Row(Team_from='Urawa Reds'),
 Row(Team_from='Dinamo Bukarest'),
 Row(Team_from='Wigan'),
 Row(Team_from='Bursaspor'),
 Row(Team_from='Piacenza'),
 Row(Team_from='Tromsø'),
 Row(Team_from='Man City U18'),
 Row(Team_from='Genclerbirligi'),
 Row(Team_from='Barcelona Yth.'),
 Row(Team_from='KAS Eupen'),
 Row(Team_from='Coventry City'),
 Row(Team_from='Rangers'),
 Row(Team_from='VfL Bochum'),
 Row(Team_from='Rad'),
 Row(Team_from='Marítimo'),
 Row(Team_from='Egaleo AO'),
 Row(Team_from='US Palermo'),
 Row(Team_from='Gaziantepspor'),
 Row(Team_from='UC AlbinoLeffe'),
 Row(Team_from='Baniyas SC'),
 Row(Team_from='Eskisehirspor'),
 Row(Team_from='Le Mans'),
 Row(Team_from='Al-Ain FC'),
 Row(Team_from='BJ Renhe'),
 Row(Team_from='Juventus'),
 Row(Team_from='M. Tel Aviv'),
 Row(Team_from='Benfica'),
 Row(Team_from='SSC Napoli'),
 Row(Team_from='CS Sedan'),
 Row(Team_from='Orlando Pirates'),
 Row(Team_from='Bristol City'),
 Row(Team_from='Osmanlispor'),
 Row(Team_from='Arsenal FC'),
 Row(Team_from='GZ R&F'),
 Row(Team_from='Brescia'),
 Row(Team_from='Middlesbrough'),
 Row(Team_from='KSC Lokeren'),
 Row(Team_from='Como'),
 Row(Team_from='RS Berkane')]

In [21]:
transfers_df.select('League_from').distinct().collect()

[Row(League_from='Serie A'),
 Row(League_from=' Uruguay'),
 Row(League_from='Jupiler Pro League'),
 Row(League_from=' Tunisia'),
 Row(League_from=' Moldova'),
 Row(League_from='Primavera B'),
 Row(League_from='Liga MX Clausura'),
 Row(League_from=' Colombia'),
 Row(League_from='Liga Águila II'),
 Row(League_from='A Grupa - Championship gr.'),
 Row(League_from='NB I.'),
 Row(League_from='Challenge League'),
 Row(League_from='U19 Eredivisie'),
 Row(League_from='Serie C - A'),
 Row(League_from=' Iran'),
 Row(League_from='Premier League'),
 Row(League_from='Primera B Nacional'),
 Row(League_from='Premier Liga'),
 Row(League_from=' Croatia'),
 Row(League_from='K League 1'),
 Row(League_from=' Australia'),
 Row(League_from='1.Liga gr. 1'),
 Row(League_from='Ligue I Pro'),
 Row(League_from=' Ghana'),
 Row(League_from='Eredivisie'),
 Row(League_from='Rel. Ligue 1'),
 Row(League_from='Liga MX Apertura'),
 Row(League_from='Primera División'),
 Row(League_from='LaLiga'),
 Row(League_from='J1 - 2nd Stage'),
 Row(League_from=' Denmark'),
 Row(League_from=' Canada'),
 Row(League_from='Ligue 2'),
 Row(League_from=' United Arab Emirates'),
 Row(League_from='Bundesliga'),
 Row(League_from=' Qatar'),
 Row(League_from='Championship'),
 Row(League_from='Série A'),
 Row(League_from='Proximus League'),
 Row(League_from='Championnat National'),
 Row(League_from=' Spain'),
 Row(League_from='Primera Div. Apertura'),
 Row(League_from='J2 League'),
 Row(League_from='LaLiga2'),
 Row(League_from='League One'),
 Row(League_from=' Chile'),
 Row(League_from=' Ukraine'),
 Row(League_from='Serie A Segunda Etapa'),
 Row(League_from='Serie C - B'),
 Row(League_from='Super League'),
 Row(League_from=' Peru'),
 Row(League_from=' Ecuador'),
 Row(League_from="Ligat ha'Al"),
 Row(League_from='Segunda División'),
 Row(League_from=' Russia'),
 Row(League_from='1.Division'),
 Row(League_from=' Latvia'),
 Row(League_from=' Romania'),
 Row(League_from='HET Liga'),
 Row(League_from='OBOS-ligaen'),
 Row(League_from='Stars League'),
 Row(League_from='SuperLiga'),
 Row(League_from='Professional League'),
 Row(League_from=' Slovakia'),
 Row(League_from=' Korea, South'),
 Row(League_from='1.Lig'),
 Row(League_from=' England'),
 Row(League_from='U18 Premier League'),
 Row(League_from='Vysheyshaya Liga'),
 Row(League_from=' Bulgaria'),
 Row(League_from='J1 League'),
 Row(League_from=' Argentina'),
 Row(League_from='Second Division (bis 03/04)'),
 Row(League_from='2ª B - Grupo III'),
 Row(League_from=' Saudi Arabia'),
 Row(League_from='Eliteserien'),
 Row(League_from='Botola Pro'),
 Row(League_from='Serie B'),
 Row(League_from='Superligaen Championship round'),
 Row(League_from='Superligaen'),
 Row(League_from='Virsliga'),
 Row(League_from='Torneo Final'),
 Row(League_from=' Brazil'),
 Row(League_from='Ligue 1'),
 Row(League_from='1.Bundesliga'),
 Row(League_from='Liga 1 - Championship group'),
 Row(League_from=' Scotland'),
 Row(League_from='Ekstraklasa'),
 Row(League_from=' Portugal'),
 Row(League_from=' Sweden'),
 Row(League_from='3.Liga'),
 Row(League_from='2.Bundesliga'),
 Row(League_from='Regionalliga Nord'),
 Row(League_from=' Serbia'),
 Row(League_from='Korean FA Cup'),
 Row(League_from=' China'),
 Row(League_from=' Czech Republic'),
 Row(League_from='First Division'),
 Row(League_from=' United States'),
 Row(League_from=' Finland'),
 Row(League_from=' Venezuela'),
 Row(League_from='MLS'),
 Row(League_from='Torneo Inicial'),
 Row(League_from='Série B'),
 Row(League_from='2ª B - Grupo I'),
 Row(League_from='Liga NOS'),
 Row(League_from='Süper Lig'),
 Row(League_from='1.HNL'),
 Row(League_from='Superettan'),
 Row(League_from=' Mexico'),
 Row(League_from=' South Africa'),
 Row(League_from='Allsvenskan'),
 Row(League_from=' France'),
 Row(League_from='Auf-/Abstiegsrunde NLA/NLB'),
 Row(League_from='UAE Gulf League'),
 Row(League_from='Liga 1'),
 Row(League_from='Premiership'),
 Row(League_from=' Paraguay')]

In [22]:
transfers_df.select('Team_to').distinct().collect()

[Row(Team_to='Espanyol'),
 Row(Team_to='FC Basel'),
 Row(Team_to='Tigres UANL'),
 Row(Team_to='Bröndby IF'),
 Row(Team_to='SC Freiburg'),
 Row(Team_to='Brighton'),
 Row(Team_to='Bolton'),
 Row(Team_to='Toronto FC'),
 Row(Team_to='Independiente'),
 Row(Team_to='Racing Club'),
 Row(Team_to='BJ Sinobo Guoan'),
 Row(Team_to='Liaoning FC'),
 Row(Team_to='Hellas Verona'),
 Row(Team_to='Besiktas'),
 Row(Team_to='Al-Wahda FC'),
 Row(Team_to='Benfica B'),
 Row(Team_to='G. Bordeaux'),
 Row(Team_to='Sunderland'),
 Row(Team_to='Al-Wasl'),
 Row(Team_to='Botafogo'),
 Row(Team_to='Ternana'),
 Row(Team_to='Al Duhail'),
 Row(Team_to='Braga'),
 Row(Team_to='Atlanta United'),
 Row(Team_to='Nottm Forest'),
 Row(Team_to='SH Shenhua'),
 Row(Team_to='Pohang Steelers'),
 Row(Team_to='FC Barcelona B'),
 Row(Team_to='Montpellier'),
 Row(Team_to='Flamengo'),
 Row(Team_to='Ulsan'),
 Row(Team_to='Dep. La Coruña'),
 Row(Team_to='Anderlecht U19'),
 Row(Team_to='Iraklis'),
 Row(Team_to='Reggina'),
 Row(Team_to='Atlético-MG'),
 Row(Team_to='Bradford City'),
 Row(Team_to='KS Samara'),
 Row(Team_to='Saturn'),
 Row(Team_to='AFC Ajax'),
 Row(Team_to='Los Angeles'),
 Row(Team_to='Modena'),
 Row(Team_to='AS Livorno'),
 Row(Team_to='FC Augsburg'),
 Row(Team_to='Arsenal'),
 Row(Team_to='Bologna'),
 Row(Team_to='Man City'),
 Row(Team_to='Metalurh D.'),
 Row(Team_to='Panathinaikos'),
 Row(Team_to='FC Schalke 04'),
 Row(Team_to='Siena'),
 Row(Team_to='Austria Vienna'),
 Row(Team_to='Blackburn'),
 Row(Team_to='Cardiff'),
 Row(Team_to='Hannover 96'),
 Row(Team_to='Internacional'),
 Row(Team_to='Marseille'),
 Row(Team_to='UD Las Palmas'),
 Row(Team_to='Udinese Calcio'),
 Row(Team_to='Al Sadd'),
 Row(Team_to='Al Rayyan'),
 Row(Team_to='Lazio'),
 Row(Team_to='AZ Alkmaar'),
 Row(Team_to='Fluminense'),
 Row(Team_to='RB Leipzig'),
 Row(Team_to='Krasnodar'),
 Row(Team_to='Norwich'),
 Row(Team_to='Konyaspor'),
 Row(Team_to='SK Brann'),
 Row(Team_to='Stoke City'),
 Row(Team_to='1860 Munich'),
 Row(Team_to='TJ Teda'),
 Row(Team_to='FC Empoli'),
 Row(Team_to='Querétaro FC'),
 Row(Team_to='FC Utrecht'),
 Row(Team_to='FC Lorient'),
 Row(Team_to='Werder Bremen'),
 Row(Team_to='Tiburones Rojos'),
 Row(Team_to='Al-Jazira'),
 Row(Team_to='Chievo Verona'),
 Row(Team_to='Palmeiras'),
 Row(Team_to='Heerenveen'),
 Row(Team_to='Al-Ittihad'),
 Row(Team_to='CA Banfield'),
 Row(Team_to='Recr. Huelva'),
 Row(Team_to='GZ Evergrande'),
 Row(Team_to='Crystal Palace'),
 Row(Team_to='Sharjah FC'),
 Row(Team_to='Real Madrid'),
 Row(Team_to='Birmingham'),
 Row(Team_to='Boca Juniors'),
 Row(Team_to='Burnley'),
 Row(Team_to='Hilal'),
 Row(Team_to='Derby'),
 Row(Team_to='Leicester'),
 Row(Team_to='Cruzeiro'),
 Row(Team_to='Al-Ahli (UAE)'),
 Row(Team_to='FC Copenhagen'),
 Row(Team_to='Grasshoppers'),
 Row(Team_to='Olympique Lyon'),
 Row(Team_to='Suwon Bluewings'),
 Row(Team_to='Aston Villa'),
 Row(Team_to='Caracas FC'),
 Row(Team_to='Levante UD'),
 Row(Team_to='Monterrey'),
 Row(Team_to='Racing'),
 Row(Team_to='Maldonado'),
 Row(Team_to='Girona FC'),
 Row(Team_to='Bayern Munich '),
 Row(Team_to="1.FC K'lautern"),
 Row(Team_to='Granada CF'),
 Row(Team_to='CC Yatai'),
 Row(Team_to='R. Strasbourg'),
 Row(Team_to='Arsenal U18'),
 Row(Team_to='Exc. Mouscron'),
 Row(Team_to='Catania'),
 Row(Team_to='Al Ahli'),
 Row(Team_to='SM Caen'),
 Row(Team_to='Lens'),
 Row(Team_to='QPR'),
 Row(Team_to='Bournemouth'),
 Row(Team_to='Athletic Bilbao'),
 Row(Team_to='RCD Mallorca'),
 Row(Team_to='Vicenza'),
 Row(Team_to='Al Arabi'),
 Row(Team_to='Celtic'),
 Row(Team_to='Corinthians'),
 Row(Team_to='Genoa'),
 Row(Team_to='Sassuolo'),
 Row(Team_to='Rubin Kazan'),
 Row(Team_to='UD Almería'),
 Row(Team_to='Lecce'),
 Row(Team_to='Chelsea U23'),
 Row(Team_to='Dynamo Kyiv'),
 Row(Team_to='CQ Dangdai Lif.'),
 Row(Team_to='Vegalta Sendai'),
 Row(Team_to='1. FC Köln'),
 Row(Team_to='Venezia'),
 Row(Team_to='AJ Auxerre'),
 Row(Team_to='FC Groningen'),
 Row(Team_to='Hajduk Split'),
 Row(Team_to='Fulham'),
 Row(Team_to='Zenit S-Pb'),
 Row(Team_to='Monaco'),
 Row(Team_to='Fiorentina'),
 Row(Team_to='Saint-Étienne'),
 Row(Team_to='Atlético Madrid'),
 Row(Team_to='CD Cruz Azul'),
 Row(Team_to='Helsingborg'),
 Row(Team_to='Sounders FC\t'),
 Row(Team_to='FC Barcelona'),
 Row(Team_to='West Ham'),
 Row(Team_to='1.FSV Mainz 05'),
 Row(Team_to='Padova'),
 Row(Team_to='Inter'),
 Row(Team_to='Estudiantes'),
 Row(Team_to='Boavista'),
 Row(Team_to='SIPG'),
 Row(Team_to='MK Dons'),
 Row(Team_to='FC Twente'),
 Row(Team_to='PAOK Saloniki'),
 Row(Team_to='Hertha BSC'),
 Row(Team_to='PSV Eindhoven'),
 Row(Team_to='VfL Wolfsburg'),
 Row(Team_to='El-Jaish'),
 Row(Team_to='Olympiacos'),
 Row(Team_to='HB CFFC'),
 Row(Team_to='Spartak Moscow'),
 Row(Team_to='Sporting CP'),
 Row(Team_to='VfB Stuttgart'),
 Row(Team_to='Al Gharafa'),
 Row(Team_to='Ahli'),
 Row(Team_to='Man Utd'),
 Row(Team_to='Los Angeles FC'),
 Row(Team_to='Feyenoord'),
 Row(Team_to='Santos FC'),
 Row(Team_to='Umm Salal'),
 Row(Team_to='Grêmio'),
 Row(Team_to='Real Sociedad'),
 Row(Team_to='River Plate'),
 Row(Team_to='Royal Antwerp'),
 Row(Team_to='FC Sochaux'),
 Row(Team_to='Hércules CF'),
 Row(Team_to='Dnipro'),
 Row(Team_to='Hamburger SV'),
 Row(Team_to='Shakhtar D.'),
 Row(Team_to='FK Moskau'),
 Row(Team_to='América'),
 Row(Team_to='Club Tijuana'),
 Row(Team_to='Sturm Graz'),
 Row(Team_to='CA Osasuna'),
 Row(Team_to='OGC Nice'),
 Row(Team_to='SZ FC'),
 Row(Team_to='Villarreal CF'),
 Row(Team_to='Chivas'),
 Row(Team_to='Pyramids FC'),
 Row(Team_to='Real Zaragoza'),
 Row(Team_to='Wolves'),
 Row(Team_to='Anzhi'),
 Row(Team_to='São Paulo'),
 Row(Team_to='Club Brugge'),
 Row(Team_to='Fenerbahce'),
 Row(Team_to='West Brom'),
 Row(Team_to='Southampton'),
 Row(Team_to='RC Cesena'),
 Row(Team_to='Guingamp'),
 Row(Team_to='Colón'),
 Row(Team_to='Toulouse'),
 Row(Team_to='Slavia Prag'),
 Row(Team_to='Reading'),
 Row(Team_to='Swansea'),
 Row(Team_to='Shabab'),
 Row(Team_to='Red Star'),
 Row(Team_to='Valencia CF'),
 Row(Team_to='FC Nantes'),
 Row(Team_to='Málaga CF'),
 Row(Team_to='Bari'),
 Row(Team_to='E. Frankfurt'),
 Row(Team_to='Spartak V.'),
 Row(Team_to='Paris SG'),
 Row(Team_to='Parma'),
 Row(Team_to='Santos Laguna'),
 Row(Team_to='Preston NE'),
 Row(Team_to='Huddersfield'),
 Row(Team_to='KRC Genk'),
 Row(Team_to='Milan U19'),
 Row(Team_to='Sevilla FC'),
 Row(Team_to='Bor. Dortmund'),
 Row(Team_to="Bor. M'gladbach"),
 Row(Team_to='Loko Moscow'),
 Row(Team_to='Sheffield Utd.'),
 Row(Team_to='TSG Hoffenheim'),
 Row(Team_to='AS Roma'),
 Row(Team_to='Rayo Vallecano'),
 Row(Team_to='Dinamo Moscow'),
 Row(Team_to='Stade Rennais'),
 Row(Team_to='Ipswich'),
 Row(Team_to='Nasr'),
 Row(Team_to='Perugia'),
 Row(Team_to='FC Porto'),
 Row(Team_to='Coimbra'),
 Row(Team_to='Kyoto Sanga'),
 Row(Team_to='Liverpool'),
 Row(Team_to='CSKA Moscow'),
 Row(Team_to='SPAL'),
 Row(Team_to='TJ Quanjian'),
 Row(Team_to='Tom Tomsk'),
 Row(Team_to='SD Luneng'),
 Row(Team_to='Kashiwa Reysol'),
 Row(Team_to='Getafe CF'),
 Row(Team_to='Metalist'),
 Row(Team_to='Pescara'),
 Row(Team_to='Real Murcia'),
 Row(Team_to='Dinamo Zagreb'),
 Row(Team_to='LOSC Lille'),
 Row(Team_to='Galatasaray'),
 Row(Team_to='Celta de Vigo'),
 Row(Team_to='Man Utd U18'),
 Row(Team_to='Hansa Rostock'),
 Row(Team_to='Portsmouth'),
 Row(Team_to='Roda JC'),
 Row(Team_to='Kashima Antlers'),
 Row(Team_to='Kuban Krasnodar'),
 Row(Team_to='Spurs'),
 Row(Team_to='Torino'),
 Row(Team_to='Chelsea'),
 Row(Team_to='Al-Nasr'),
 Row(Team_to='DL Yifang'),
 Row(Team_to='Real Betis'),
 Row(Team_to='Kawasaki Front.'),
 Row(Team_to='Vissel Kobe'),
 Row(Team_to='CSKA Sofia'),
 Row(Team_to='Standard Liège'),
 Row(Team_to='RSC Anderlecht'),
 Row(Team_to='Bay. Leverkusen'),
 Row(Team_to='Vitesse'),
 Row(Team_to='Sheff Wed'),
 Row(Team_to='AC Milan'),
 Row(Team_to='Newcastle'),
 Row(Team_to='Charlton'),
 Row(Team_to='HN Jianye'),
 Row(Team_to='Cagliari Calcio'),
 Row(Team_to='Ittihad'),
 Row(Team_to='Atalanta'),
 Row(Team_to='Alavés'),
 Row(Team_to='Malmö FF'),
 Row(Team_to='AEK Athens'),
 Row(Team_to='Akhmat Grozny'),
 Row(Team_to='Trabzonspor'),
 Row(Team_to='Hull City'),
 Row(Team_to='Nagoya Grampus'),
 Row(Team_to='Watford'),
 Row(Team_to='Everton'),
 Row(Team_to='Sampdoria'),
 Row(Team_to='FCS Bucharest'),
 Row(Team_to='Ascoli'),
 Row(Team_to='CF Pachuca'),
 Row(Team_to='Manisaspor'),
 Row(Team_to='Leeds'),
 Row(Team_to="Newell's"),
 Row(Team_to='Al-Shabab'),
 Row(Team_to='RB Salzburg'),
 Row(Team_to='Atlético-PR'),
 Row(Team_to='JS Suning'),
 Row(Team_to='Benevento'),
 Row(Team_to='Wigan'),
 Row(Team_to='Urawa Reds'),
 Row(Team_to='Man City U18'),
 Row(Team_to='Genclerbirligi'),
 Row(Team_to='Rangers'),
 Row(Team_to='Coventry City'),
 Row(Team_to='US Palermo'),
 Row(Team_to='Gaziantepspor'),
 Row(Team_to='BJ Renhe'),
 Row(Team_to='Le Mans'),
 Row(Team_to='Al-Ain FC'),
 Row(Team_to='Juventus'),
 Row(Team_to='M. Tel Aviv'),
 Row(Team_to='Benfica U19'),
 Row(Team_to='SSC Napoli'),
 Row(Team_to='Benfica'),
 Row(Team_to='GZ R&F'),
 Row(Team_to='Brescia'),
 Row(Team_to='Middlesbrough'),
 Row(Team_to='Como')]

In [23]:
transfers_df.select('League_to').distinct().collect()

[Row(League_to='Serie A'),
 Row(League_to='Jupiler Pro League'),
 Row(League_to=' Uruguay'),
 Row(League_to='Primavera B'),
 Row(League_to='Liga MX Clausura'),
 Row(League_to='Premier League'),
 Row(League_to='Premier Liga'),
 Row(League_to=' Croatia'),
 Row(League_to=' Israel'),
 Row(League_to='Eredivisie'),
 Row(League_to='Liga MX Apertura'),
 Row(League_to='Primera División'),
 Row(League_to='LaLiga'),
 Row(League_to='J1 - 2nd Stage'),
 Row(League_to=' Denmark'),
 Row(League_to='Ligue 2'),
 Row(League_to=' United Arab Emirates'),
 Row(League_to='Bundesliga'),
 Row(League_to=' Qatar'),
 Row(League_to='Championship'),
 Row(League_to='Série A'),
 Row(League_to='J2 League'),
 Row(League_to='LaLiga2'),
 Row(League_to='League One'),
 Row(League_to=' Belgium'),
 Row(League_to='Serie C - B'),
 Row(League_to='Super League'),
 Row(League_to=' Russia'),
 Row(League_to=' Romania'),
 Row(League_to='Stars League'),
 Row(League_to=' Libya'),
 Row(League_to='SuperLiga'),
 Row(League_to='Professional League'),
 Row(League_to=' Korea, South'),
 Row(League_to=' England'),
 Row(League_to=' Bulgaria'),
 Row(League_to='J1 League'),
 Row(League_to=' Argentina'),
 Row(League_to='Second Division (bis 03/04)'),
 Row(League_to=' Saudi Arabia'),
 Row(League_to='Eliteserien'),
 Row(League_to='Serie B'),
 Row(League_to='Superligaen'),
 Row(League_to='Torneo Final'),
 Row(League_to=' Brazil'),
 Row(League_to='Ligue 1'),
 Row(League_to='1.Bundesliga'),
 Row(League_to=' Scotland'),
 Row(League_to=' Portugal'),
 Row(League_to=' Sweden'),
 Row(League_to='2.Bundesliga'),
 Row(League_to='Ledman Liga Pro'),
 Row(League_to=' China'),
 Row(League_to='First Division'),
 Row(League_to=' Czech Republic'),
 Row(League_to=' Venezuela'),
 Row(League_to='MLS'),
 Row(League_to='Süper Lig'),
 Row(League_to='Liga NOS'),
 Row(League_to=' Wales'),
 Row(League_to=' Mexico'),
 Row(League_to='Allsvenskan'),
 Row(League_to='UAE Gulf League'),
 Row(League_to='Premiership'),
 Row(League_to='Segunda División - Segunda Fase')]

In [24]:
transfers_df.select('Transfer_fee').distinct().collect()

[Row(Transfer_fee=450000),
 Row(Transfer_fee=70000000),
 Row(Transfer_fee=8200000),
 Row(Transfer_fee=950000),
 Row(Transfer_fee=4000000),
 Row(Transfer_fee=120000000),
 Row(Transfer_fee=500000),
 Row(Transfer_fee=16700000),
 Row(Transfer_fee=5750000),
 Row(Transfer_fee=850000),
 Row(Transfer_fee=12000000),
 Row(Transfer_fee=7350000),
 Row(Transfer_fee=24500000),
 Row(Transfer_fee=25000000),
 Row(Transfer_fee=18500000),
 Row(Transfer_fee=8250000),
 Row(Transfer_fee=7000000),
 Row(Transfer_fee=125000),
 Row(Transfer_fee=840000),
 Row(Transfer_fee=1750000),
 Row(Transfer_fee=5800000),
 Row(Transfer_fee=4450000),
 Row(Transfer_fee=22800000),
 Row(Transfer_fee=4900000),
 Row(Transfer_fee=2900000),
 Row(Transfer_fee=9000000),
 Row(Transfer_fee=18000000),
 Row(Transfer_fee=20000000),
 Row(Transfer_fee=100000),
 Row(Transfer_fee=26500000),
 Row(Transfer_fee=1900000),
 Row(Transfer_fee=13500000),
 Row(Transfer_fee=None),
 Row(Transfer_fee=4700000),
 Row(Transfer_fee=1600000),
 Row(Transfer_fee=7750000),
 Row(Transfer_fee=3500000),
 Row(Transfer_fee=8000000),
 Row(Transfer_fee=1830000),
 Row(Transfer_fee=30000000),
 Row(Transfer_fee=35000000),
 Row(Transfer_fee=7800000),
 Row(Transfer_fee=15000000),
 Row(Transfer_fee=4400000),
 Row(Transfer_fee=2200000),
 Row(Transfer_fee=150000),
 Row(Transfer_fee=3000000),
 Row(Transfer_fee=2250000),
 Row(Transfer_fee=27000000),
 Row(Transfer_fee=7200000),
 Row(Transfer_fee=5300000),
 Row(Transfer_fee=8300000),
 Row(Transfer_fee=750000),
 Row(Transfer_fee=9800000),
 Row(Transfer_fee=17000000),
 Row(Transfer_fee=3200000),
 Row(Transfer_fee=55000000),
 Row(Transfer_fee=34000000),
 Row(Transfer_fee=51000000),
 Row(Transfer_fee=23000000),
 Row(Transfer_fee=550000),
 Row(Transfer_fee=3700000),
 Row(Transfer_fee=5500000),
 Row(Transfer_fee=2350000),
 Row(Transfer_fee=900000),
 Row(Transfer_fee=50000),
 Row(Transfer_fee=6250000),
 Row(Transfer_fee=7400000),
 Row(Transfer_fee=5000000),
 Row(Transfer_fee=2750000),
 Row(Transfer_fee=13000000),
 Row(Transfer_fee=3800000),
 Row(Transfer_fee=11800000),
 Row(Transfer_fee=6400000),
 Row(Transfer_fee=38000000),
 Row(Transfer_fee=1500000),
 Row(Transfer_fee=50000000),
 Row(Transfer_fee=475000),
 Row(Transfer_fee=250000),
 Row(Transfer_fee=36000000),
 Row(Transfer_fee=65000000),
 Row(Transfer_fee=9200000),
 Row(Transfer_fee=4300000),
 Row(Transfer_fee=60000000),
 Row(Transfer_fee=6200000),
 Row(Transfer_fee=15500000),
 Row(Transfer_fee=4750000),
 Row(Transfer_fee=2700000),
 Row(Transfer_fee=2400000),
 Row(Transfer_fee=2800000),
 Row(Transfer_fee=3600000),
 Row(Transfer_fee=770000),
 Row(Transfer_fee=1700000),
 Row(Transfer_fee=21000000),
 Row(Transfer_fee=9750000),
 Row(Transfer_fee=12500000),
 Row(Transfer_fee=600000),
 Row(Transfer_fee=8280000),
 Row(Transfer_fee=19000000),
 Row(Transfer_fee=8500000),
 Row(Transfer_fee=1000000),
 Row(Transfer_fee=28000000),
 Row(Transfer_fee=4100000),
 Row(Transfer_fee=4350000),
 Row(Transfer_fee=200000),
 Row(Transfer_fee=4250000),
 Row(Transfer_fee=300000),
 Row(Transfer_fee=6600000),
 Row(Transfer_fee=325000),
 Row(Transfer_fee=14500000),
 Row(Transfer_fee=5900000),
 Row(Transfer_fee=29000000),
 Row(Transfer_fee=225000),
 Row(Transfer_fee=5100000),
 Row(Transfer_fee=7250000),
 Row(Transfer_fee=825000),
 Row(Transfer_fee=3750000),
 Row(Transfer_fee=6300000),
 Row(Transfer_fee=6000000),
 Row(Transfer_fee=800000),
 Row(Transfer_fee=45000000),
 Row(Transfer_fee=1850000),
 Row(Transfer_fee=11500000),
 Row(Transfer_fee=11000000),
 Row(Transfer_fee=2600000),
 Row(Transfer_fee=5250000),
 Row(Transfer_fee=32000000),
 Row(Transfer_fee=47500000),
 Row(Transfer_fee=2000000),
 Row(Transfer_fee=1800000),
 Row(Transfer_fee=7500000),
 Row(Transfer_fee=14000000),
 Row(Transfer_fee=2300000),
 Row(Transfer_fee=3300000),
 Row(Transfer_fee=22500000),
 Row(Transfer_fee=5700000),
 Row(Transfer_fee=4800000),
 Row(Transfer_fee=1250000),
 Row(Transfer_fee=5400000),
 Row(Transfer_fee=10000000),
 Row(Transfer_fee=37000000),
 Row(Transfer_fee=1150000),
 Row(Transfer_fee=700000),
 Row(Transfer_fee=28500000),
 Row(Transfer_fee=1400000),
 Row(Transfer_fee=27500000),
 Row(Transfer_fee=54000000),
 Row(Transfer_fee=9400000),
 Row(Transfer_fee=400000),
 Row(Transfer_fee=3250000),
 Row(Transfer_fee=9500000),
 Row(Transfer_fee=4500000),
 Row(Transfer_fee=26000000),
 Row(Transfer_fee=42000000),
 Row(Transfer_fee=40000000),
 Row(Transfer_fee=1300000),
 Row(Transfer_fee=16000000),
 Row(Transfer_fee=10500000),
 Row(Transfer_fee=6700000),
 Row(Transfer_fee=4600000),
 Row(Transfer_fee=5200000),
 Row(Transfer_fee=2500000),
 Row(Transfer_fee=22000000),
 Row(Transfer_fee=52000000),
 Row(Transfer_fee=3400000),
 Row(Transfer_fee=1200000),
 Row(Transfer_fee=17250000),
 Row(Transfer_fee=90000000),
 Row(Transfer_fee=6800000),
 Row(Transfer_fee=17500000),
 Row(Transfer_fee=3850000),
 Row(Transfer_fee=5600000),
 Row(Transfer_fee=7650000),
 Row(Transfer_fee=1100000),
 Row(Transfer_fee=24000000),
 Row(Transfer_fee=33000000),
 Row(Transfer_fee=175000),
 Row(Transfer_fee=16500000),
 Row(Transfer_fee=6500000),
 Row(Transfer_fee=4200000),
 Row(Transfer_fee=100000000)]

In [25]:
transfers_df.select('Season').distinct().collect()

[Row(Season='2000-2001'),
 Row(Season='2003-2004'),
 Row(Season='2011-2012'),
 Row(Season='2012-2013'),
 Row(Season='2004-2005'),
 Row(Season='2013-2014'),
 Row(Season='2010-2011'),
 Row(Season='2016-2017'),
 Row(Season='2007-2008'),
 Row(Season='2014-2015'),
 Row(Season='2006-2007'),
 Row(Season='2017-2018'),
 Row(Season='2002-2003'),
 Row(Season='2018-2019'),
 Row(Season='2005-2006'),
 Row(Season='2009-2010'),
 Row(Season='2008-2009'),
 Row(Season='2015-2016'),
 Row(Season='2001-2002')]

In [26]:
#MOSTRA OS VALORES NULOS DE CADA COLUNA
transfers_df.filter(transfers_df.Age.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [27]:
transfers_df.filter(transfers_df.Transfer_fee.isNull()).show()

+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|                Name|          Position|Age|      Team_from|   League_from|      Team_to|     League_to|   Season|Transfer_fee|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
|           Luís Figo|      Right Winger| 27|   FC Barcelona|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|       Hernán Crespo|    Centre-Forward| 25|          Parma|       Serie A|        Lazio|       Serie A|2000-2001|        null|
|       Marc Overmars|       Left Winger| 27|        Arsenal|Premier League| FC Barcelona|        LaLiga|2000-2001|        null|
|   Gabriel Batistuta|    Centre-Forward| 31|     Fiorentina|       Serie A|      AS Roma|       Serie A|2000-2001|        null|
|      Nicolas Anelka|    Centre-Forward| 21|    Real Madrid|        LaLiga|     Paris SG|       Ligue 1|2000-2001|        null|
|       Rio Ferdinand|       Centre-Back| 22|       West Ham|Premier League|        Leeds|Premier League|2000-2001|        null|
|    Flávio Conceicao|  Central Midfield| 26| Dep. La Coruña|        LaLiga|  Real Madrid|        LaLiga|2000-2001|        null|
|      Savo Milosevic|    Centre-Forward| 26|  Real Zaragoza|        LaLiga|        Parma|       Serie A|2000-2001|        null|
|     David Trézéguet|    Centre-Forward| 22|         Monaco|       Ligue 1|     Juventus|       Serie A|2000-2001|        null|
|       Claudio López|    Centre-Forward| 25|    Valencia CF|        LaLiga|        Lazio|       Serie A|2000-2001|        null|
|Jimmy Floyd Hasse...|    Centre-Forward| 28|Atlético Madrid|       LaLiga2|      Chelsea|Premier League|2000-2001|        null|
|        Gerard López|  Central Midfield| 21|    Valencia CF|        LaLiga| FC Barcelona|        LaLiga|2000-2001|        null|
|               Lucas|    Centre-Forward| 21|    Atlético-PR|        Brazil|Stade Rennais|       Ligue 1|2000-2001|        null|
|         Pablo Aimar|Attacking Midfield| 21|    River Plate|     Argentina|  Valencia CF|        LaLiga|2000-2001|        null|
|       Wálter Samuel|       Centre-Back| 22|   Boca Juniors|     Argentina|      AS Roma|       Serie A|2000-2001|        null|
|       Shabani Nonda|    Centre-Forward| 23|  Stade Rennais|       Ligue 1|       Monaco|       Ligue 1|2000-2001|        null|
|        Robbie Keane|    Centre-Forward| 19|  Coventry City|Premier League|        Inter|       Serie A|2000-2001|        null|
|           José Mari|    Centre-Forward| 21|Atlético Madrid|       LaLiga2|     AC Milan|       Serie A|2000-2001|        null|
|     Jonathan Zebina|       Centre-Back| 21|Cagliari Calcio|       Serie B|      AS Roma|       Serie A|2000-2001|        null|
|             Émerson|Defensive Midfield| 24|Bay. Leverkusen|  1.Bundesliga|      AS Roma|       Serie A|2000-2001|        null|
+--------------------+------------------+---+---------------+--------------+-------------+--------------+---------+------------+
only showing top 20 rows

In [28]:
transfers_df.filter(transfers_df.Name.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [29]:
transfers_df.filter(transfers_df.Position.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [30]:
transfers_df.filter(transfers_df.Team_from.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [31]:
transfers_df.filter(transfers_df.Team_to.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [32]:
transfers_df.filter(transfers_df.League_from.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [33]:
transfers_df.filter(transfers_df.League_to.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [34]:
transfers_df.filter(transfers_df.Season.isNull()).show()

+----+--------+---+---------+-----------+-------+---------+------+------------+
|Name|Position|Age|Team_from|League_from|Team_to|League_to|Season|Transfer_fee|
+----+--------+---+---------+-----------+-------+---------+------+------------+
+----+--------+---+---------+-----------+-------+---------+------+------------+

In [35]:
transfers_df \
    .select("Name","Position","Age","Team_from","League_from", "Team_to","League_to", "Transfer_fee", "Season") \
    .write \
    .mode("overwrite") \
    .partitionBy("Season") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/projeto/transfers.db/deltalake_table/")

In [36]:
spark.stop()