In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, DecimalType, FloatType, DoubleType

In [2]:
#SPARK CONFIG
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

#Warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/demo/silver'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
spark.sql(
    """
    DROP DATABASE IF EXISTS BallonDOr CASCADE
    """
)

DataFrame[]

In [4]:
#CREATE DATABASE CALLED BALLONDOR
spark.sql(
    """
    CREATE DATABASE BallonDOr LOCATION 'hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/'
    """
)

#DROP TABLE
spark.sql(
    """
    DROP TABLE IF EXISTS BallonDOr.deltalake_table
    """
)

#CREATE A DELTALAKE TABLE CALLED BALLONDOR
spark.sql(
    """
    CREATE EXTERNAL TABLE BallonDOr.deltalake_table (
        Rank INT,
        Player STRING,
        Club STRING,
        Nationality STRING,
        Points INT,
        P1 INT,
        P2 INT,
        P3 INT,
        P4 INT,
        P5 INT,
        Votes INT,
        Rankpts DOUBLE
    )
    USING DELTA
    PARTITIONED BY (
         Year INT
    )
    LOCATION 'hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/deltalake_table/'
    """
)

DataFrame[]

In [5]:
from pyspark.sql.functions import col

#READ THE .CSV FILE IN HDFS AND PUT IT IN A DATAFRAME
hdfs_path = "hdfs://hdfs-nn:9000/demo/bronze/BallonDOr.csv"

#DEFINE THE SCHEMA OF THE DATAFRAME
customSchema = StructType([
    StructField("Year", IntegerType(), True),        
    StructField("Rank", IntegerType(), True),
    StructField("Player", StringType(), True),
    StructField("Club", StringType(), True),
    StructField("Nationality", StringType(), True),
    StructField("Points", IntegerType(), True),
    StructField("P1", IntegerType(), True),
    StructField("P2", IntegerType(), True),
    StructField("P3", IntegerType(), True),
    StructField("P4", IntegerType(), True),
    StructField("P5", IntegerType(), True),
    StructField("Votes", IntegerType(), True),
    StructField("Rankpts", DoubleType(), True)
])

st_bd = spark \
    .read \
    .option("delimiter",",") \
    .option("header","true") \
    .schema(customSchema) \
    .csv(hdfs_path) \

st_bd.show()
st_bd.printSchema()

+----+----+------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+
|Year|Rank|            Player|                Club| Nationality|Points| P1| P2| P3| P4| P5|Votes|Rankpts|
+----+----+------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+
|1956|   1|  Stanley Matthews|           Blackpool|     England|    47|  6|  2|  2|  1|  1|   12|   50.0|
|1956|   2|Alfredo Di Stéfano|      Real Madrid CF|       Spain|    44|  5|  3|  2|  0|  1|   11|   25.0|
|1956|   3|      Raymond Kopa|      Real Madrid CF|      France|    33|  1|  2|  3|  5|  1|   12|   16.7|
|1956|   4|     Ferenc Puskás|              Honvéd|     Hungary|    32|  3|  3|  1|  1|  0|    8|   12.5|
|1956|   5|        Lev Yashin|       Dynamo Moskva|Soviet Union|    19|  0|  2|  2|  1|  3|    8|   10.0|
|1956|   6|     József Bozsik|              Honvéd|     Hungary|    15|  0|  3|  1|  0|  0|    4|    8.3|
|1956|   7|      Ernst Ocwirk|           Sampdoria|     Austria|     9|  0|  0|  2|  0|  3|    5|    7.1|
|1956|   8|     Sándor Kocsis|              Honvéd|     Hungary|     6|  1|  0|  0|  0|  1|    2|    6.3|
|1956|   9|   Thadée Cisowski|   Racing Club Paris|      France|     4|  0|  1|  0|  0|  0|    1|    5.6|
|1956|   9|        Ivan Kolev|          CDNA Sofia|    Bulgaria|     4|  0|  0|  1|  0|  1|    2|    5.6|
|1956|   9|      Billy Wright|Wolverhampton Wan...|     England|     4|  0|  0|  1|  0|  1|    2|    5.6|
|1956|  12|           Julinho|          Fiorentina|       Italy|     3|  0|  0|  1|  0|  0|    1|    4.2|
|1956|  13|    Stefan Bozhkov|          CDNA Sofia|    Bulgaria|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|    Duncan Edwards|   Manchester United|     England|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|   Gerhard Hanappi|          Rapid Wien|     Austria|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|    Robert Jonquet|      Stade de Reims|      France|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|   Miguel Montuori|          Fiorentina|       Italy|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|           Pepillo|             Sevilla|       Spain|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|   Juan Schiaffino|               Milan|       Italy|     2|  0|  0|  0|  1|  0|    1|    3.8|
|1956|  13|  Eduard Streltsov|      Torpedo Moscow|Soviet Union|     2|  0|  0|  0|  1|  0|    1|    3.8|
+----+----+------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+
only showing top 20 rows

root
 |-- Year: integer (nullable = true)
 |-- Rank: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Points: integer (nullable = true)
 |-- P1: integer (nullable = true)
 |-- P2: integer (nullable = true)
 |-- P3: integer (nullable = true)
 |-- P4: integer (nullable = true)
 |-- P5: integer (nullable = true)
 |-- Votes: integer (nullable = true)
 |-- Rankpts: double (nullable = true)

In [6]:
#WRITE THE DATAFRAME TO HIVE DELTALAKE TABLE
st_bd \
    .select("Rank","Player","Club","Nationality","Points","P1","P2","P3","P4","P5","Votes","Rankpts","Year") \
    .write \
    .mode("overwrite") \
    .partitionBy("Year") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/deltalake_table/")

In [7]:
spark.sql(
    """
    SELECT *
    FROM BallonDOr.deltalake_table
    """
).show()

+----+--------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+----+
|Rank|              Player|                Club| Nationality|Points| P1| P2| P3| P4| P5|Votes|Rankpts|Year|
+----+--------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+----+
|   1|      Michel Platini|            Juventus|      France|   127| 23|  3|  0|  0|  0|   26|   50.0|1985|
|   2|Preben Elkjar-Larsen|              Verona|     Denmark|    71|  1| 13|  4|  1|  0|   19|   25.0|1985|
|   3|      Bernd Schuster|        FC Barcelona|West Germany|    46|  2|  3|  5|  4|  1|   15|   16.7|1985|
|   4|     Michael Laudrup|            Juventus|     Denmark|    14|  0|  3|  0|  0|  2|    5|   12.5|1985|
|   5|Karl-Heinz Rummen...|      Internazionale|West Germany|    13|  0|  1|  1|  3|  0|    5|   10.0|1985|
|   6|     Zbigniew Boniek|                Roma|      Poland|    12|  0|  0|  1|  4|  1|    6|    8.3|1985|
|   7|      Oleg Protassov|Dnipro Dnipropetr...|Soviet Union|    10|  0|  1|  1|  1|  1|    4|    7.1|1985|
|   8|  Hans-Peter Briegel|              Verona|West Germany|     9|  0|  1|  1|  1|  0|    3|    6.3|1985|
|   9|        Bryan Robson|   Manchester United|     England|     8|  0|  0|  2|  1|  0|    3|    5.6|1985|
|   9|       Rinat Dassaev|      Spartak Moscow|Soviet Union|     8|  0|  0|  2|  0|  2|    4|    5.6|1985|
|  11|         Rudi Völler|       Werder Bremen|West Germany|     7|  0|  0|  2|  0|  1|    3|    4.5|1985|
|  12|      Luis Fernandez| Paris Saint-Germain|      France|     6|  0|  1|  0|  0|  2|    3|    4.2|1985|
|  12|         Soren Lerby|       Bayern Munich|     Denmark|     6|  0|  0|  1|  1|  1|    3|    4.2|1985|
|  14|     Rafael Gordillo|      Real Madrid CF|       Spain|     5|  0|  0|  1|  1|  0|    2|    3.6|1985|
|  14|            Ian Rush|           Liverpool|       Wales|     5|  0|  0|  1|  1|  0|    2|    3.6|1985|
|  16|   Emilio Butragueno|      Real Madrid CF|       Spain|     4|  0|  0|  1|  0|  1|    2|    3.1|1985|
|  16|      Fernando Gomes|            FC Porto|    Portugal|     4|  0|  0|  1|  0|  1|    2|    3.1|1985|
|  18|   Harald Schumacher|          1. FC Köln|West Germany|     3|  0|  0|  1|  0|  0|    1|    2.8|1985|
|  18|        John Sivebak|               Vejle|     Denmark|     3|  0|  0|  1|  0|  0|    1|    2.8|1985|
|  18|       Gheorghe Hagi|Sportul stud. Buc...|     Romania|     3|  0|  0|  0|  1|  1|    2|    2.8|1985|
+----+--------------------+--------------------+------------+------+---+---+---+---+---+-----+-------+----+
only showing top 20 rows

In [8]:
#TRANSFORMATIONS

In [9]:
spark.sql(
    """
    UPDATE BallonDOr.deltalake_table
    SET Nationality = REPLACE(Nationality, 'West Germany', 'Germany')
    """
)

DataFrame[]

In [10]:
spark.sql(
    """
    UPDATE BallonDOr.deltalake_table
    SET Nationality = REPLACE(Nationality, 'Germany (East)', 'Germany')
    """
)

DataFrame[]

In [11]:
spark.sql(
    """
    UPDATE BallonDOr.deltalake_table
    SET Nationality = REPLACE(Nationality, 'Soviet Union', 'Russia')
    """
)

DataFrame[]

In [13]:
spark.sql(
    """
    SELECT *
    FROM BallonDOr.deltalake_table
    """
).show()

+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
|Rank|              Player|             Club|     Nationality|Points| P1| P2| P3| P4| P5|Votes|Rankpts|Year|
+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
|   1|         Omar Sívori|         Juventus|           Italy|    46|  5|  3|  2|  1|  1|   12|   50.0|1961|
|   2|Luis Suárez Miram...|   Internazionale|           Spain|    40|  4|  3|  2|  1|  0|   10|   25.0|1961|
|   3|       Johnny Haynes|           Fulham|         England|    22|  2|  2|  1|  0|  1|    6|   16.7|1961|
|   4|          Lev Yashin|    Dynamo Moscow|          Russia|    21|  3|  0|  2|  0|  0|    5|   12.5|1961|
|   5|       Ferenc Puskás|   Real Madrid CF|         Hungary|    16|  1|  1|  1|  2|  0|    5|   10.0|1961|
|   6|  Alfredo Di Stéfano|   Real Madrid CF|           Spain|    13|  0|  1|  1|  2|  2|    6|    8.3|1961|
|   6|          Uwe Seeler|     Hamburger SV|         Germany|    13|  0|  1|  1|  2|  2|    6|    8.3|1961|
|   8|        John Charles|         Juventus|           Wales|    10|  1|  1|  0|  0|  1|    3|    6.3|1961|
|   9|     Francisco Gento|   Real Madrid CF|           Spain|     7|  0|  1|  1|  0|  0|    2|    5.6|1961|
|  10|      Bobby Charlton|Manchester United|         England|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|     Gerhard Hanappi|       Rapid Wien|         Austria|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|          José Águas|          Benfica|        Portugal|     5|  1|  0|  0|  0|  0|    1|    5.0|1961|
|  10|     José Santamaría|   Real Madrid CF|           Spain|     5|  0|  1|  0|  0|  1|    2|    5.0|1961|
|  10| Dragoslav Šekularac|Red Star Belgrade|      Yugoslavia|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  10|      Josef Masopust|      Dukla Praha|  Czechoslovakia|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  10|       Gyula Grosics|        Tatabánya|         Hungary|     5|  0|  0|  1|  1|  0|    2|    5.0|1961|
|  17|      Mikheil Meskhi|   Dinamo Tbilisi|          Russia|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|             Germano|          Benfica|        Portugal|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|  Danny Blanchflower|Tottenham Hotspur|Northern Ireland|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
|  17|         Kurt Hamrin|       Fiorentina|          Sweden|     4|  0|  1|  0|  0|  0|    1|    2.9|1961|
+----+--------------------+-----------------+----------------+------+---+---+---+---+---+-----+-------+----+
only showing top 20 rows

In [14]:
#DATA QUALITY TREATMENT

In [15]:
#LOAD THE DATAFRAME
st_bd = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/deltalake_table")

In [16]:
#VERIFY IF EXISTS ANY DUPLICATED VALUES
import pyspark.sql.functions as f
st_bd.join(
    st_bd.groupBy(st_bd.columns).agg((f.count("*")>1).cast("int").alias("Duplicate_indicator")),
    on=st_bd.columns,
    how="inner"
).show()

+----+--------------------+------------------+--------------+------+---+---+---+---+---+-----+-------+----+-------------------+
|Rank|              Player|              Club|   Nationality|Points| P1| P2| P3| P4| P5|Votes|Rankpts|Year|Duplicate_indicator|
+----+--------------------+------------------+--------------+------+---+---+---+---+---+-----+-------+----+-------------------+
|   4|          Lev Yashin|     Dynamo Moscow|        Russia|    21|  3|  0|  2|  0|  0|    5|   12.5|1961|                  0|
|  27|        José Augusto|           Benfica|      Portugal|     1|  0|  0|  0|  0|  1|    1|    1.9|1967|                  0|
|   8|  Alexsandr Chivadze|    Dinamo Tbilisi|        Russia|     9|  0|  1|  1|  1|  0|    3|    6.3|1981|                  0|
|  24|       Tommy Gemmell|            Celtic|      Scotland|     1|  0|  0|  0|  0|  1|    1|    2.1|1968|                  0|
|   6|    Jürgen Klinsmann| Tottenham Hotspur|       Germany|    43|  1|  1|  5|  5|  9|   21|    8.3|1994|                  0|
|  19|         Kurt Hamrin|        Fiorentina|        Sweden|     2|  0|  0|  0|  1|  0|    1|    2.6|1962|                  0|
|   3|Luis Suárez Miram...|    Internazionale|         Spain|    45|  4|  3|  3|  2|  0|   12|   16.7|1965|                  0|
|  12|      Zlatko Zahovič|          Valencia|      Slovenia|     8|  1|  0|  1|  0|  0|    2|    4.2|2000|                  0|
|   9|       Gianni Rivera|             Milan|         Italy|    14|  1|  0|  2|  1|  1|    5|    5.6|1964|                  0|
|  16|       José Altafini|         Feyenoord|         Italy|     2|  0|  0|  0|  1|  0|    1|    3.1|1964|                  0|
|   5|    Fernando Chalana|Girondins Bordeaux|      Portugal|    18|  0|  1|  3|  2|  1|    7|   10.0|1984|                  0|
|   1|  Alfredo Di Stéfano|    Real Madrid CF|         Spain|    72| 12|  3|  0|  0|  0|   15|   50.0|1957|                  0|
|   9|     Thadée Cisowski| Racing Club Paris|        France|     4|  0|  1|  0|  0|  0|    1|    5.6|1956|                  0|
|  25|  Paulo Manuel Sousa| Borussia Dortmund|      Portugal|     5|  0|  0|  0|  2|  1|    3|    2.0|1997|                  0|
|  19|     Gianluca Vialli|          Juventus|         Italy|     8|  0|  0|  0|  4|  0|    4|    2.6|1995|                  0|
|   1|    Hristo Stoichkov|      FC Barcelona|      Bulgaria|   210| 28| 13|  5|  1|  1|   48|   50.0|1994|                  0|
|  12|         Milan Baros|         Liverpool|Czech Republic|    11|  0|  1|  0|  3|  1|    5|    4.2|2004|                  0|
|   8|       Gheorghe Hagi|   Steaua Bucarest|       Romania|    11|  0|  1|  1|  2|  0|    4|    6.3|1989|                  0|
|  23|        Gary Lineker| Tottenham Hotspur|       England|     1|  0|  0|  0|  0|  1|    1|    2.2|1989|                  0|
|  15|          Lev Yashin|     Dynamo Moscow|        Russia|     3|  0|  0|  0|  1|  1|    2|    3.3|1965|                  0|
+----+--------------------+------------------+--------------+------+---+---+---+---+---+-----+-------+----+-------------------+
only showing top 20 rows

In [17]:
#COUNT THE NUMBER OF LINES THAT ARE ON THE DELTALAKE TABLE
spark.sql(
    """
    Select COUNT(*) as Number_of_lines FROM BallonDOr.deltalake_table
    """
).show()

+---------------+
|Number_of_lines|
+---------------+
|           1780|
+---------------+

In [18]:
#Identify distinct patterns 
#Column Rank
st_bd.select('Rank').distinct().collect()

[Row(Rank=28),
 Row(Rank=26),
 Row(Rank=27),
 Row(Rank=12),
 Row(Rank=22),
 Row(Rank=1),
 Row(Rank=13),
 Row(Rank=6),
 Row(Rank=16),
 Row(Rank=3),
 Row(Rank=20),
 Row(Rank=5),
 Row(Rank=19),
 Row(Rank=15),
 Row(Rank=9),
 Row(Rank=17),
 Row(Rank=35),
 Row(Rank=4),
 Row(Rank=8),
 Row(Rank=23),
 Row(Rank=7),
 Row(Rank=10),
 Row(Rank=50),
 Row(Rank=25),
 Row(Rank=24),
 Row(Rank=29),
 Row(Rank=21),
 Row(Rank=32),
 Row(Rank=11),
 Row(Rank=33),
 Row(Rank=14),
 Row(Rank=2),
 Row(Rank=30),
 Row(Rank=18)]

In [19]:
#Identify of null values
st_bd.filter(st_bd.Rank.isNull()).count()

0

In [20]:
#Identify distinct patterns 
#Column Player
st_bd.select('Player').distinct().collect()

[Row(Player='Michel Platini'),
 Row(Player='Gianni Rivera'),
 Row(Player='Fabio Cannavaro'),
 Row(Player='Hakan Şükür'),
 Row(Player='Henrik Larsson'),
 Row(Player='Vujadin Boškov'),
 Row(Player='Arturo Vidal'),
 Row(Player='Hans-Peter Briegel'),
 Row(Player='Horst Hrubesch'),
 Row(Player='Vladislav Bogićević'),
 Row(Player='Dida'),
 Row(Player='Ove Kindvall'),
 Row(Player='Edinson Cavani'),
 Row(Player='Nemanja Vidić'),
 Row(Player='Costa Pereira'),
 Row(Player='John Greig'),
 Row(Player='Paul McGrath'),
 Row(Player='Dimitri Payet'),
 Row(Player='Mohamed Salah'),
 Row(Player='Sami Hyypia'),
 Row(Player='Gernot Fraydl'),
 Row(Player='Jürgen Köhler'),
 Row(Player='Mario Jardel'),
 Row(Player='Tibor Nyilasi'),
 Row(Player='Emmanuel Adebayor'),
 Row(Player='Sigfried Held'),
 Row(Player='Robert Gadocha'),
 Row(Player='Ferenc Puskás'),
 Row(Player='Włodzimierz Lubański'),
 Row(Player='Heinz Hermann'),
 Row(Player='Giorgos Sideris'),
 Row(Player='Koke'),
 Row(Player='Jari Litmanen'),
 Row(Player='Míchel del Campo'),
 Row(Player='Roy Makaay'),
 Row(Player='Paul McStay'),
 Row(Player='Andreas Köpke'),
 Row(Player='Franco Causio'),
 Row(Player='Terry McDermott'),
 Row(Player='Karim Benzema'),
 Row(Player='Mirsad Fazlagić'),
 Row(Player='Emil Kostadinov'),
 Row(Player='Ivan Ćurković'),
 Row(Player='Oliver Kahn'),
 Row(Player='Agne Simonsson'),
 Row(Player='Claude Makélélé'),
 Row(Player='Antonio Maceda'),
 Row(Player='Terry Cooper'),
 Row(Player='Christian Vieri'),
 Row(Player='Jakob Kühn'),
 Row(Player='Robert Lewandowski'),
 Row(Player='Rudi Völler'),
 Row(Player='Peter Beardsley'),
 Row(Player='Ivo Viktor'),
 Row(Player='Angelo Domenghini'),
 Row(Player='John Charles'),
 Row(Player='Slava Metreveli'),
 Row(Player='Morten Olsen'),
 Row(Player='Kevin De Bruyne'),
 Row(Player='Joan Segarra'),
 Row(Player='Sándor Kocsis'),
 Row(Player='Marco Tardelli'),
 Row(Player='Emlyn Hughes'),
 Row(Player='Bobby Smith'),
 Row(Player='Andreas Thom'),
 Row(Player='Ladislav Vizek'),
 Row(Player='Dominique Rocheteau'),
 Row(Player='Mário Coluna'),
 Row(Player='Bastian Schweinsteiger'),
 Row(Player='Preben Elkjar-Larsen'),
 Row(Player='Gennaro Gattuso'),
 Row(Player='Sokol Kushta'),
 Row(Player='Roberto Baggio'),
 Row(Player='Pierre Littbarski'),
 Row(Player='Yaya Touré'),
 Row(Player='Willy van de Kerkhof'),
 Row(Player='Luis Enrique Martínez'),
 Row(Player='Fernando Hierro'),
 Row(Player='Jørn Bjerregaard'),
 Row(Player='Erwin Vandenbergh'),
 Row(Player='Paul Van Himst'),
 Row(Player='Bruno Pezzey'),
 Row(Player='Frank Arnesen'),
 Row(Player='Deco'),
 Row(Player='Riyad Mahrez'),
 Row(Player='Jimmy Greaves'),
 Row(Player='Giacinto Facchetti'),
 Row(Player='Rui Jordao'),
 Row(Player='Matthias Sammer'),
 Row(Player='Uli Stielike'),
 Row(Player='Tony Dunne'),
 Row(Player='Rinat Dassaev'),
 Row(Player='Franck Ribéry'),
 Row(Player='Stoicho Mladenov'),
 Row(Player='Anders Linderoth'),
 Row(Player='Radamel Falcao'),
 Row(Player='Peter Schmeichel'),
 Row(Player="Samuel Eto'o"),
 Row(Player='Thomas Ravelli'),
 Row(Player='Marian Masny'),
 Row(Player='Rinus Israël'),
 Row(Player='Antonio Angelillo'),
 Row(Player='Damiano Tommasi'),
 Row(Player='Johan Neeskens'),
 Row(Player='Petar Zhekov'),
 Row(Player='Miloš Milutinović'),
 Row(Player='Xabi Alonso'),
 Row(Player='Peter Reid'),
 Row(Player='Jean-Marc Guillou'),
 Row(Player="N'Golo Kanté"),
 Row(Player='Kevin Keegan'),
 Row(Player='Viv Anderson'),
 Row(Player='Raphaël Varane'),
 Row(Player='Guido Buchwald'),
 Row(Player='José Luis Caminero'),
 Row(Player='Fernando Gomes'),
 Row(Player='Allan Simonsen'),
 Row(Player='Hans Krankl'),
 Row(Player='Willi Schulz'),
 Row(Player='Pat Bonner'),
 Row(Player='David Seaman'),
 Row(Player='Gary Lineker'),
 Row(Player='Angelo Sormani'),
 Row(Player='Ivan Rakitić'),
 Row(Player='Philippe Coutinho'),
 Row(Player='Valery Voronin'),
 Row(Player='Jean Djorkaeff'),
 Row(Player='Stanley Matthews'),
 Row(Player='Luis Suárez Miramontes'),
 Row(Player='Lucien Muller'),
 Row(Player='Peter Shilton'),
 Row(Player='Trifon Ivanov'),
 Row(Player='Eden Hazard'),
 Row(Player='Isco'),
 Row(Player='Edin Džeko'),
 Row(Player='Ali Cemal'),
 Row(Player='Just Fontaine'),
 Row(Player='Pat Jennings'),
 Row(Player='Johnny Giles'),
 Row(Player='Salvatore Schillaci'),
 Row(Player='Lajos Detari'),
 Row(Player='Raúl González'),
 Row(Player='Jesper Olsen'),
 Row(Player='János Farkas'),
 Row(Player='Nwankwo Kanu'),
 Row(Player='Juan Manuel Asensi'),
 Row(Player='Branko Oblak'),
 Row(Player='Thomas Doll'),
 Row(Player='Gary Pallister'),
 Row(Player='Cafu'),
 Row(Player='Gabriel Batistuta'),
 Row(Player='Thiago Silva'),
 Row(Player='Raí Souza de Oliveira'),
 Row(Player='Vasilis Hatzipanagis'),
 Row(Player='Dejan Savićević'),
 Row(Player='Pierre Bernard'),
 Row(Player='Gianluca Vialli'),
 Row(Player='Enzo Scifo'),
 Row(Player='Ezio Pascutti'),
 Row(Player='Robin Van Persie'),
 Row(Player='Norman Whiteside'),
 Row(Player='Mimis Domazos'),
 Row(Player='Sadio Mané'),
 Row(Player='Erich Hof'),
 Row(Player='Luca Toni'),
 Row(Player='Juan Carlos Valerón'),
 Row(Player='Giovane Élber'),
 Row(Player='Rio Ferdinand'),
 Row(Player='Tommy Taylor'),
 Row(Player='Paul Pogba'),
 Row(Player='Leonardo Bonucci'),
 Row(Player='Gordon McQueen'),
 Row(Player='Thomas Hässler'),
 Row(Player='Santillana'),
 Row(Player='Giampiero Boniperti'),
 Row(Player='João Resende Alves'),
 Row(Player='René van de Kerkhof'),
 Row(Player='Ivor Allchurch'),
 Row(Player='José Torres'),
 Row(Player='József Bozsik'),
 Row(Player='Kees Rijvers'),
 Row(Player='Rafael Gordillo'),
 Row(Player='Harald Schumacher'),
 Row(Player='Steve Archibald'),
 Row(Player='Rivaldo'),
 Row(Player='Jean Tigana'),
 Row(Player='Gordon Banks'),
 Row(Player='Karl Koller'),
 Row(Player='Gary Stevens'),
 Row(Player='Zlatan Ibrahimović'),
 Row(Player='Frédéric Kanouté'),
 Row(Player='Jürgen Klinsmann'),
 Row(Player='Dino Zoff'),
 Row(Player='Florea Dumitrache'),
 Row(Player='Martin Chivers'),
 Row(Player='Walter Zenga'),
 Row(Player='Javier Mascherano'),
 Row(Player='John Wark'),
 Row(Player='José Santamaría'),
 Row(Player='Klaus Allofs'),
 Row(Player='Amancio Amaro'),
 Row(Player='Alessandro Mazzola'),
 Row(Player='Helmuth Ducadam'),
 Row(Player='James Rodríguez'),
 Row(Player='Mario Basler'),
 Row(Player='Juninho Pernambucano'),
 Row(Player='Georgi Naydenov'),
 Row(Player='Gordon Strachan'),
 Row(Player='Manfred Kaltz'),
 Row(Player='Júlio César Soares Espíndola'),
 Row(Player='Colin McDonald'),
 Row(Player='Valentin Ivanov'),
 Row(Player='Giorgio Chinaglia'),
 Row(Player='Denis Law'),
 Row(Player='Angelo Peruzzi'),
 Row(Player='Petr Cech'),
 Row(Player='Fabien Barthez'),
 Row(Player='Wesley Sneijder'),
 Row(Player='Luis Figo'),
 Row(Player='David Kipiani'),
 Row(Player='Rógerio Ceni'),
 Row(Player='Thibaut Courtois'),
 Row(Player='Jan Tomaszewski'),
 Row(Player='André Lerond'),
 Row(Player='El-Hadji Diouf'),
 Row(Player='Duncan Edwards'),
 Row(Player='Gonzalo Higuaín'),
 Row(Player='Bryan Robson'),
 Row(Player='Yevgeniy Rudakov'),
 Row(Player='Yildiray Bastürk'),
 Row(Player='Alexis Sánchez'),
 Row(Player='Eusébio'),
 Row(Player='Ruud Van Nistelrooy'),
 Row(Player='Sergi Barjuan'),
 Row(Player='Harry Kane'),
 Row(Player='Jan Koller'),
 Row(Player='Pepe'),
 Row(Player='Mario Götze'),
 Row(Player='Krassimir Balakov'),
 Row(Player='Colin Todd'),
 Row(Player='Andrej Kvašňák'),
 Row(Player='Benny Wendt'),
 Row(Player='Clarence Seedorf'),
 Row(Player='Fedor Cherenkov'),
 Row(Player='Antonios Nikopolidis'),
 Row(Player='Klaus Urbanczyk'),
 Row(Player='Manfred Kaiser'),
 Row(Player='Gyula Grosics'),
 Row(Player='Alain Giresse'),
 Row(Player='Pedro de Felipe'),
 Row(Player='Neymar'),
 Row(Player='Luis Suárez Díaz'),
 Row(Player='Jef Jurion'),
 Row(Player='David Trezeguet'),
 Row(Player='Giovanni Trapattoni'),
 Row(Player='Mesut Özil'),
 Row(Player='Igor Chislenko'),
 Row(Player='Joszef Mlynarczyk'),
 Row(Player='Martin Dahlin'),
 Row(Player='Ryan Giggs'),
 Row(Player='Marcelo Salas'),
 Row(Player='Juan Schiaffino'),
 Row(Player='Éric Abidal'),
 Row(Player='Carlos Tévez'),
 Row(Player='Alessandro Altobelli'),
 Row(Player='Pierino Prati'),
 Row(Player='Anatoli Demianenko'),
 Row(Player='Georgi Dimitrov'),
 Row(Player='Jaap Stam'),
 Row(Player='Ronald Koeman'),
 Row(Player='Lucio'),
 Row(Player='Maxime Bossis'),
 Row(Player='Andriy Shevchenko'),
 Row(Player='Roger Marche'),
 Row(Player='Steven Gerrard'),
 Row(Player='Paulo Futre'),
 Row(Player='Zlatko Zahovič'),
 Row(Player='Francisco Gento'),
 Row(Player='Andras Toroczik'),
 Row(Player='Maniche'),
 Row(Player='Ján Pivarník'),
 Row(Player='Jean Marie Pfaff'),
 Row(Player='Néstor Combin'),
 Row(Player='Adrian Mutu'),
 Row(Player='Luis Garcia'),
 Row(Player='Laurent Blanc'),
 Row(Player='Hristo Stoichkov'),
 Row(Player='Jupp Heynckes'),
 Row(Player='Johnny Haynes'),
 Row(Player='Dudu Georgescu'),
 Row(Player='Andreas Brehme'),
 Row(Player='Davor Šuker'),
 Row(Player='Luis Arconada'),
 Row(Player='Vladimir Muntyan'),
 Row(Player='Xavi'),
 Row(Player="Michel Preud'homme"),
 Row(Player='Kaká'),
 Row(Player='Carlos Manuel Santos'),
 Row(Player='George Best'),
 Row(Player='Eduard Streltsov'),
 Row(Player='Lothar Matthäus'),
 Row(Player='Tomas Brolin'),
 Row(Player='Otto Konrad'),
 Row(Player='Nihat Kahveci'),
 Row(Player='Rubén Baraja'),
 Row(Player='Ludovic Giuly'),
 Row(Player='Carles Rexach'),
 Row(Player='Trevor Brooking'),
 Row(Player='Wilfried Van Moer'),
 Row(Player='Grzegorz Lato'),
 Row(Player='Roberto Bettega'),
 Row(Player='Thomas Müller'),
 Row(Player='Filippo Inzaghi'),
 Row(Player='Thierry Henry'),
 Row(Player='Flórián Albert'),
 Row(Player='Karl-Heinz Schnellinger'),
 Row(Player='Nikola Kotkov'),
 Row(Player='Marcelo'),
 Row(Player='Dumitru Macri'),
 Row(Player='Cesc Fàbregas'),
 Row(Player='Yoann Gourcuff'),
 Row(Player='Rainer Bonhof'),
 Row(Player='Dieter Müller'),
 Row(Player='Basile Boli'),
 Row(Player='Didier Deschamps'),
 Row(Player='Paul Breitner'),
 Row(Player='Zlatko Vujović'),
 Row(Player='Franny Lee'),
 Row(Player='Karl-Heinz Förster'),
 Row(Player='Mario Corso'),
 Row(Player='Yuriy Voynov'),
 Row(Player='Zbigniew Boniek'),
 Row(Player='José Altafini'),
 Row(Player='Charles Antenen'),
 Row(Player='Mikheil Meskhi'),
 Row(Player='Safet Sušić'),
 Row(Player='Torbjörn Nilsson'),
 Row(Player='Francis Lee'),
 Row(Player='Robert Jonquet'),
 Row(Player='Gerhard Hanappi'),
 Row(Player='Juan Esnaider'),
 Row(Player='Barry Hulshoff'),
 Row(Player='Dino Baggio'),
 Row(Player='Károly Sándor'),
 Row(Player='Diego Costa'),
 Row(Player='Uwe Seeler'),
 Row(Player='Gheorghe Hagi'),
 Row(Player='Lilian Thuram'),
 Row(Player='Younis Mahmoud'),
 Row(Player='Hansi Müller'),
 Row(Player='Chris Waddle'),
 Row(Player='Nils Liedholm'),
 Row(Player='Wayne Rooney'),
 Row(Player='Kubilay Turkyilmaz'),
 Row(Player='Diego Godín'),
 Row(Player='Herbert Prohaska'),
 Row(Player='Luigi Riva'),
 Row(Player='Ferenc Bene'),
 Row(Player='Zdenek Nehoda'),
 Row(Player='Dean Saunders'),
 Row(Player='Luís Fabiano Clemente'),
 Row(Player='Ray Kennedy'),
 Row(Player='Ricardo Carvalho'),
 Row(Player='Alisson'),
 Row(Player='Jean Pierre Papin'),
 Row(Player='Alessandro Nesta'),
 Row(Player='Fernando Redondo'),
 Row(Player='Dries Mertens'),
 Row(Player='Ronnie Hellström'),
 Row(Player='Jürgen Grabowski'),
 Row(Player='Titus Buberník'),
 Row(Player='Flemming Povlsen'),
 Row(Player='Vítor Manuel Baía'),
 Row(Player='Gareth Bale'),
 Row(Player='David Beckham'),
 Row(Player='Juan Sebastián Verón'),
 Row(Player='Coen Moulijn'),
 Row(Player='Bruno Conti'),
 Row(Player='Mario Mandžukić'),
 Row(Player='Guy Hellers'),
 Row(Player='Sergei Kiriakov'),
 Row(Player='Robert Herbin'),
 Row(Player='Svatopluk Pluskal'),
 Row(Player='Jan Ceulemans'),
 Row(Player='Fabrizio Ravanelli'),
 Row(Player='Claudio López'),
 Row(Player='Joachim Streich'),
 Row(Player='Paolo Maldini'),
 Row(Player='Sepp Maier'),
 Row(Player='Darko Pančev'),
 Row(Player='Didier Six'),
 Row(Player='Alan Shearer'),
 Row(Player='Luis del Sol'),
 Row(Player='Philipp Lahm'),
 Row(Player='Sergio Busquets'),
 Row(Player='Iker Casillas'),
 Row(Player='Tony Woodcock'),
 Row(Player='Miodrag Belodedici'),
 Row(Player='Alexei Mikhailitchenko'),
 Row(Player='Júlio César'),
 Row(Player='Ivica Osim'),
 Row(Player='Michael Owen'),
 Row(Player='Harry Gregg'),
 Row(Player='Günter Netzer'),
 Row(Player='Uli Hoeneß'),
 Row(Player='David Platt'),
 Row(Player='Antoni Ramallets'),
 Row(Player='John Jensen'),
 Row(Player='Karl-Heinz Rummenigge'),
 Row(Player='Alexsandr Chivadze'),
 Row(Player='Marco van Basten'),
 Row(Player='Josep Guardiola'),
 Row(Player='László Kubala'),
 Row(Player='Alen Bokšić'),
 Row(Player='Anton Polster'),
 Row(Player='Borivoje Kostić'),
 Row(Player='Gerrie Mühren'),
 Row(Player='Tanju Colak'),
 Row(Player='Lev Yashin'),
 Row(Player='Liam Brady'),
 Row(Player='Patrick Kluivert'),
 Row(Player='Roland Sandberg'),
 Row(Player='Arie Haan'),
 Row(Player='Ole Madsen'),
 Row(Player='Vahid Halilhodžić'),
 Row(Player='Manuel Rui Costa'),
 Row(Player='Bebeto'),
 Row(Player='Ally McCoist'),
 Row(Player='Milan Baros'),
 Row(Player='Max Morlock'),
 Row(Player='Dani Alves'),
 Row(Player='Franz Beckenbauer'),
 Row(Player='Ramaz Shengelia'),
 Row(Player='Viktor Ponedelnik'),
 Row(Player='Anthony Yeboah'),
 Row(Player='Fernando Torres'),
 Row(Player='Philippe Albert'),
 Row(Player='Oleg Kuznetsov'),
 Row(Player='Hasan Sas'),
 Row(Player='Victor Ikpeba'),
 Row(Player='Bent Skammelsrud'),
 Row(Player='Don Givens'),
 Row(Player='Giuseppe Signori'),
 Row(Player='Stelios Manolas'),
 Row(Player='Raymond Kopa'),
 Row(Player='Fernando Chalana'),
 Row(Player='Robinho'),
 Row(Player='Antonio Cabrini'),
 Row(Player='Geoff Hurst'),
 Row(Player='Ralf Edström'),
 Row(Player='Edgar Davids'),
 Row(Player='Stéphane Chapuisat'),
 Row(Player='Adriano Ribeiro Leite'),
 Row(Player='Paul Gascoigne'),
 Row(Player='Lajos Tichy'),
 Row(Player='Leonid Buryak'),
 Row(Player='Kylian Mbappé'),
 Row(Player='Roberto Firmino'),
 Row(Player='Diego Forlán'),
 Row(Player='Heinz Flohe'),
 Row(Player='Martin Peters'),
 Row(Player='Metin Oktay'),
 Row(Player='Rui Patrício'),
 Row(Player='Ángel Di María'),
 Row(Player='Omar Sívori'),
 Row(Player='Franco Baresi'),
 Row(Player='Frans Thijssen'),
 Row(Player='Bobby Moore'),
 Row(Player='János Göröcs'),
 Row(Player='Asamoah Gyan'),
 Row(Player='Didier Drogba'),
 Row(Player='Finidi George'),
 Row(Player='Emmanuel Olisadebe'),
 Row(Player='Jean Nicolay'),
 Row(Player='Pape Bouba Diop'),
 Row(Player='Zygfryd Szołtysik'),
 Row(Player='Kennet Andersson'),
 Row(Player='Francesco Totti'),
 Row(Player='Paolo Rossi'),
 Row(Player='Jamie Carragher'),
 Row(Player='Felix Magath'),
 Row(Player='Antal Dunai'),
 Row(Player='Roby Langers'),
 Row(Player='Jim Baxter'),
 Row(Player='Bobby Charlton'),
 Row(Player='Dennis Bergkamp'),
 Row(Player='Berti Vogts'),
 Row(Player='Anton Ondrus'),
 Row(Player='Pavel Nedved'),
 Row(Player='Jaroslav Pollak'),
 Row(Player='Gerard Piqué'),
 Row(Player='Bengt Gustavsson'),
 Row(Player='Michael Laudrup'),
 Row(Player='Oleg Protassov'),
 Row(Player='Vicente Rodríguez'),
 Row(Player='José Águas'),
 Row(Player='Oliver Bierhoff'),
 Row(Player='Wolfgang Overath'),
 Row(Player='Giancarlo Antognoni'),
 Row(Player='Francesco Graziani'),
 Row(Player='Gaizka Mendieta'),
 Row(Player='Miroslav Klose'),
 Row(Player='Eric Cantona'),
 Row(Player='Ruud Geels'),
 Row(Player='Manuel Velázquez'),
 Row(Player='Ernő Solymosi'),
 Row(Player='Horst Nemec'),
 Row(Player='Ian Rush'),
 Row(Player='Graeme Souness'),
 Row(Player='Jimmy McIlroy'),
 Row(Player='Frank Stapleton'),
 Row(Player='Karl Stotz'),
 Row(Player='Emilio Butragueno'),
 Row(Player='Zvonimir Boban'),
 Row(Player='Antoine Griezmann'),
 Row(Player='Aitor Beguiristain'),
 Row(Player='Franz Hasil'),
 Row(Player='Jamie Vardy'),
 Row(Player='Ian Wright'),
 Row(Player='Billy Bremner'),
 Row(Player='Gerard Janvion'),
 Row(Player='Igor Netto'),
 Row(Player='Kurt Hamrin'),
 Row(Player='John Sivebak'),
 Row(Player='Jan Oblak'),
 Row(Player='Angelos Charisteas'),
 Row(Player='George Weah'),
 Row(Player='Simon Tahamata'),
 Row(Player='Klaus Fischer'),
 Row(Player='Jens Lehmann'),
 Row(Player='Glenn Hysén'),
 Row(Player='Alexander Zavarov'),
 Row(Player='Theodoros Zagorakis'),
 Row(Player='Robin van Persie'),
 Row(Player='Josef Masopust'),
 Row(Player='Jimmy Johnstone'),
 Row(Player='Jack Charlton'),
 Row(Player='Andreas Herzog'),
 Row(Player='Francois Van Der Elst'),
 Row(Player='Gaetano Scirea'),
 Row(Player='Oleg Blokhin'),
 Row(Player='David Ginola'),
 Row(Player='Sergio Ramos'),
 Row(Player='Frank Lampard'),
 Row(Player='Piet Keizer'),
 Row(Player='Ruud van Nistelrooy'),
 Row(Player='Marcos Senna'),
 Row(Player='Gerd Müller'),
 Row(Player='Robert Prosinečki'),
 Row(Player='Luis Del Sol'),
 Row(Player='Neville Southall'),
 Row(Player='Tommy Gemmell'),
 Row(Player='Glenn Hoddle'),
 Row(Player='Nikos Mahlas'),
 Row(Player='Ebbe Sand'),
 Row(Player='Willem van Hanegem'),
 Row(Player='Dezső Bundzsák'),
 Row(Player='Viliam Schrojf'),
 Row(Player='Terence Cooper'),
 Row(Player='Pierre-Emerick Aubameyang'),
 Row(Player='Alessandro Del Piero'),
 Row(Player='Diego Ribas da Cunha'),
 Row(Player='Ciro Ferrara'),
 Row(Player='Julinho'),
 Row(Player='Louis Pilot'),
 Row(Player='Ivan Kolev'),
 Row(Player='Patrick Vieira'),
 Row(Player='David de Gea'),
 Row(Player='Andrea Pirlo'),
 Row(Player='Ruud Krol'),
 Row(Player='Yordan Letchkov'),
 Row(Player='Igor Belanov'),
 Row(Player='Thadée Cisowski'),
 Row(Player='Rafael Martín Vásquez'),
 Row(Player='Roberto Carlos'),
 Row(Player='Helmut Haller'),
 Row(Player='Philippe Gondet'),
 Row(Player='Silviu Lung'),
 Row(Player='Manuel Amoros'),
 Row(Player='Peter Lorimer'),
 Row(Player='Rudolf Kučera'),
 Row(Player='Alan Ball'),
 Row(Player='Christian Ziege'),
 Row(Player='Antonin Panenka'),
 Row(Player='John Terry'),
 Row(Player='Ken Jones'),
 Row(Player="David O'Leary"),
 Row(Player='Theo Snelders'),
 Row(Player='Georges Grün'),
 Row(Player='Hansi Kreische'),
 Row(Player='Predrag Mijatovic'),
 Row(Player='Emmanuel Petit'),
 Row(Player='Harry Bild'),
 Row(Player='Miguel Montuori'),
 Row(Player='Lionel Messi'),
 Row(Player='Dragan Džajić'),
 Row(Player='Christopher Brooke'),
 Row(Player='Gianluigi Buffon'),
 Row(Player='Radek Bejbl'),
 Row(Player='Luka Modrić'),
 Row(Player='Campanal'),
 Row(Player='Mats Hummels'),
 Row(Player='Hernán Crespo'),
 Row(Player='Kazimierz Deyna'),
 Row(Player='Rodion Camataru'),
 Row(Player='Jürgen Croy'),
 Row(Player='Dimitar Berbatov'),
 Row(Player='Brian Laudrup'),
 Row(Player='Frankie Vercauteren'),
 Row(Player='Sandro Mazzola'),
 Row(Player='Cesare Maldini'),
 Row(Player='Ake Johansson'),
 Row(Player='Roger Piantoni'),
 Row(Player='Youri Djorkaeff'),
 Row(Player='Cristiano Ronaldo'),
 Row(Player='Pirri'),
 Row(Player='Walter Schachner'),
 Row(Player='Pavel Yakovenko'),
 Row(Player='Ernst Ocwirk'),
 Row(Player='Dragoslav Šekularac'),
 Row(Player='Ronaldo'),
 Row(Player='Andrés Iniesta'),
 Row(Player='Archie Gemmill'),
 Row(Player='Germano'),
 Row(Player='Olaf Thon'),
 Row(Player='Costica Stefanescu'),
 Row(Player='Dimitris Saravakos'),
 Row(Player='Stefan Effenberg'),
 Row(Player='Milan Galić'),
 Row(Player='Mario Balotelli'),
 Row(Player='Guillermo Ochoa'),
 Row(Player='Marcel Raducanu'),
 Row(Player='Josip Skoblar'),
 Row(Player='Manuel Neuer'),
 Row(Player='Ruud Gullit'),
 Row(Player='Siniša Mihajlović'),
 Row(Player='Hugo Lloris'),
 Row(Player='Murtaz Khurtsilava'),
 Row(Player='Zvezdan Čebinac'),
 Row(Player='Patrick Berger'),
 Row(Player='Dwight Yorke'),
 Row(Player='Dragan Stojković'),
 Row(Player='Ladislav Novák'),
 Row(Player='Bernd Schuster'),
 Row(Player='Georgi Asparuhov'),
 Row(Player='Joaquín Peiró'),
 Row(Player='Des Walker'),
 Row(Player='Arjen Robben'),
 Row(Player='Julio Salinas'),
 Row(Player='Karl-Heinz Riedle'),
 Row(Player='Edwin van der Sar'),
 Row(Player='Lennart Skoglund'),
 Row(Player='Zinedine Zidane'),
 Row(Player='Paulo Manuel Sousa'),
 Row(Player='Vladimir Petrović'),

In [21]:
#Identify of null values
st_bd.filter(st_bd.Player.isNull()).count()

0

In [22]:
#Identify distinct patterns 
#Column Club
st_bd.select('Club').distinct().collect()

[Row(Club='Magdeburg'),
 Row(Club='Slovan Bratislava'),
 Row(Club='Kaiserslautern'),
 Row(Club='Karlsruher SC'),
 Row(Club='Schalke 04'),
 Row(Club='Austria Salzburg'),
 Row(Club='Santos'),
 Row(Club='Rapid București'),
 Row(Club='Lokomotiv Sofia'),
 Row(Club='Vitesse Arnhem'),
 Row(Club="Queen's Park Rangers"),
 Row(Club='Košice'),
 Row(Club='Sunderland'),
 Row(Club='Chemie Halle'),
 Row(Club='Górnik Zabrze'),
 Row(Club='Wiener SC'),
 Row(Club='Honvéd'),
 Row(Club='Beveren'),
 Row(Club='Zenit St. Petersburg'),
 Row(Club='Dynamo Moscow'),
 Row(Club='Iraklis'),
 Row(Club='Dynamo Dresden'),
 Row(Club='Austria Wien'),
 Row(Club='MTK Budapest'),
 Row(Club='Manchester United'),
 Row(Club='Legia Warsaw'),
 Row(Club='Sparta Prague'),
 Row(Club='Cardiff City'),
 Row(Club='Wismut Aue'),
 Row(Club='Angers'),
 Row(Club='First Vienna'),
 Row(Club='Arsenal'),
 Row(Club='Bologna'),
 Row(Club='Young Fellows Zürich'),
 Row(Club='Red Star Belgrade'),
 Row(Club='Ajax'),
 Row(Club='Panathinaikos'),
 Row(Club='Nantes'),
 Row(Club='Lazio'),
 Row(Club='AZ Alkmaar'),
 Row(Club='Dinamo Tbilisi'),
 Row(Club='Stoke City'),
 Row(Club='Werder Bremen'),
 Row(Club='FK Sarajevo'),
 Row(Club='Newcastle United'),
 Row(Club='Lokomotiv Plovdiv'),
 Row(Club='ŁKS Łódź'),
 Row(Club='Racing Club Paris'),
 Row(Club='Leeds United'),
 Row(Club='Verona'),
 Row(Club='Villarreal'),
 Row(Club='CDNA Sofia'),
 Row(Club='Paris Saint-Germain'),
 Row(Club='Ferencváros'),
 Row(Club='Burnley'),
 Row(Club='Wuppertaler SV'),
 Row(Club='Spartak Trnava'),
 Row(Club='Rapid Wien'),
 Row(Club='Grasshoppers'),
 Row(Club='Crvena Zvezda'),
 Row(Club='Lokeren'),
 Row(Club='Olympique Lyon'),
 Row(Club='Aston Villa'),
 Row(Club='Caen'),
 Row(Club='Tatabánya'),
 Row(Club='S.L. Benfica'),
 Row(Club='Pisa'),
 Row(Club='Catania'),
 Row(Club='Manchester City'),
 Row(Club='Girondins Bordeaux'),
 Row(Club='AS Saint-Étienne'),
 Row(Club='Stade Français'),
 Row(Club='Vejle'),
 Row(Club='Radnički Belgrade'),
 Row(Club='Ipswich Town'),
 Row(Club='Celtic'),
 Row(Club='Bohemians Praha'),
 Row(Club='Racing Lens'),
 Row(Club='Derby County'),
 Row(Club='Olympique Marseille'),
 Row(Club='Roma'),
 Row(Club='Milan'),
 Row(Club='IFK Göteborg'),
 Row(Club='Cesena'),
 Row(Club='1. FC Nürnberg'),
 Row(Club='Dynamo Kyiv'),
 Row(Club='Vojvodina'),
 Row(Club='1. FC Köln'),
 Row(Club='Torpedo Moscow'),
 Row(Club='AJ Auxerre'),
 Row(Club='Mantova'),
 Row(Club='Real Madrid CF'),
 Row(Club='Hajduk Split'),
 Row(Club='Željezničar Sarajevo'),
 Row(Club='Fulham'),
 Row(Club='Fiorentina'),
 Row(Club='Atlético Madrid'),
 Row(Club='Saint-Étienne'),
 Row(Club='Monaco'),
 Row(Club='FC Barcelona'),
 Row(Club='Padova'),
 Row(Club='1. FC Kaiserslautern'),
 Row(Club='Sao Paulo FC'),
 Row(Club='Boavista'),
 Row(Club='ČH Bratislava'),
 Row(Club='IFK Norrköping'),
 Row(Club='Aberdeen'),
 Row(Club='PSV Eindhoven'),
 Row(Club='Neuchâtel Xamax'),
 Row(Club='Spartak Moscow'),
 Row(Club='Universitatea Craiova'),
 Row(Club='Lierse'),
 Row(Club='Sporting CP'),
 Row(Club='Wolfsburg'),
 Row(Club='Stade de Reims'),
 Row(Club='VfB Stuttgart'),
 Row(Club='Nottingham Forest'),
 Row(Club='Feyenoord'),
 Row(Club='Real Sociedad'),
 Row(Club='Shanghai Shenhua'),
 Row(Club='Rosenborg'),
 Row(Club='Hamburger SV'),
 Row(Club='Cagliari'),
 Row(Club='Nîmes'),
 Row(Club='OGC Nice'),
 Row(Club='La Chaux-de-Fonds'),
 Row(Club='América México'),
 Row(Club='SKA Rostov-on-Don'),
 Row(Club='Southampton'),
 Row(Club='KV Brugge'),
 Row(Club='Leicester City'),
 Row(Club='Flamurtari Vlorë'),
 Row(Club='Sachsenring Zwickau'),
 Row(Club='Anderlecht'),
 Row(Club='Sportul stud. Bucuresti 1'),
 Row(Club='Bayer Leverkusen'),
 Row(Club='FC Nantes'),
 Row(Club='Napoli'),
 Row(Club='Internazionale'),
 Row(Club='Parma'),
 Row(Club='Stal Mielec'),
 Row(Club='Tennis Borussia Berlin'),
 Row(Club='Borussia Mönchengladbach'),
 Row(Club='Tottenham Hotspur'),
 Row(Club='Bayern Munich'),
 Row(Club='Örgryte IS'),
 Row(Club='Wolverhampton Wanderers'),
 Row(Club='Blackburn Rovers'),
 Row(Club='FC Porto'),
 Row(Club='Vasas'),
 Row(Club='Perugia'),
 Row(Club='Liverpool'),
 Row(Club='CSKA Moscow'),
 Row(Club='Dynamo Berlin'),
 Row(Club='Lanerossi Vicenza'),
 Row(Club='Anzhi Makhachkala'),
 Row(Club='Nancy'),
 Row(Club='Scunthorpe United'),
 Row(Club='Dnipro Dnipropetrovsk'),
 Row(Club='Valencia'),
 Row(Club='AS Nancy'),
 Row(Club='Galatasaray'),
 Row(Club='Sporting Gijón'),
 Row(Club='AS Monaco'),
 Row(Club='Torino'),
 Row(Club='Chelsea'),
 Row(Club='Ujpest Dozsa'),
 Row(Club='Bastia'),
 Row(Club='Rot-Weiss Essen'),
 Row(Club='CSKA Sofia'),
 Row(Club='Sevilla'),
 Row(Club='Standard Liège'),
 Row(Club='Dukla Praha'),
 Row(Club='Glasgow Rangers'),
 Row(Club='Olympiakos'),
 Row(Club='Partizan'),
 Row(Club='Atalanta'),
 Row(Club='KV Mechelen'),
 Row(Club='AEK Athens'),
 Row(Club='Al-Gharafa'),
 Row(Club='Trabzonspor'),
 Row(Club='Everton'),
 Row(Club='Borussia Dortmund'),
 Row(Club='West Ham United'),
 Row(Club='Levski Sofia'),
 Row(Club='Sampdoria'),
 Row(Club='Widzew Lodz'),
 Row(Club='Zürich'),
 Row(Club='Örebro'),
 Row(Club='Blackpool'),
 Row(Club='Hallrup IK'),
 Row(Club='Deportivo La Coruna'),
 Row(Club='Steaua Bucarest'),
 Row(Club='Dynamo Moskva'),
 Row(Club='Dinamo București'),
 Row(Club='Juventus'),
 Row(Club='Benfica'),
 Row(Club='Eintracht Frankfurt'),
 Row(Club='Udinese'),
 Row(Club='Brescia'),
 Row(Club='Middlesbrough')]

In [23]:
#Identify of null values
st_bd.filter(st_bd.Club.isNull()).count()

0

In [24]:
#Identify distinct patterns 
#Column Nationality
st_bd.select('Nationality').distinct().collect()

[Row(Nationality='Russia'),
 Row(Nationality='Senegal'),
 Row(Nationality='Sweden'),
 Row(Nationality='Turkey'),
 Row(Nationality='Iraq'),
 Row(Nationality='Germany'),
 Row(Nationality='Ivory Coast'),
 Row(Nationality='France'),
 Row(Nationality='Greece'),
 Row(Nationality='Togo'),
 Row(Nationality='Algeria'),
 Row(Nationality='Wales'),
 Row(Nationality='Argentina'),
 Row(Nationality='Belgium'),
 Row(Nationality='Albania'),
 Row(Nationality='Finland'),
 Row(Nationality='Ghana'),
 Row(Nationality='Chile'),
 Row(Nationality='Czechoslovakia'),
 Row(Nationality='Croatia'),
 Row(Nationality='Nigeria'),
 Row(Nationality='Gabon'),
 Row(Nationality='Italy'),
 Row(Nationality='Norway'),
 Row(Nationality='Spain'),
 Row(Nationality='Denmark'),
 Row(Nationality='Trinidad/Tobago'),
 Row(Nationality='Ireland'),
 Row(Nationality='Ukraine'),
 Row(Nationality='Uruguay'),
 Row(Nationality='Mexico'),
 Row(Nationality='Liberia'),
 Row(Nationality='Yugoslavia'),
 Row(Nationality='Switzerland'),
 Row(Nationality='Czech Republic'),
 Row(Nationality='Brazil'),
 Row(Nationality='Slovenia'),
 Row(Nationality='Luxembourg'),
 Row(Nationality='England'),
 Row(Nationality='Poland'),
 Row(Nationality='Portugal'),
 Row(Nationality='Cameroon'),
 Row(Nationality='Romania'),
 Row(Nationality='Bosnia & Herzegovina'),
 Row(Nationality='Bulgaria'),
 Row(Nationality='Austria'),
 Row(Nationality='Egypt'),
 Row(Nationality='Serbia'),
 Row(Nationality='Scotland'),
 Row(Nationality='Northern Ireland'),
 Row(Nationality='Colombia'),
 Row(Nationality='Hungary'),
 Row(Nationality='Netherlands'),
 Row(Nationality='Mali')]

In [25]:
#Identify of null values
st_bd.filter(st_bd.Nationality.isNull()).count()

0

In [26]:
#Identify distinct patterns 
#Column Points
st_bd.select('Points').distinct().collect()

[Row(Points=148),
 Row(Points=31),
 Row(Points=85),
 Row(Points=137),
 Row(Points=65),
 Row(Points=255),
 Row(Points=53),
 Row(Points=133),
 Row(Points=78),
 Row(Points=108),
 Row(Points=34),
 Row(Points=115),
 Row(Points=81),
 Row(Points=28),
 Row(Points=210),
 Row(Points=27),
 Row(Points=26),
 Row(Points=44),
 Row(Points=12),
 Row(Points=336),
 Row(Points=91),
 Row(Points=222),
 Row(Points=22),
 Row(Points=128),
 Row(Points=122),
 Row(Points=233),
 Row(Points=190),
 Row(Points=225),
 Row(Points=476),
 Row(Points=47),
 Row(Points=140),
 Row(Points=444),
 Row(Points=473),
 Row(Points=None),
 Row(Points=1),
 Row(Points=52),
 Row(Points=13),
 Row(Points=280),
 Row(Points=16),
 Row(Points=6),
 Row(Points=86),
 Row(Points=3),
 Row(Points=142),
 Row(Points=40),
 Row(Points=20),
 Row(Points=169),
 Row(Points=139),
 Row(Points=57),
 Row(Points=54),
 Row(Points=96),
 Row(Points=48),
 Row(Points=5),
 Row(Points=19),
 Row(Points=64),
 Row(Points=41),
 Row(Points=154),
 Row(Points=347),
 Row(Points=15),
 Row(Points=43),
 Row(Points=179),
 Row(Points=37),
 Row(Points=127),
 Row(Points=61),
 Row(Points=316),
 Row(Points=197),
 Row(Points=88),
 Row(Points=107),
 Row(Points=9),
 Row(Points=17),
 Row(Points=72),
 Row(Points=175),
 Row(Points=35),
 Row(Points=114),
 Row(Points=173),
 Row(Points=4),
 Row(Points=55),
 Row(Points=59),
 Row(Points=8),
 Row(Points=39),
 Row(Points=23),
 Row(Points=176),
 Row(Points=7),
 Row(Points=244),
 Row(Points=446),
 Row(Points=136),
 Row(Points=84),
 Row(Points=87),
 Row(Points=277),
 Row(Points=51),
 Row(Points=1840),
 Row(Points=69),
 Row(Points=129),
 Row(Points=166),
 Row(Points=97),
 Row(Points=63),
 Row(Points=10),
 Row(Points=77),
 Row(Points=102),
 Row(Points=361),
 Row(Points=50),
 Row(Points=45),
 Row(Points=38),
 Row(Points=946),
 Row(Points=181),
 Row(Points=80),
 Row(Points=25),
 Row(Points=73),
 Row(Points=24),
 Row(Points=70),
 Row(Points=121),
 Row(Points=62),
 Row(Points=143),
 Row(Points=219),
 Row(Points=29),
 Row(Points=21),
 Row(Points=98),
 Row(Points=60),
 Row(Points=32),
 Row(Points=75),
 Row(Points=221),
 Row(Points=414),
 Row(Points=141),
 Row(Points=145),
 Row(Points=109),
 Row(Points=56),
 Row(Points=170),
 Row(Points=753),
 Row(Points=105),
 Row(Points=188),
 Row(Points=58),
 Row(Points=11),
 Row(Points=33),
 Row(Points=110),
 Row(Points=83),
 Row(Points=71),
 Row(Points=68),
 Row(Points=106),
 Row(Points=116),
 Row(Points=14),
 Row(Points=198),
 Row(Points=123),
 Row(Points=42),
 Row(Points=119),
 Row(Points=2),
 Row(Points=79),
 Row(Points=1262),
 Row(Points=149),
 Row(Points=118),
 Row(Points=281),
 Row(Points=124),
 Row(Points=30),
 Row(Points=66),
 Row(Points=46),
 Row(Points=67),
 Row(Points=144),
 Row(Points=0),
 Row(Points=670),
 Row(Points=745),
 Row(Points=18),
 Row(Points=74),
 Row(Points=36)]

In [27]:
#Identify of null values
st_bd.filter(st_bd.Points.isNull()).count()

115

In [28]:
#Identify distinct patterns 
#Column P1
st_bd.select('P1').distinct().collect()

[Row(P1=31),
 Row(P1=78),
 Row(P1=28),
 Row(P1=26),
 Row(P1=27),
 Row(P1=12),
 Row(P1=22),
 Row(P1=None),
 Row(P1=1),
 Row(P1=13),
 Row(P1=6),
 Row(P1=16),
 Row(P1=3),
 Row(P1=20),
 Row(P1=5),
 Row(P1=19),
 Row(P1=15),
 Row(P1=17),
 Row(P1=9),
 Row(P1=4),
 Row(P1=8),
 Row(P1=23),
 Row(P1=7),
 Row(P1=10),
 Row(P1=77),
 Row(P1=45),
 Row(P1=38),
 Row(P1=25),
 Row(P1=24),
 Row(P1=29),
 Row(P1=21),
 Row(P1=90),
 Row(P1=11),
 Row(P1=33),
 Row(P1=14),
 Row(P1=2),
 Row(P1=79),
 Row(P1=0),
 Row(P1=18)]

In [29]:
#Identify of null values
st_bd.filter(st_bd.P1.isNull()).count()

198

In [30]:
#Identify distinct patterns 
#Column P2
st_bd.select('P2').distinct().collect()

[Row(P2=28),
 Row(P2=27),
 Row(P2=12),
 Row(P2=None),
 Row(P2=1),
 Row(P2=13),
 Row(P2=6),
 Row(P2=16),
 Row(P2=3),
 Row(P2=5),
 Row(P2=41),
 Row(P2=15),
 Row(P2=9),
 Row(P2=17),
 Row(P2=4),
 Row(P2=8),
 Row(P2=23),
 Row(P2=7),
 Row(P2=10),
 Row(P2=45),
 Row(P2=21),
 Row(P2=32),
 Row(P2=33),
 Row(P2=11),
 Row(P2=14),
 Row(P2=2),
 Row(P2=0),
 Row(P2=18)]

In [31]:
#Identify of null values
st_bd.filter(st_bd.P2.isNull()).count()

198

In [32]:
#Identify distinct patterns 
#Column P3
st_bd.select('P3').distinct().collect()

[Row(P3=34),
 Row(P3=26),
 Row(P3=27),
 Row(P3=12),
 Row(P3=22),
 Row(P3=None),
 Row(P3=1),
 Row(P3=16),
 Row(P3=6),
 Row(P3=3),
 Row(P3=20),
 Row(P3=5),
 Row(P3=19),
 Row(P3=15),
 Row(P3=9),
 Row(P3=4),
 Row(P3=8),
 Row(P3=23),
 Row(P3=7),
 Row(P3=10),
 Row(P3=25),
 Row(P3=24),
 Row(P3=11),
 Row(P3=14),
 Row(P3=2),
 Row(P3=0),
 Row(P3=18)]

In [33]:
#Identify of null values
st_bd.filter(st_bd.P3.isNull()).count()

198

In [34]:
#Identify distinct patterns 
#Column P4
st_bd.select('P4').distinct().collect()

[Row(P4=22),
 Row(P4=None),
 Row(P4=1),
 Row(P4=13),
 Row(P4=6),
 Row(P4=3),
 Row(P4=20),
 Row(P4=5),
 Row(P4=19),
 Row(P4=15),
 Row(P4=9),
 Row(P4=17),
 Row(P4=4),
 Row(P4=8),
 Row(P4=7),
 Row(P4=10),
 Row(P4=33),
 Row(P4=11),
 Row(P4=14),
 Row(P4=2),
 Row(P4=30),
 Row(P4=0),
 Row(P4=18)]

In [35]:
#Identify of null values
st_bd.filter(st_bd.P4.isNull()).count()

198

In [36]:
#Identify distinct patterns 
#Column P5
st_bd.select('P5').distinct().collect()

[Row(P5=27),
 Row(P5=12),
 Row(P5=None),
 Row(P5=1),
 Row(P5=6),
 Row(P5=3),
 Row(P5=20),
 Row(P5=5),
 Row(P5=9),
 Row(P5=35),
 Row(P5=4),
 Row(P5=8),
 Row(P5=7),
 Row(P5=10),
 Row(P5=29),
 Row(P5=11),
 Row(P5=2),
 Row(P5=0),
 Row(P5=18)]

In [37]:
#Identify of null values
st_bd.filter(st_bd.P5.isNull()).count()

198

In [38]:
#Identify distinct patterns 
#Column Votes
st_bd.select('Votes').distinct().collect()

[Row(Votes=34),
 Row(Votes=28),
 Row(Votes=76),
 Row(Votes=26),
 Row(Votes=27),
 Row(Votes=44),
 Row(Votes=12),
 Row(Votes=22),
 Row(Votes=47),
 Row(Votes=1),
 Row(Votes=13),
 Row(Votes=6),
 Row(Votes=16),
 Row(Votes=3),
 Row(Votes=20),
 Row(Votes=40),
 Row(Votes=57),
 Row(Votes=96),
 Row(Votes=48),
 Row(Votes=5),
 Row(Votes=163),
 Row(Votes=19),
 Row(Votes=41),
 Row(Votes=15),
 Row(Votes=43),
 Row(Votes=37),
 Row(Votes=107),
 Row(Votes=9),
 Row(Votes=17),
 Row(Votes=35),
 Row(Votes=4),
 Row(Votes=59),
 Row(Votes=8),
 Row(Votes=23),
 Row(Votes=39),
 Row(Votes=7),
 Row(Votes=87),
 Row(Votes=63),
 Row(Votes=10),
 Row(Votes=50),
 Row(Votes=45),
 Row(Votes=38),
 Row(Votes=82),
 Row(Votes=25),
 Row(Votes=113),
 Row(Votes=24),
 Row(Votes=95),
 Row(Votes=29),
 Row(Votes=21),
 Row(Votes=32),
 Row(Votes=90),
 Row(Votes=145),
 Row(Votes=11),
 Row(Votes=33),
 Row(Votes=14),
 Row(Votes=42),
 Row(Votes=2),
 Row(Votes=79),
 Row(Votes=46),
 Row(Votes=0),
 Row(Votes=18),
 Row(Votes=36)]

In [39]:
#Identify of null values
st_bd.filter(st_bd.Votes.isNull()).count()

0

In [40]:
#Identify distinct patterns 
#Column Rankpts
st_bd.select('Rankpts').distinct().collect()

[Row(Rankpts=2.4),
 Row(Rankpts=2.9),
 Row(Rankpts=12.5),
 Row(Rankpts=4.5),
 Row(Rankpts=1.4),
 Row(Rankpts=1.7),
 Row(Rankpts=2.3),
 Row(Rankpts=16.7),
 Row(Rankpts=2.5),
 Row(Rankpts=1.0),
 Row(Rankpts=3.1),
 Row(Rankpts=25.0),
 Row(Rankpts=2.2),
 Row(Rankpts=2.8),
 Row(Rankpts=1.9),
 Row(Rankpts=50.0),
 Row(Rankpts=3.8),
 Row(Rankpts=4.2),
 Row(Rankpts=1.6),
 Row(Rankpts=2.0),
 Row(Rankpts=1.8),
 Row(Rankpts=1.5),
 Row(Rankpts=6.3),
 Row(Rankpts=2.6),
 Row(Rankpts=10.0),
 Row(Rankpts=3.6),
 Row(Rankpts=5.0),
 Row(Rankpts=2.1),
 Row(Rankpts=8.3),
 Row(Rankpts=3.3),
 Row(Rankpts=7.1),
 Row(Rankpts=5.6)]

In [41]:
#Identify of null values
st_bd.filter(st_bd.Rankpts.isNull()).count()

0

In [42]:
#Identify distinct patterns 
#Column Year
st_bd.select('Year').distinct().collect()

[Row(Year=1959),
 Row(Year=1990),
 Row(Year=1975),
 Row(Year=1977),
 Row(Year=2003),
 Row(Year=2007),
 Row(Year=2018),
 Row(Year=1974),
 Row(Year=2015),
 Row(Year=2006),
 Row(Year=1978),
 Row(Year=1961),
 Row(Year=2013),
 Row(Year=1956),
 Row(Year=1997),
 Row(Year=1988),
 Row(Year=1994),
 Row(Year=1968),
 Row(Year=2014),
 Row(Year=1973),
 Row(Year=1979),
 Row(Year=1971),
 Row(Year=1966),
 Row(Year=2004),
 Row(Year=1991),
 Row(Year=1967),
 Row(Year=1969),
 Row(Year=1982),
 Row(Year=1957),
 Row(Year=1996),
 Row(Year=1989),
 Row(Year=1998),
 Row(Year=1963),
 Row(Year=1965),
 Row(Year=1985),
 Row(Year=1960),
 Row(Year=1970),
 Row(Year=2012),
 Row(Year=1987),
 Row(Year=2009),
 Row(Year=2016),
 Row(Year=1995),
 Row(Year=1980),
 Row(Year=2001),
 Row(Year=1972),
 Row(Year=1958),
 Row(Year=1992),
 Row(Year=1983),
 Row(Year=2005),
 Row(Year=1984),
 Row(Year=2000),
 Row(Year=1964),
 Row(Year=1981),
 Row(Year=2010),
 Row(Year=1986),
 Row(Year=2011),
 Row(Year=1976),
 Row(Year=2008),
 Row(Year=2017),
 Row(Year=1999),
 Row(Year=1962),
 Row(Year=2002),
 Row(Year=1993)]

In [43]:
#Identify of null values
st_bd.filter(st_bd.Year.isNull()).count()

0

In [44]:
st_bd \
    .write \
    .mode("overwrite") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/BallonDOr.db/deltalake_table/")