In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
import pyspark.sql.functions as f

In [2]:
#CONFIGURAR O SPARK
warehouse_location = 'hdfs://hdfs-nn:9000/demo/silver/projeto'

builder = SparkSession \
    .builder \
    .appName("Python Spark") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
#DROP DO DATAFRAME
spark.sql(
"""
DROP DATABASE IF EXISTS mls_salary CASCADE
"""
).show()

++
||
++
++

In [4]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+-----------------+
|        namespace|
+-----------------+
|          default|
|             demo|
|     g_mls_salary|
|  gold_mls_salary|
|  gold_sales_demo|
|silver_sales_demo|
|        transfers|
+-----------------+

In [5]:
#CRIAR mls_salary.db
spark.sql(
    """
    CREATE DATABASE mls_salary LOCATION 'hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/'
    """
)

DataFrame[]

In [6]:
#VER TODAS AS DATABASES NO HDFS
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+-----------------+
|        namespace|
+-----------------+
|          default|
|             demo|
|     g_mls_salary|
|  gold_mls_salary|
|  gold_sales_demo|
|       mls_salary|
|silver_sales_demo|
|        transfers|
+-----------------+

In [7]:
#DROP DO DELTALAKE
spark.sql(
    """
    DROP TABLE IF EXISTS mls_salary.deltalake_table
    """
)

DataFrame[]

In [8]:
#CRIAR O DELTALAKE TABLE
spark.sql(
    """
    CREATE EXTERNAL TABLE mls_salary.deltalake_table (
        Club CHAR(100),
        Position CHAR(100),
        Base_Salary CHAR(100)
    )
    USING DELTA
    PARTITIONED BY (
         Season INT
    )
    LOCATION 'hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/deltalake_table/'
    """
)

DataFrame[]

In [9]:
#VER DATALAKE TABLE
spark.sql(
    """
    SELECT *
    FROM mls_salary.deltalake_table
    """
).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
+----+--------+-----------+------+

In [10]:
#LER O FICHEIRO .CSV NO HDFS E COLOCAR NUM DATAFRAME
hdfs_path = "hdfs://hdfs-nn:9000/demo/bronze/projeto/MLS_Salary.csv"
#DEFINIR O ESQUEMA DO DATAFRAME
customSchema = StructType([
    StructField("Season", IntegerType(), True),        
    StructField("Club(grouped)", StringType(), True),
    StructField("Club", StringType(), True),
    StructField("First Name", StringType(), True),
    StructField("Last Name", StringType(), True),
    StructField("Position", StringType(), True),
    StructField("Total Compensation", StringType(), True),
    StructField("Base_Salary", StringType(), True)
])

salary_df = spark \
            .read\
            .option("delimiter",";")\
            .option("header","true")\
            .schema(customSchema) \
            .csv(hdfs_path)
salary_df.show()
salary_df.printSchema()

+------+-------------+-----+----------+--------------+--------+------------------+-----------+
|Season|Club(grouped)| Club|First Name|     Last Name|Position|Total Compensation|Base_Salary|
+------+-------------+-----+----------+--------------+--------+------------------+-----------+
|  2018|          TFC|  TOR| Sebastian|      Giovinco|       F|       $7,115,556 |$5,600,000 |
|  2018|          TFC|  TOR|   Michael|       Bradley|       M|       $6,500,000 |$6,000,000 |
|  2018|         LAFC| LAFC|    Carlos|          Vela|       F|       $6,292,500 |$4,500,000 |
|  2018|          CHI|  CHI|   Bastian|Schweinsteiger|       M|       $6,100,000 |$6,100,000 |
|  2018|          LAG|   LA|   Giovani|    dos Santos|       F|       $6,000,000 |$4,250,000 |
|  2018|          NYC|NYCFC|     David|         Villa|       F|       $5,610,000 |$5,610,000 |
|  2018|          TFC|  TOR|      Jozy|      Altidore|       F|       $5,000,000 |$5,000,000 |
|  2018|          MTL|  MTL|   Ignacio|        Piatti|       M|       $4,713,333 |  $500,000 |
|  2018|          COL|  COL|       Tim|        Howard|      GK|       $2,475,000 |$2,000,000 |
|  2018|          POR|  POR|     Diego|        Valeri|       M|       $2,380,000 |$2,320,000 |
|  2018|          SEA|  SEA|   Nicolas|       Lodeiro|       M|       $2,302,500 |$1,800,000 |
|  2018|          ATL|  ATL|    Miguel|       Almiron|       M|       $2,297,000 |$1,912,500 |
|  2018|          MLS|  MLS|      Yura|     Movsisyan|       F|       $2,073,750 |$1,850,000 |
|  2018|          NYC|NYCFC|      Maxi|       Moralez|       M|       $2,000,000 |$2,000,000 |
|  2018|          LAG|   LA|  Jonathan|    dos Santos|       M|       $2,000,000 |$2,000,000 |
|  2018|          POR|  POR|   Fanendo|           Adi|       F|       $1,933,333 |$1,275,000 |
|  2018|          CHI|  CHI|   Nemanja|       Nikolic|       F|       $1,906,333 |$1,700,000 |
|  2018|          LAG|   LA|    Romain|  Alessandrini|       M|       $1,869,996 |$1,539,996 |
|  2018|          PHI|  PHI|     Borek|        Dockal|       M|       $1,714,286 |$1,714,286 |
|  2018|          COL|  COL|  Shkelzen|         Gashi|       F|       $1,668,750 |$1,575,000 |
+------+-------------+-----+----------+--------------+--------+------------------+-----------+
only showing top 20 rows

root
 |-- Season: integer (nullable = true)
 |-- Club(grouped): string (nullable = true)
 |-- Club: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Total Compensation: string (nullable = true)
 |-- Base_Salary: string (nullable = true)

In [11]:
#VERIFICAR A EXISTENCIA DE VALORES DUPLICADOS NO DELTALAKE
salary_df.join(
    salary_df.groupBy(salary_df.columns).agg((f.count("*")>1).cast("int").alias("Duplicate_indicator")),
    on=salary_df.columns,
    how="inner"
).show()

+------+-------------+-----+----------+---------+--------+------------------+-----------+-------------------+
|Season|Club(grouped)| Club|First Name|Last Name|Position|Total Compensation|Base_Salary|Duplicate_indicator|
+------+-------------+-----+----------+---------+--------+------------------+-----------+-------------------+
|  2018|          HOU|  HOU|    Romell|   Quioto|       F|         $252,500 |  $240,000 |                  0|
|  2017|          RSL|  RSL|      Luis|    Silva|     M-F|         $208,671 |  $200,004 |                  0|
|  2017|          NYC|NYCFC|     Khiry|  Shelton|       F|         $110,450 |   $92,950 |                  0|
|  2017|          PHI|  PHI|   Giliano|Wijnaldum|       D|          $78,337 |   $65,004 |                  0|
|  2017|          FCD|  DAL|     Bryan| Reynolds|       F|          $55,000 |   $53,000 |                  0|
|  2017|          MTL|  MTL|   Michael|  Salazar|       F|          $54,075 |   $54,075 |                  0|
|  2016|           DC|   DC|      Davy|   Arnaud|       M|         $212,500 |  $212,500 |                  0|
|  2016|          PHI|  PHI|   Charlie|   Davies|       F|         $113,316 |  $108,938 |                  0|
|  2016|          POR|  POR|     Alvas|   Powell|       D|         $103,700 |   $95,000 |                  0|
|  2015|          LAG|   LA|      Omar| Gonzalez|       D|       $1,450,000 |$1,200,000 |                  0|
|  2015|          POR|  POR|      Adam| Kwarasey|      GK|         $260,000 |  $260,000 |                  0|
|  2015|          LAG|   LA|    Kenney|   Walker|       M|          $60,000 |   $60,000 |                  0|
|  2014|          POR|  POR|       Ben| Zemanski|       M|          $83,350 |   $80,850 |                  0|
|  2014|          PHI|  PHI|      Fred| Carreiro|       M|          $65,460 |   $65,460 |                  0|
|  2014|          FCD|  DAL|   Stephen|     Keel|       D|          $48,825 |   $48,825 |                  0|
|  2014|          CHV|  CHV|     Akira|     Kaji|       D|          $48,504 |   $48,504 |                  0|
|  2013|           NE|   NE|      Chad|  Barrett|       F|         $110,709 |  $105,000 |                  0|
|  2013|          COL|  COL|    Kamani|     Hill|       M|          $46,500 |   $46,500 |                  0|
|  2013|          PHI|  PHI|       Oka|  Nikolov|      GK|          $46,500 |   $46,500 |                  0|
|  2012|          CHI|  CHI|   Michael|  Videira|       M|          $44,725 |   $44,100 |                  0|
+------+-------------+-----+----------+---------+--------+------------------+-----------+-------------------+
only showing top 20 rows

In [12]:
#ESCREVER A TABELA ANTERIOR NO DELTALAKE
salary_df \
    .select("Club","Position", "Base_Salary", "Season") \
    .write \
    .mode("overwrite") \
    .partitionBy("Season") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/deltalake_table/")

In [13]:
#FAZER VERIFICAÇÕES
spark.sql(
    """
    Select COUNT(*) FROM mls_salary.deltalake_table
    """
).show()

+--------+
|count(1)|
+--------+
|    6219|
+--------+

In [14]:
spark.sql(
    """
    SELECT Season, Club
    FROM mls_salary.deltalake_table
    """
).show()

+------+-----+
|Season| Club|
+------+-----+
|  2017|  ORL|
|  2017|  TOR|
|  2017|  TOR|
|  2017|NYCFC|
|  2017|NYCFC|
|  2017|   LA|
|  2017|  CHI|
|  2017|  TOR|
|  2017|  SEA|
|  2017|  POR|
|  2017|  COL|
|  2017|  ATL|
|  2017|   LA|
|  2017|NYCFC|
|  2017|   LA|
|  2017|  RSL|
|  2017|  CHI|
|  2017|  VAN|
|  2017|  SEA|
|  2017|  POR|
+------+-----+
only showing top 20 rows

In [15]:
#LIMPEZA DA COLUNA BASE_SALARY
spark.sql(
    """    
    UPDATE mls_salary.deltalake_table
    SET Base_Salary = REPLACE(Base_Salary, '$', '')
    """
).show()

++
||
++
++

In [16]:
spark.sql(
    """    
    UPDATE mls_salary.deltalake_table
    SET Base_Salary = REPLACE(Base_Salary, ',', '')
    """
).show()

++
||
++
++

In [17]:
spark.sql(
    """    
    UPDATE mls_salary.deltalake_table
    SET Base_Salary = REPLACE(Base_Salary, ' ', '')
    """
).show()

++
||
++
++

In [18]:
salary_df = spark.read.format("delta").load("hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/deltalake_table/")

In [19]:
#VERIFICAR A EXISTENCIA DE VALORES DUPLICADOS NO DELTALAKE
salary_df.join(
    salary_df.groupBy(salary_df.columns).agg((f.count("*")>1).cast("int").alias("Duplicate_indicator")),
    on=salary_df.columns,
    how="inner"
).show()

+-----+--------+-----------+------+-------------------+
| Club|Position|Base_Salary|Season|Duplicate_indicator|
+-----+--------+-----------+------+-------------------+
|   SJ|       M|     200000|  2018|                  0|
|MNUFC|       F|     135000|  2018|                  0|
|   SJ|       M|     107993|  2018|                  0|
|   KC|       F|      80004|  2018|                  0|
|  CHI|       F|     500000|  2017|                  0|
|  MTL|       M|     450000|  2017|                  0|
|  PHI|       F|     300000|  2017|                  0|
|  DAL|       D|     205000|  2017|                  0|
|  HOU|       D|     110004|  2017|                  0|
|  TOR|       M|      65004|  2017|                  1|
|  TOR|       M|      65004|  2017|                  1|
|   NE|      GK|      54075|  2017|                  0|
|NYCFC|       F|     207276|  2016|                  0|
|  HOU|       F|      85000|  2016|                  0|
|  VAN|       D|     196900|  2013|                  0|
|   KC|       D|     180000|  2013|                  0|
|  CHV|       M|     125000|  2013|                  0|
|   NY|       D|      60000|  2013|                  0|
|   DC|       D|      49613|  2013|                  0|
|   LA|       D|      44000|  2012|                  0|
+-----+--------+-----------+------+-------------------+
only showing top 20 rows

In [20]:
#VER TODOS OS VALORES DISTINCTOS DE CADA COLUNA 
salary_df.select('Club').distinct().collect()

[Row(Club='LA'),
 Row(Club='DC'),
 Row(Club='SJ'),
 Row(Club='VAN'),
 Row(Club='MTL'),
 Row(Club='TFC'),
 Row(Club='CLB'),
 Row(Club='NE'),
 Row(Club='TOR'),
 Row(Club='CHV'),
 Row(Club='POR'),
 Row(Club='KC'),
 Row(Club='SEA'),
 Row(Club='NYRB'),
 Row(Club='DAL'),
 Row(Club='NY'),
 Row(Club='COL'),
 Row(Club='ATL'),
 Row(Club='PHI'),
 Row(Club='LAFC'),
 Row(Club='MLS'),
 Row(Club='RSL'),
 Row(Club='HOU'),
 Row(Club='MNUFC'),
 Row(Club='NYCFC'),
 Row(Club='CHI'),
 Row(Club='ORL')]

In [21]:
salary_df.select('Position').distinct().collect()

[Row(Position='F-D'),
 Row(Position='M-D'),
 Row(Position='F'),
 Row(Position='D-F'),
 Row(Position='M/D'),
 Row(Position=None),
 Row(Position='F-M'),
 Row(Position='M/F'),
 Row(Position='M-F'),
 Row(Position='M'),
 Row(Position='GK'),
 Row(Position='D'),
 Row(Position='D/M'),
 Row(Position='D-M'),
 Row(Position='D/F'),
 Row(Position='MF'),
 Row(Position='F/M')]

In [22]:
salary_df.select('Base_Salary').distinct().collect()

[Row(Base_Salary='825000'),
 Row(Base_Salary='175000'),
 Row(Base_Salary='155004'),
 Row(Base_Salary='615000'),
 Row(Base_Salary='761250'),
 Row(Base_Salary='66000'),
 Row(Base_Salary='57500'),
 Row(Base_Salary='108576'),
 Row(Base_Salary='175008'),
 Row(Base_Salary='189667'),
 Row(Base_Salary='78529'),
 Row(Base_Salary='76320'),
 Row(Base_Salary='44500'),
 Row(Base_Salary='495000'),
 Row(Base_Salary='53000'),
 Row(Base_Salary='68355'),
 Row(Base_Salary='240000'),
 Row(Base_Salary='150000'),
 Row(Base_Salary='142000'),
 Row(Base_Salary='119620'),
 Row(Base_Salary='31260'),
 Row(Base_Salary='242550'),
 Row(Base_Salary='1650000'),
 Row(Base_Salary='440000'),
 Row(Base_Salary='68254'),
 Row(Base_Salary='256500'),
 Row(Base_Salary='222500'),
 Row(Base_Salary='232750'),
 Row(Base_Salary='137812'),
 Row(Base_Salary='111711'),
 Row(Base_Salary='44825'),
 Row(Base_Salary='195300'),
 Row(Base_Salary='92500'),
 Row(Base_Salary='132624'),
 Row(Base_Salary='87120'),
 Row(Base_Salary='81000'),
 Row(Base_Salary='68596'),
 Row(Base_Salary='87000'),
 Row(Base_Salary='760000'),
 Row(Base_Salary='145200'),
 Row(Base_Salary='79000'),
 Row(Base_Salary='57475'),
 Row(Base_Salary='1539996'),
 Row(Base_Salary='555000'),
 Row(Base_Salary='157505'),
 Row(Base_Salary='585000'),
 Row(Base_Salary='335000'),
 Row(Base_Salary='1125000'),
 Row(Base_Salary='202000'),
 Row(Base_Salary='313500'),
 Row(Base_Salary='55385'),
 Row(Base_Salary='1250000'),
 Row(Base_Salary='153000'),
 Row(Base_Salary='840000'),
 Row(Base_Salary='120015'),
 Row(Base_Salary='4000008'),
 Row(Base_Salary='123500'),
 Row(Base_Salary='390000'),
 Row(Base_Salary='76403'),
 Row(Base_Salary='750000'),
 Row(Base_Salary='280000'),
 Row(Base_Salary='65625'),
 Row(Base_Salary='91556'),
 Row(Base_Salary='67942'),
 Row(Base_Salary='67595'),
 Row(Base_Salary='660000'),
 Row(Base_Salary='79200'),
 Row(Base_Salary='46305'),
 Row(Base_Salary='110000'),
 Row(Base_Salary='72500'),
 Row(Base_Salary='55650'),
 Row(Base_Salary='50820'),
 Row(Base_Salary='55125'),
 Row(Base_Salary='40800'),
 Row(Base_Salary='3750000'),
 Row(Base_Salary='130008'),
 Row(Base_Salary='84755'),
 Row(Base_Salary='166250'),
 Row(Base_Salary='56925'),
 Row(Base_Salary='36504'),
 Row(Base_Salary='161250'),
 Row(Base_Salary='5600000'),
 Row(Base_Salary='63425'),
 Row(Base_Salary='129937'),
 Row(Base_Salary='91800'),
 Row(Base_Salary='170625'),
 Row(Base_Salary='292499'),
 Row(Base_Salary='330000'),
 Row(Base_Salary='102245'),
 Row(Base_Salary='49350'),
 Row(Base_Salary='116160'),
 Row(Base_Salary='968736'),
 Row(Base_Salary='35652'),
 Row(Base_Salary='47100'),
 Row(Base_Salary='45050'),
 Row(Base_Salary='650000'),
 Row(Base_Salary='75000'),
 Row(Base_Salary='80004'),
 Row(Base_Salary='69458'),
 Row(Base_Salary='199992'),
 Row(Base_Salary='39600'),
 Row(Base_Salary='107993'),
 Row(Base_Salary='82000'),
 Row(Base_Salary='725000'),
 Row(Base_Salary='187312'),
 Row(Base_Salary='63525'),
 Row(Base_Salary='160650'),
 Row(Base_Salary='64560'),
 Row(Base_Salary='252000'),
 Row(Base_Salary='316008'),
 Row(Base_Salary='235008'),
 Row(Base_Salary='152004'),
 Row(Base_Salary='134400'),
 Row(Base_Salary='47850'),
 Row(Base_Salary='90000'),
 Row(Base_Salary='772669'),
 Row(Base_Salary='335160'),
 Row(Base_Salary='152500'),
 Row(Base_Salary='52250'),
 Row(Base_Salary='58410'),
 Row(Base_Salary='120000'),
 Row(Base_Salary='2227500'),
 Row(Base_Salary='245000'),
 Row(Base_Salary='171000'),
 Row(Base_Salary='132500'),
 Row(Base_Salary='67000'),
 Row(Base_Salary='182600'),
 Row(Base_Salary='215000'),
 Row(Base_Salary='151250'),
 Row(Base_Salary='202500'),
 Row(Base_Salary='65400'),
 Row(Base_Salary='88974'),
 Row(Base_Salary='35500'),
 Row(Base_Salary='99750'),
 Row(Base_Salary='86625'),
 Row(Base_Salary='205000'),
 Row(Base_Salary='580800'),
 Row(Base_Salary='748000'),
 Row(Base_Salary='109890'),
 Row(Base_Salary='223850'),
 Row(Base_Salary='184992'),
 Row(Base_Salary='909600'),
 Row(Base_Salary='209170'),
 Row(Base_Salary='270000'),
 Row(Base_Salary='62508'),
 Row(Base_Salary='195240'),
 Row(Base_Salary='799992'),
 Row(Base_Salary='34650'),
 Row(Base_Salary='148838'),
 Row(Base_Salary='2320000'),
 Row(Base_Salary='1500000'),
 Row(Base_Salary='328000'),
 Row(Base_Salary='132188'),
 Row(Base_Salary='64000'),
 Row(Base_Salary='438000'),
 Row(Base_Salary='780000'),
 Row(Base_Salary='106313'),
 Row(Base_Salary='69996'),
 Row(Base_Salary='412500'),
 Row(Base_Salary='475000'),
 Row(Base_Salary='90250'),
 Row(Base_Salary='172800'),
 Row(Base_Salary='37500'),
 Row(Base_Salary='387000'),
 Row(Base_Salary='275004'),
 Row(Base_Salary='360000'),
 Row(Base_Salary='48825'),
 Row(Base_Salary='116259'),
 Row(Base_Salary='92004'),
 Row(Base_Salary='20100'),
 Row(Base_Salary='2492316'),
 Row(Base_Salary='239808'),
 Row(Base_Salary='434500'),
 Row(Base_Salary='119070'),
 Row(Base_Salary='118248'),
 Row(Base_Salary='320000'),
 Row(Base_Salary='68927'),
 Row(Base_Salary='185000'),
 Row(Base_Salary='134004'),
 Row(Base_Salary='1075000'),
 Row(Base_Salary='143000'),
 Row(Base_Salary='36500'),
 Row(Base_Salary='51870'),
 Row(Base_Salary='1300000'),
 Row(Base_Salary='33000'),
 Row(Base_Salary='193000'),
 Row(Base_Salary='118125'),
 Row(Base_Salary='100008'),
 Row(Base_Salary='77004'),
 Row(Base_Salary='78100'),
 Row(Base_Salary='93713'),
 Row(Base_Salary='45100'),
 Row(Base_Salary='395000'),
 Row(Base_Salary='300000'),
 Row(Base_Salary='146934'),
 Row(Base_Salary='167296'),
 Row(Base_Salary='850000'),
 Row(Base_Salary='122500'),
 Row(Base_Salary='137813'),
 Row(Base_Salary='59535'),
 Row(Base_Salary='48504'),
 Row(Base_Salary='56000'),
 Row(Base_Salary='44550'),
 Row(Base_Salary='104738'),
 Row(Base_Salary='431667'),
 Row(Base_Salary='84996'),
 Row(Base_Salary='617857'),
 Row(Base_Salary='699996'),
 Row(Base_Salary='378000'),
 Row(Base_Salary='145000'),
 Row(Base_Salary='124000'),
 Row(Base_Salary='1140000'),
 Row(Base_Salary='94008'),
 Row(Base_Salary='56650'),
 Row(Base_Salary='6100000'),
 Row(Base_Salary='595000'),
 Row(Base_Salary='250008'),
 Row(Base_Salary='122375'),
 Row(Base_Salary='68915'),
 Row(Base_Salary='325000'),
 Row(Base_Salary='295000'),
 Row(Base_Salary='32604'),
 Row(Base_Salary='36000'),
 Row(Base_Salary='191763'),
 Row(Base_Salary='1863996'),
 Row(Base_Salary='52920'),
 Row(Base_Salary='640000'),
 Row(Base_Salary='67452'),
 Row(Base_Salary='244000'),
 Row(Base_Salary='74813'),
 Row(Base_Salary='182011'),
 Row(Base_Salary='72450'),
 Row(Base_Salary='321000'),
 Row(Base_Salary='65460'),
 Row(Base_Salary='59148'),
 Row(Base_Salary='275000'),
 Row(Base_Salary='185325'),
 Row(Base_Salary='155250'),
 Row(Base_Salary='95016'),
 Row(Base_Salary='56250'),
 Row(Base_Salary='73150'),
 Row(Base_Salary='1400004'),
 Row(Base_Salary='44000'),
 Row(Base_Salary='68906'),
 Row(Base_Salary='162250'),
 Row(Base_Salary='1700000'),
 Row(Base_Salary='80000'),
 Row(Base_Salary='1371429'),
 Row(Base_Salary='162000'),
 Row(Base_Salary='71467'),
 Row(Base_Salary='700000'),
 Row(Base_Salary='157925'),
 Row(Base_Salary='5400000'),
 Row(Base_Salary='192500'),
 Row(Base_Salary='50400'),
 Row(Base_Salary='97389'),
 Row(Base_Salary='174750'),
 Row(Base_Salary='64637'),
 Row(Base_Salary='990000'),
 Row(Base_Salary='549996'),
 Row(Base_Salary='95000'),
 Row(Base_Salary='105427'),
 Row(Base_Salary='177000'),
 Row(Base_Salary='159600'),
 Row(Base_Salary='4500000'),
 Row(Base_Salary='1750000'),
 Row(Base_Salary='460008'),
 Row(Base_Salary='65621'),
 Row(Base_Salary='768000'),
 Row(Base_Salary='112200'),
 Row(Base_Salary='44109'),
 Row(Base_Salary='405000'),
 Row(Base_Salary='4750000'),
 Row(Base_Salary='204996'),
 Row(Base_Salary='39930'),
 Row(Base_Salary='53471'),
 Row(Base_Salary='6000000'),
 Row(Base_Salary='1912500'),
 Row(Base_Salary='1669401'),
 Row(Base_Salary='70987'),
 Row(Base_Salary='4250000'),
 Row(Base_Salary='340008'),
 Row(Base_Salary='185004'),
 Row(Base_Salary='276665'),
 Row(Base_Salary='49500'),
 Row(Base_Salary='2917241'),
 Row(Base_Salary='49600'),
 Row(Base_Salary='580008'),
 Row(Base_Salary='212500'),
 Row(Base_Salary='64900'),
 Row(Base_Salary='58590'),
 Row(Base_Salary='140004'),
 Row(Base_Salary='430000'),
 Row(Base_Salary='138875'),
 Row(Base_Salary='78000'),
 Row(Base_Salary='147000'),
 Row(Base_Salary='121000'),
 Row(Base_Salary='350000'),
 Row(Base_Salary='118750'),
 Row(Base_Salary='195000'),
 Row(Base_Salary='178250'),
 Row(Base_Salary='172500'),
 Row(Base_Salary='101750'),
 Row(Base_Salary='71156'),
 Row(Base_Salary='830000'),
 Row(Base_Salary='999996'),
 Row(Base_Salary='444996'),
 Row(Base_Salary='50004'),
 Row(Base_Salary='35125'),
 Row(Base_Salary='187800'),
 Row(Base_Salary='186450'),
 Row(Base_Salary='1144992'),
 Row(Base_Salary='39000'),
 Row(Base_Salary='66150'),
 Row(Base_Salary='48400'),
 Row(Base_Salary='73566'),
 Row(Base_Salary='38247'),
 Row(Base_Salary='264328'),
 Row(Base_Salary='99996'),
 Row(Base_Salary='65450'),
 Row(Base_Salary='143500'),
 Row(Base_Salary='209633'),
 Row(Base_Salary='148992'),
 Row(Base_Salary='248500'),
 Row(Base_Salary='85910'),
 Row(Base_Salary='87731'),
 Row(Base_Salary='50600'),
 Row(Base_Salary='50930'),
 Row(Base_Salary='36300'),
 Row(Base_Salary='137000'),
 Row(Base_Salary='118000'),
 Row(Base_Salary='33750'),
 Row(Base_Salary='40000'),
 Row(Base_Salary='246750'),
 Row(Base_Salary='1060000'),
 Row(Base_Salary='62000'),
 Row(Base_Salary='69850'),
 Row(Base_Salary='86994'),
 Row(Base_Salary='640008'),
 Row(Base_Salary='425004'),
 Row(Base_Salary='102850'),
 Row(Base_Salary='85690'),
 Row(Base_Salary='391000'),
 Row(Base_Salary='163125'),
 Row(Base_Salary='48510'),
 Row(Base_Salary='4600000'),
 Row(Base_Salary='67008'),
 Row(Base_Salary='265008'),
 Row(Base_Salary='84998'),
 Row(Base_Salary='82500'),
 Row(Base_Salary='71000'),
 Row(Base_Salary='68063'),
 Row(Base_Salary='323000'),
 Row(Base_Salary='1000000'),
 Row(Base_Salary='625000'),
 Row(Base_Salary='325008'),
 Row(Base_Salary='96250'),
 Row(Base_Salary='137750'),
 Row(Base_Salary='1221816'),
 Row(Base_Salary='135850'),
 Row(Base_Salary='465000'),
 Row(Base_Salary='100800'),
 Row(Base_Salary='180500'),
 Row(Base_Salary='55008'),
 Row(Base_Salary='178333'),
 Row(Base_Salary='96498'),
 Row(Base_Salary='290000'),
 Row(Base_Salary='124992'),
 Row(Base_Salary='159759'),
 Row(Base_Salary='310000'),
 Row(Base_Salary='123745'),
 Row(Base_Salary='185220'),
 Row(Base_Salary='82005'),
 Row(Base_Salary='86004'),
 Row(Base_Salary='81730'),
 Row(Base_Salary='131250'),
 Row(Base_Salary='237276'),
 Row(Base_Salary='95550'),
 Row(Base_Salary='54408'),
 Row(Base_Salary='44625'),
 Row(Base_Salary='106480'),
 Row(Base_Salary='133000'),
 Row(Base_Salary='207276'),
 Row(Base_Salary='123996'),
 Row(Base_Salary='70350'),
 Row(Base_Salary='416000'),
 Row(Base_Salary='145475'),
 Row(Base_Salary='124135'),
 Row(Base_Salary='305004'),
 Row(Base_Salary='72050'),
 Row(Base_Salary='37000'),
 Row(Base_Salary='872736'),
 Row(Base_Salary='282000'),
 Row(Base_Salary='58000'),
 Row(Base_Salary='67925'),
 Row(Base_Salary='100000'),
 Row(Base_Salary='2800000'),
 Row(Base_Salary='99000'),
 Row(Base_Salary='262000'),
 Row(Base_Salary='42500'),
 Row(Base_Salary='132300'),
 Row(Base_Salary='15300'),
 Row(Base_Salary='76650'),
 Row(Base_Salary='885000'),
 Row(Base_Salary='709091'),
 Row(Base_Salary='105000'),
 Row(Base_Salary='88000'),
 Row(Base_Salary='1000008'),
 Row(Base_Salary='73600'),
 Row(Base_Salary='429996'),
 Row(Base_Salary='988000'),
 Row(Base_Salary='48828'),
 Row(Base_Salary='93519'),
 Row(Base_Salary='425000'),
 Row(Base_Salary='62500'),
 Row(Base_Salary='49550'),
 Row(Base_Salary='45500'),
 Row(Base_Salary='80575'),
 Row(Base_Salary='72765'),
 Row(Base_Salary='3500000'),
 Row(Base_Salary='90338'),
 Row(Base_Salary='76781'),
 Row(Base_Salary='1150000'),
 Row(Base_Salary='64980'),
 Row(Base_Salary='500004'),
 Row(Base_Salary='190000'),
 Row(Base_Salary='99900'),
 Row(Base_Salary='186725'),
 Row(Base_Salary='201351'),
 Row(Base_Salary='71500'),
 Row(Base_Salary='88800'),
 Row(Base_Salary='231000'),
 Row(Base_Salary='35750'),
 Row(Base_Salary='370000'),
 Row(Base_Salary='1232500'),
 Row(Base_Salary='55000'),
 Row(Base_Salary='70868'),
 Row(Base_Salary='57200'),
 Row(Base_Salary='108500'),
 Row(Base_Salary='77590'),
 Row(Base_Salary='158400'),
 Row(Base_Salary='55605'),
 Row(Base_Salary='52492'),
 Row(Base_Salary='700008'),
 Row(Base_Salary='84000'),
 Row(Base_Salary='75246'),
 Row(Base_Salary='314000'),
 Row(Base_Salary='32600'),
 Row(Base_Salary='33075'),
 Row(Base_Salary='1800000'),
 Row(Base_Salary='135000'),
 Row(Base_Salary='54504'),
 Row(Base_Salary='75554'),
 Row(Base_Salary='53004'),
 Row(Base_Salary='3000000'),
 Row(Base_Salary='85500'),
 Row(Base_Salary='1666668'),
 Row(Base_Salary='172000'),
 Row(Base_Salary='61875'),
 Row(Base_Salary='56700'),
 Row(Base_Salary='173344'),
 Row(Base_Salary='807500'),
 Row(Base_Salary='187500'),
 Row(Base_Salary='290004'),
 Row(Base_Salary='75600'),
 Row(Base_Salary='92373'),
 Row(Base_Salary='279996'),
 Row(Base_Salary='1666667'),
 Row(Base_Salary='466000'),
 Row(Base_Salary='81033'),
 Row(Base_Salary='275500'),
 Row(Base_Salary='129375'),
 Row(Base_Salary='189000'),
 Row(Base_Salary='72504'),
 Row(Base_Salary='1850000'),
 Row(Base_Salary='434004'),
 Row(Base_Salary='54492'),
 Row(Base_Salary='255000'),
 Row(Base_Salary='77500'),
 Row(Base_Salary='35352'),
 Row(Base_Salary='47575'),
 Row(Base_Salary='89303'),
 Row(Base_Salary='164000'),
 Row(Base_Salary='64125'),
 Row(Base_Salary='114000'),
 Row(Base_Salary='577500'),
 Row(Base_Salary='456000'),
 Row(Base_Salary='74250'),
 Row(Base_Salary='82750'),
 Row(Base_Salary='71466'),
 Row(Base_Salary='97185'),
 Row(Base_Salary='174996'),
 Row(Base_Salary='51700'),
 Row(Base_Salary='113400'),
 Row(Base_Salary='251004'),
 Row(Base_Salary='74419'),
 Row(Base_Salary='59630'),
 Row(Base_Salary='470004'),
 Row(Base_Salary='72000'),
 Row(Base_Salary='127500'),
 Row(Base_Salary='51504'),
 Row(Base_Salary='136992'),
 Row(Base_Salary='387500'),
 Row(Base_Salary='365000'),
 Row(Base_Salary='46750'),
 Row(Base_Salary='125000'),
 Row(Base_Salary='95625'),
 Row(Base_Salary='51200'),
 Row(Base_Salary='76200'),
 Row(Base_Salary='1575000'),
 Row(Base_Salary='243750'),
 Row(Base_Salary='66564'),
 Row(Base_Salary='152145'),
 Row(Base_Salary='651500'),
 Row(Base_Salary='505008'),
 Row(Base_Salary='68500'),
 Row(Base_Salary='470000'),
 Row(Base_Salary='243000'),
 Row(Base_Salary='174000'),
 Row(Base_Salary='92220'),
 Row(Base_Salary='178538'),
 Row(Base_Salary='74545'),
 Row(Base_Salary='123900'),
 Row(Base_Salary='38000'),
 Row(Base_Salary='853000'),
 Row(Base_Salary='73125'),
 Row(Base_Salary='78750'),
 Row(Base_Salary='420000'),
 Row(Base_Salary='87725'),
 Row(Base_Salary='135383'),
 Row(Base_Salary='17700'),
 Row(Base_Salary='525000'),
 Row(Base_Salary='173250'),
 Row(Base_Salary='70008'),
 Row(Base_Salary='64500'),
 Row(Base_Salary='66413'),
 Row(Base_Salary='40012'),
 Row(Base_Salary='48125'),
 Row(Base_Salary='159996'),
 Row(Base_Salary='114996'),
 Row(Base_Salary='178000'),
 Row(Base_Salary='48000'),
 Row(Base_Salary='116004'),
 Row(Base_Salary='62794'),
 Row(Base_Salary='194750'),
 Row(Base_Salary='48379'),
 Row(Base_Salary='60375'),
 Row(Base_Salary='6200004'),
 Row(Base_Salary='77009'),
 Row(Base_Salary='43200'),
 Row(Base_Salary='423000'),
 Row(Base_Salary='305460'),
 Row(Base_Salary='103084'),
 Row(Base_Salary='95150'),
 Row(Base_Salary='49875'),
 Row(Base_Salary='213000'),
 Row(Base_Salary='51148'),
 Row(Base_Salary='414000'),
 Row(Base_Salary='86500'),
 Row(Base_Salary='46314'),
 Row(Base_Salary='1145000'),
 Row(Base_Salary='127920'),
 Row(Base_Salary='54996'),
 Row(Base_Salary='40008'),
 Row(Base_Salary='169950'),
 Row(Base_Salary='1025000'),
 Row(Base_Salary='380000'),
 Row(Base_Salary='151500'),
 Row(Base_Salary='146992'),
 Row(Base_Salary='32819'),
 Row(Base_Salary='320004'),
 Row(Base_Salary='144996'),
 Row(Base_Salary='87188'),
 Row(Base_Salary='44004'),
 Row(Base_Salary='56592'),
 Row(Base_Salary='450000'),
 Row(Base_Salary='249996'),
 Row(Base_Salary='225000'),
 Row(Base_Salary='784000'),
 Row(Base_Salary='89250'),
 Row(Base_Salary='78554'),
 Row(Base_Salary='364000'),
 Row(Base_Salary='66500'),
 Row(Base_Salary='248050'),
 Row(Base_Salary='46856'),
 Row(Base_Salary='575004'),
 Row(Base_Salary='67500'),
 Row(Base_Salary='4825000'),
 Row(Base_Salary='312000'),
 Row(Base_Salary='31500'),
 Row(Base_Salary='1425000'),
 Row(Base_Salary='80256'),
 Row(Base_Salary='540000'),
 Row(Base_Salary='352000'),
 Row(Base_Salary='2500000'),
 Row(Base_Salary='682800'),
 Row(Base_Salary='71250'),
 Row(Base_Salary='144704'),
 Row(Base_Salary='389167'),
 Row(Base_Salary='850008'),
 Row(Base_Salary='550000'),
 Row(Base_Salary='6660000'),
 Row(Base_Salary='67200'),
 Row(Base_Salary='73020'),
 Row(Base_Salary='30000'),
 Row(Base_Salary='605000'),
 Row(Base_Salary='560000'),
 Row(Base_Salary='190008'),
 Row(Base_Salary='110004'),
 Row(Base_Salary='93975'),
 Row(Base_Salary='91751'),
 Row(Base_Salary='55200'),
 Row(Base_Salary='30870'),
 Row(Base_Salary='53240'),
 Row(Base_Salary='46725'),
 Row(Base_Salary='181500'),
 Row(Base_Salary='960000'),
 Row(Base_Salary='63250'),
 Row(Base_Salary='250000'),
 Row(Base_Salary='3913008'),
 Row(Base_Salary='208000'),
 Row(Base_Salary='48500'),
 Row(Base_Salary='190004'),
 Row(Base_Salary='190575'),
 Row(Base_Salary='35000'),
 Row(Base_Salary='70000'),
 Row(Base_Salary='105840'),
 Row(Base_Salary='72600'),
 Row(Base_Salary='106880'),
 Row(Base_Salary='42504'),
 Row(Base_Salary='55654'),
 Row(Base_Salary='192000'),
 Row(Base_Salary='106400'),
 Row(Base_Salary='204000'),
 Row(Base_Salary='436364'),
 Row(Base_Salary='165000'),
 Row(Base_Salary='107500'),
 Row(Base_Salary='203500'),
 Row(Base_Salary='57600'),
 Row(Base_Salary='98175'),
 Row(Base_Salary='68750'),
 Row(Base_Salary='247000'),
 Row(Base_Salary='286000'),
 Row(Base_Salary='92000'),
 Row(Base_Salary='178448'),
 Row(Base_Salary='31250'),
 Row(Base_Salary='60060'),
 Row(Base_Salary='42492'),
 Row(Base_Salary='114950'),
 Row(Base_Salary='60000'),
 Row(Base_Salary='108900'),
 Row(Base_Salary='101250'),
 Row(Base_Salary='73975'),
 Row(Base_Salary='73535'),
 Row(Base_Salary='57005'),
 Row(Base_Salary='52596'),
 Row(Base_Salary='41250'),
 Row(Base_Salary='205004'),
 Row(Base_Salary='96000'),
 Row(Base_Salary='68250'),
 Row(Base_Salary='68902'),
 Row(Base_Salary='76000'),
 Row(Base_Salary='54120'),
 Row(Base_Salary='95760'),
 Row(Base_Salary='38456'),
 Row(Base_Salary='2000000'),
 Row(Base_Salary='68907'),
 Row(Base_Salary='1131000'),
 Row(Base_Salary='129996'),
 Row(Base_Salary='327273'),
 Row(Base_Salary='64350'),
 Row(Base_Salary='101500'),
 Row(Base_Salary='54808'),
 Row(Base_Salary='220800'),
 Row(Base_Salary='774996'),
 Row(Base_Salary='800000'),
 Row(Base_Salary='130000'),
 Row(Base_Salary='162500'),
 Row(Base_Salary='166800'),
 Row(Base_Salary='61765'),
 Row(Base_Salary='52360'),
 Row(Base_Salary='79754'),
 Row(Base_Salary='93996'),
 Row(Base_Salary='91245'),
 Row(Base_Salary='82266'),
 Row(Base_Salary='99440'),
 Row(Base_Salary='68970'),
 Row(Base_Salary='49400'),
 Row(Base_Salary='46331'),
 Row(Base_Salary='72930'),
 Row(Base_Salary='68256'),
 Row(Base_Salary='126500'),
 Row(Base_Salary='50000'),
 Row(Base_Salary='54000'),
 Row(Base_Salary='107000'),
 Row(Base_Salary='79750'),
 Row(Base_Salary='460000'),
 Row(Base_Salary='93500'),
 Row(Base_Salary='176400'),
 Row(Base_Salary='116000'),
 Row(Base_Salary='315000'),
 Row(Base_Salary='104500'),
 Row(Base_Salary='136000'),
 Row(Base_Salary='580000'),
 Row(Base_Salary='48300'),
 Row(Base_Salary='43135'),
 Row(Base_Salary='1300008'),
 Row(Base_Salary='747600'),
 Row(Base_Salary='489996'),
 Row(Base_Salary='219996'),
 Row(Base_Salary='125004'),
 Row(Base_Salary='288000'),
 Row(Base_Salary='183756'),
 Row(Base_Salary='136750'),
 Row(Base_Salary='76450'),
 Row(Base_Salary='192585'),
 Row(Base_Salary='54994'),
 Row(Base_Salary='288100'),
 Row(Base_Salary='169992'),
 Row(Base_Salary='152006'),
 Row(Base_Salary='56320'),
 Row(Base_Salary='49612'),
 Row(Base_Salary='97584'),

In [23]:
salary_df.select('Season').distinct().collect()

[Row(Season=2007),
 Row(Season=2018),
 Row(Season=2015),
 Row(Season=2013),
 Row(Season=2014),
 Row(Season=2012),
 Row(Season=2009),
 Row(Season=2016),
 Row(Season=2010),
 Row(Season=2011),
 Row(Season=2008),
 Row(Season=2017)]

In [24]:
#MOSTRA OS VALORES NULOS DE CADA COLUNA
salary_df.filter(salary_df.Club.isNull()).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
+----+--------+-----------+------+

In [25]:
salary_df.filter(salary_df.Position.isNull()).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
|  SJ|    null|      50000|  2015|
+----+--------+-----------+------+

In [26]:
spark.sql(
    """
    SElect *  FROM mls_salary.deltalake_table WHERE Position is null
    """
).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
|  SJ|    null|      50000|  2015|
+----+--------+-----------+------+

In [27]:
salary_df.filter(salary_df.Base_Salary.isNull()).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
+----+--------+-----------+------+

In [28]:
salary_df.filter(salary_df.Season.isNull()).show()

+----+--------+-----------+------+
|Club|Position|Base_Salary|Season|
+----+--------+-----------+------+
+----+--------+-----------+------+

In [29]:
salary_df \
    .select("Club","Position", "Base_Salary", "Season") \
    .write \
    .mode("overwrite") \
    .partitionBy("Season") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/demo/silver/projeto/mls_salary.db/deltalake_table/")

In [30]:
spark.stop()